* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-1 {
  background-color: #ff6262;
}
.nav-item div {
  padding: 5px 10px;
  background-color: #102937;
  border-radius: 8px;
}
.nav-center-p {
  font-size: 16px;
}
.navbar-2 {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9eb;
}
.nav-3 {
  width: 100%;
  height: 22vh;
  background-color: #e7e9eb;
}
.section-1-bg {
  background-image: url(images/Screenshot\ 2025-12-26\ 235844.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 55vh;
}

/* NEED HELP SECTION --  */

.send-msg {
  background: #ff6b6b;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}

.contact {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  padding: 60px 2%;
  flex-wrap: wrap;
}

.form-box {
  flex: 1;
  background-color: #fff0f0;
  padding: 30px;
  border-radius: 20px;
  animation: fadeUp 1s ease;
}

.form-box input,
.form-box textarea {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

textarea {
  height: 100px;
}

.check {
  display: block;
  margin: 15px 0;
}

.info-box {
  flex: 0.8;
}

.img-placeholder img {
  height: 90vh;
  width: 100%;
  background: #e0e0e0;
  border-radius: 15px;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 20px;
}

/* FEATURES */
.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 8%;
  flex-wrap: wrap;
}

.feature {
  background: #fff0f0;
  padding: 30px;
  width: 250px;
  text-align: center;
  border-radius: 20px;
  transition: 0.3s;
}

.feature:hover {
  transform: translateY(-8px);
}

.contact-info {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.info-item-2 {
  background: #fff4df;
  border-radius: 40px;
  padding: 18px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeUp 0.8s ease;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text strong {
  font-size: 16px;
  color: #1f2d3d;
}

.text span {
  font-size: 14px;
  color: #555;
}

.icon-e {
  width: 50px;
  height: 50px;
  background: #ff6b6b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  flex-shrink: 0;
  transition: 0.3s;
}

.info-item-2:hover .icon-e {
  transform: scale(1.1);
}

/* ANIMATIONS */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Responsive */
@media (max-width: 480px) {
  .info-item-2 {
    border-radius: 20px;
  }

  .icon-e {
    width: 45px;
    height: 45px;
  }
}
