/** Table of Content
==================================================
    1.0 - Transition
    1.1 - Blog Base Styles
    1.2 - Blog Type Styles
    1.3 - Pagination
    1.4 - Colors
    1.5 - Responsive
*/

/**
    1.0 - Transition
*/

.blog-entry,
.blog-entry *,
.blog-entry *:after,
.blog-entry *:after,
.pagination a.loadmore-btn:before {
    -webkit-transition: var(--wdt-Ad-Transition);
    transition: var(--wdt-Ad-Transition);
}

/**
    1.1 - Blog Base Styles
*/

.blog-entry {
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    background-color: rgba(var(--wdtQuaternaryColorRgb), .15);
    -webkit-border-radius: var(--wdtRadius_3X);
    border-radius: var(--wdtRadius_3X);
    border-bottom-right-radius: 0;
    transition: var(--wdtBaseTransition);
    -webkit-transition: var(--wdtBaseTransition);
}

.wdt-light-bg .blog-entry {
    background-color: var(--wdtAccentTxtColor);
}

/* article.blog-entry:hover { border-bottom-right-radius: 0; } */
.blog-entry:not(.has-post-thumbnail) {
    padding: 0;
    /* 20px - 30px */
    background-color: rgba(var(--wdtQuaternaryColorRgb), .15);
}

.blog-entry .entry-meta {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .5px;
    margin-bottom: 7px;
}

.blog-entry .entry-body {
    clear: both;
    float: left;
    width: 100%;
}

.blog-entry .entry-body p {
    margin-bottom: 0px;
}

.blog-entry div i[class*="fa"],
.blog-entry div i.pe,
.blog-entry div i,
.blog-entry div.entry-author,
.blog-entry div.entry-date,
.blog-entry div.entry-comments,
.blog-entry div.entry-categories,
.blog-entry div.entry-tags {
    font-size: var(--wdtFontSize_Base);
    text-transform: capitalize;
}


/** Blog Icon */
.blog-entry div.entry-author i:before {
    content: '\e802';
    font-family: "sweetheart-icon";
}

.blog-entry div i[class*="fa"],
.blog-entry div i.pe {
    margin-right: 4px;
}

/** Blog Thumb */

.blog-entry .entry-thumb {
    float: left;
    line-height: 0;
    position: relative;
    width: 100%;
}

.blog-entry .entry-thumb img {
    height: auto;
    max-width: 100%;
}

.blog-entry .entry-thumb .wdt-video-wrap .wp-video {
    width: 100% !important;
}

.blog-entry .entry-thumb,
.blog-entry .entry-thumb img,
.blog-entry .entry-thumb .blog-image,
.blog-entry .entry-thumb .blog-image>a,
.blog-entry .entry-thumb .blog-image>a img {
    border-radius: inherit;
}

.blog-entry.format-quote .entry-thumb,
.blog-entry.format-link .entry-thumb {
    line-height: inherit;
}

.blog-entry.format-quote .entry-quote-inner {
    float: left;
    width: 100%;
}

.blog-entry.format-quote .entry-thumb blockquote {
    float: left;
    padding: 0 20px;
    width: 100%;
}

.blog-entry.post-without-title .entry-title {
    display: none !important;
}

.entry-list-layout .blog-entry div.entry-media-group>div.entry-thumb {
    padding: 0px;
}

.entry-list-layout .blog-entry div.entry-thumb>a,
.entry-list-layout .blog-entry div.entry-thumb>a>img {
    float: left;
    height: 100%;
    width: 100%;
}

.entry-list-layout .blog-entry div.entry-thumb>a>img {
    object-position: center;
    object-fit: cover;
}

.entry-list-layout.entry-right-thumb .blog-entry.format-quote .entry-thumb blockquote {
    padding: 0;
}

.apply-equal-height.tpl-blog-holder:not(.swiper-wrapper) {
    display: flex;
    width: 100%;
    float: left;
    flex-wrap: wrap;
    margin: 0;
}

.apply-equal-height.tpl-blog-holder:not(.swiper-wrapper) .wdt-post-entry .blog-entry {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    position: relative;
    overflow: hidden;
}

.tpl-blog-holder:not(.swiper-wrapper) .wdt-post-entry .blog-entry::before {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 40px;
    height: 40px;
    border-radius: var(--wdtRadius_2X);
    z-index: 0;
    transform: scale3d(1, 1, 1);
    transform-style: preserve-3d;
    transition: var(--wdt-Ad-Transition);
    background: linear-gradient(90deg, transparent 0%, var(--wdtPrimaryColor) 100%);
    will-change: transform;
    background-size: 800%;
    background-position: top left;
    transition-property: transform, background-position;
    transition-duration: .8s;
    right: -40px;
    bottom: -40px;
}

.tpl-blog-holder:not(.swiper-wrapper) .wdt-post-entry .blog-entry:hover::before {
    transform: scale3d(50, 50, 1);
    background-position: top right;
    transition-delay: 0s, .1s;
}

.apply-equal-height.tpl-blog-holder:not(.swiper-wrapper) .column:empty {
    width: 100%;
}

/** Blog Title */

.blog-entry .entry-title h4 span.sticky-post {
    display: inline-flex;
    padding: 5px;
    width: fit-content;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.blog-entry .entry-title h4 span.sticky-post>i:first-child {
    display: flex;
    width: 1em;
    height: 1em;
}

.blog-entry .entry-title h4 span.sticky-post>span {
    font-size: 0;
}

.blog-entry .entry-title h4 {
    text-transform: none;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    margin: 0px;
}

.blog-entry .entry-title h4 a {
    display: inline-block;
    float: none;
}

.blog-entry .entry-title h4,
.blog-entry .entry-title h4>a {
    overflow-wrap: anywhere;
    display: inline;
}

.wdt-post-entry .blog-entry.sticky .entry-title h4,
.wdt-post-entry .blog-entry .entry-title h4:has(> .sticky-post) {
    padding-left: 32px;
}

.wdt-post-entry .blog-entry .entry-title h4 {
    font-size: var(--wdtFontSize_H5);
    position: relative;
}

.page-with-sidebar .wdt-post-entry .blog-entry .entry-title h4 {
    font-size: var(--wdtFontSize_H5);
}

/** Blog Likes Views */

.blog-entry .wdt-like-views>div {
    display: inline-block;
    float: none;
    margin-right: 8px;
}

.blog-entry .wdt-like-views>div:last-child,
.blog-entry .wdt-like-views>div:only-child {
    margin-right: 0;
}

/** Blog Social Share */

.blog-entry .entry-social-share .share {
    border: 1px solid;
    padding-right: 5px;
    padding-left: 20px;
    position: relative;
}

.blog-entry .entry-social-share .share,
.blog-entry .entry-social-share .share * {
    display: inline-block;
    float: none;
}

.blog-entry .entry-social-share .share>i {
    float: left;
    margin: 0;
    text-align: center;
    width: 30px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-entry .entry-social-share .share>ul {
    margin-bottom: 0;
}

.blog-entry .entry-social-share .share>ul li {
    list-style: none;
    padding-bottom: 0;
    margin-right: 2px;
}

.wdt-post-entry .blog-entry .entry-social-share .share>ul {
    padding-left: 15px;
}

/** Blog Buttons */

.blog-entry .entry-button a.wdt-button {
    display: inline-flex;
    float: none;
    font-size: 0;
    text-transform: capitalize;
    mask-image: none;
    -webkit-mask-image: none;
    -webkit-border-radius: var(--wdtRadius_Full);
    border-radius: var(--wdtRadius_Full);
    padding: 10px;
    aspect-ratio: 1;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.blog-entry .entry-button a.wdt-button span {
    font-size: var(--wdtFontSize_H4);
    line-height: 1;
    rotate: -45deg;
}

.blog-entry .entry-button a.wdt-button:hover span {
    rotate: 0deg;
}

.blog-entry .entry-button a.wdt-button span svg {
    fill: currentColor;
    height: 1em;
    line-height: 1;
    margin: 0;
    width: 1em;
}

/** Blog Format Link */

.blog-entry.format-link div.entry-thumb:after {
    display: none;
}

.blog-entry.format-link div.entry-thumb .link-text {
    margin-top: 0px;
    display: none;
}

.blog-entry.format-link .entry-media-group {
    margin-bottom: 14px;
    display: flex;
    flex-wrap: wrap;
}

.blog-entry.format-link .entry-media-group>div {
    flex: 1 1 100%;
}

.blog-entry.format-link .entry-media-group>.entry-thumb {
    margin-bottom: clamp(1.25rem, 1.1058rem + 0.641vw, 1.875rem);
    /* 20px - 30px */
    padding-bottom: 1em;
    border-bottom: 2px solid var(--wdtBorderColor);
}

.blog-entry.format-link .entry-media-group>.entry-thumb .entry-link-wrapper {
    position: relative;
    margin: 1em 0;
}

.blog-entry.format-link .entry-media-group>.entry-thumb .entry-link-wrapper .entry-link-url {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.blog-entry.format-link .entry-media-group>.entry-thumb .entry-link-wrapper .link-author:has(+ .entry-link-url:hover) {
    color: var(--wdtPrimaryColor);
}


/** Blog Format Quote */

.blog-entry.format-quote div.entry-thumb:after {
    display: none;
}

.blog-entry.format-quote .entry-media-group {
    margin-bottom: 14px;
    display: flex;
    flex-wrap: wrap;
}

.blog-entry.format-quote .entry-media-group>div {
    flex: 1 1 100%;
}

.blog-entry.format-quote .entry-media-group>.entry-thumb {
    margin-bottom: clamp(1.25rem, 1.1058rem + 0.641vw, 1.875rem);
    /* 20px - 30px */
    padding-bottom: 1em;
    border-bottom: 2px solid var(--wdtBorderColor);
}

.blog-entry.format-quote .entry-media-group>.entry-thumb .wdticon-quote-left {
    display: none;
}


/** Blog Format */

.blog-entry.type-post .entry-format {
    display: block;
}

.blog-entry .entry-format {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 9;
}

.blog-entry .entry-format a {
    float: left;
    height: 50px;
    line-height: 50px;
    margin: 5px;
    position: relative;
    text-align: center;
    width: 50px;
}

.blog-entry .entry-format a:before {
    font-family: "Sweetheart Icons";
    font-style: normal;
    font-size: 26px;
    height: 100%;
    left: 0;
    line-height: 50px;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.blog-entry .entry-format a:focus {
    outline: thin dotted;
    outline-offset: -5px;
}

.blog-entry.type-post:not(.has-post-thumbnail) .entry-format {
    display: none;
}

.blog-entry.format-standard .entry-format a:before,
.blog-entry.ico-format.format-standard:before {
    content: '\f15c';
}

.blog-entry.format-image .entry-format a:before,
.blog-entry.ico-format.format-image:before {
    content: '\e80d';
}

.blog-entry.format-gallery .entry-format a:before,
.blog-entry.ico-format.format-gallery:before {
    content: '\f1c5';
}

.blog-entry.format-status .entry-format a:before,
.blog-entry.ico-format.format-status:before {
    content: '\e894';
}

.blog-entry.format-link .entry-format a:before,
.blog-entry.ico-format.format-link:before {
    content: '\f0c1';
}

.blog-entry.format-aside .entry-format a:before,
.blog-entry.ico-format.format-aside:before {
    content: '\e812';
}

.blog-entry.format-quote .entry-format a:before,
.blog-entry.ico-format.format-quote:before {
    content: '\f10d';
}

.blog-entry.format-video .entry-format a:before,
.blog-entry.ico-format.format-video:before {
    content: '\f1c8';
}

.blog-entry.format-chat .entry-format a:before,
.blog-entry.ico-format.format-chat:before {
    content: '\f0e6';
}

.blog-entry.format-audio .entry-format a:before,
.blog-entry.ico-format.format-audio:before {
    content: '\f1c7';
}


/** Blog Gallery Slider */

.blog-entry .entry-thumb .bx-wrapper {
    overflow: hidden;
    position: relative;
}

.blog-entry .entry-thumb .bx-controls a {
    bottom: 0;
    filter: alpha(opacity=60);
    font-size: 0;
    height: 50px;
    margin: auto;
    opacity: .6;
    position: absolute;
    top: 0;
    width: 35px;
    z-index: 9;
}

.blog-entry .entry-thumb .bx-controls a:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}

.blog-entry .entry-thumb .bx-controls a.bx-prev:before,
.entry-thumb .bx-controls a.bx-next:before {
    content: '\e85b';
    font-family: "Sweetheart Icons";
    font-size: 14px;
    left: 0;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.blog-entry .entry-thumb .bx-controls a.bx-prev:before {
    content: '\e85a';
}

.blog-entry .entry-thumb .bx-controls a.bx-prev {
    left: -35px;
}

.blog-entry .entry-thumb .bx-controls a.bx-next {
    right: -35px;
}

.blog-entry .entry-thumb:hover .bx-controls a.bx-prev {
    left: 15px;
}

.blog-entry .entry-thumb:hover .bx-controls a.bx-next {
    right: 15px;
}

.blog-entry .entry-gallery-post-slider li {
    display: inline;
}

.blog-entry ul.entry-gallery-post-slider {
    float: left;
    margin-bottom: 0;
    width: 100%;
    padding-left: 0;
}

.blog-entry.format-gallery .entry-thumb .bx-wrapper .bx-viewport,
.blog-entry.format-gallery .entry-thumb .bx-wrapper .bx-viewport * {
    transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    -webkit-transition: none;
}

.entry-list-layout .blog-entry .entry-thumb .bx-wrapper,
.entry-list-layout .blog-entry .entry-thumb .bx-wrapper .bx-viewport,
.entry-list-layout .blog-entry .entry-thumb .bx-wrapper .bx-viewport * {
    height: 100%;
    padding: 0;
}

.entry-list-layout .blog-entry .entry-thumb .bx-wrapper .bx-viewport img {
    object-fit: cover;
}

/** Blog Columns */

.tpl-blog-holder {
    clear: both;
    float: none;
    margin: 0 -15px;
    padding: 0;
    width: auto;
}

.tpl-blog-holder:not(.swiper-wrapper) {
    display: block;
}

.tpl-blog-holder .column {
    margin-left: 0;
    padding: 15px;
}

.tpl-blog-holder .column:empty {
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.tpl-blog-holder .wdt-one-third,
.tpl-blog-holder .column.no-space.wdt-one-third {
    width: 33.33%;
}

.tpl-blog-holder .wdt-one-half,
.tpl-blog-holder .column.no-space.wdt-one-half {
    width: 50%;
}

.tpl-blog-holder .wdt-one-column,
.tpl-blog-holder .column.no-space.wdt-one-column {
    width: 100%;
}

.tpl-blog-holder.apply-no-space {
    margin: 0;
}

.tpl-blog-holder.apply-no-space .column {
    padding: 0;
    margin: 0;
    min-height: auto;
    clear: none;
}

.page-with-sidebar .tpl-blog-holder {
    margin-top: -10px;
}

.grid-sizer.column {
    margin: 0;
    min-height: 0;
    padding: 0;
}

.tpl-blog-holder .column {
    margin-left: 0;
    margin-right: 0;
}

.tpl-blog-holder .column .blog-entry,
.tpl-blog-holder .wpb_column .blog-entry {
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
}

.column .blog-entry,
.wpb_column .blog-entry,
.wdt-one-column.column .blog-entry,
.wdt-one-column.wpb_column .blog-entry {
    margin-bottom: 30px;
}

.tpl-blog-holder .wdt-one-column.column:last-child,
.column.no-space .blog-entry,
.wpb_column.no-space .blog-entry,
.wdt-one-column.column:last-child .blog-entry,
.wdt-one-column.wpb_column:last-child .blog-entry {
    margin-bottom: 0;
}



/** Meta Group */

.blog-entry>div {
    position: relative;
    z-index: 1;
}

.blog-entry div.entry-meta-group {
    display: block;
    float: left;
    width: auto;
    margin: -4px -8px;
}

.blog-entry div.entry-meta-group>div {
    display: inline-block;
    float: none;
    padding: 4px 8px;
    line-height: normal;
}

.blog-entry div.entry-meta-group>div.entry-author {
    display: inline-flex;
    gap: .2em;
}

.blog-entry div.entry-meta-group>div.entry-author p {
    color: var(--wdtHeadAltColor);
}

.blog-entry:hover div.entry-meta-group>div.entry-author p {
    color: var(--wdtAccentTxtColor);
}

.blog-entry div.entry-meta-group>div:empty {
    display: none;
}

.blog-entry div.entry-meta-group>div i {
    color: var(--wdtPrimaryColor);
}

.blog-entry:hover div.entry-meta-group>div i {
    color: var(--wdtAccentTxtColor);
}

.blog-entry:hover div.entry-meta-group>div.entry-date,
.wdt-post-entry .blog-entry:hover div.entry-categories a:after,
.wdt-post-entry .blog-entry:hover div.entry-tags a:after {
    color: var(--wdtAccentTxtColor);
}

.wdt-post-entry .blog-entry div.entry-categories a:after,
.wdt-post-entry .blog-entry div.entry-tags a:after {
    content: '\002C';
    display: inline;
    font-size: 20px;
    line-height: 0.5em;
    margin-left: 0;
    margin-right: 5px;
}

.wdt-post-entry .blog-entry div.entry-categories a,
.wdt-post-entry .blog-entry div.entry-tags a {
    padding: 2px 0px;
    display: inline-block;
}

/** Post Date */

.blog-entry.has-post-thumbnail div.entry-media-group>div.entry-thumb-content>.entry-date,
.blog-entry:not(.format-link, .format-quote, .has-post-thumbnail) div.entry-media-group>div.entry-thumb-content>.entry-date {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 160 160' style='enable-background:new 0 0 160 160;' xml:space='preserve'%3E%3Cpath d='M80.3,159.1c-14.4-0.9-28.7-1.2-43.1-0.7c-4.4,0.2-8.8,0.2-13.1-0.6c-12.4-2.1-20.5-11.4-22.5-25.3 c-1.1-7.5-0.4-15-0.1-22.6c0.8-17.8,0.9-35.7,0.8-53.6c0-7.5,0.1-15,1.9-22.3c1.2-4.8,2.5-9.6,4-14.4c1.8-5.9,5.7-10,10.8-13 c10-5.9,20.7-8,31.9-5.8c22.2,4.4,44.4,3.6,66.8,2.4c6.1-0.3,12.3-0.7,18.4,0.2c10.4,1.5,17.2,7.3,20.2,17.8 c2.2,7.4,2.7,15.1,2.7,22.7c-0.1,19.5-1.1,39-3.2,58.3c-0.8,8.1,0.4,16.1,1.7,24c0.4,2.5,0.6,5,0.7,7.6c0.2,13.4-7.5,22.9-20.2,25.2 c-5.7,1-11.5,0.9-17.3,0.7c-6.8-0.2-13.5-0.6-20.3-0.7C93.7,159,87,159.1,80.3,159.1L80.3,159.1z'/%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 160 160' style='enable-background:new 0 0 160 160;' xml:space='preserve'%3E%3Cpath d='M80.3,159.1c-14.4-0.9-28.7-1.2-43.1-0.7c-4.4,0.2-8.8,0.2-13.1-0.6c-12.4-2.1-20.5-11.4-22.5-25.3 c-1.1-7.5-0.4-15-0.1-22.6c0.8-17.8,0.9-35.7,0.8-53.6c0-7.5,0.1-15,1.9-22.3c1.2-4.8,2.5-9.6,4-14.4c1.8-5.9,5.7-10,10.8-13 c10-5.9,20.7-8,31.9-5.8c22.2,4.4,44.4,3.6,66.8,2.4c6.1-0.3,12.3-0.7,18.4,0.2c10.4,1.5,17.2,7.3,20.2,17.8 c2.2,7.4,2.7,15.1,2.7,22.7c-0.1,19.5-1.1,39-3.2,58.3c-0.8,8.1,0.4,16.1,1.7,24c0.4,2.5,0.6,5,0.7,7.6c0.2,13.4-7.5,22.9-20.2,25.2 c-5.7,1-11.5,0.9-17.3,0.7c-6.8-0.2-13.5-0.6-20.3-0.7C93.7,159,87,159.1,80.3,159.1L80.3,159.1z'/%3E%3C/svg%3E");
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 100%;
    background-color: var(--wdtPrimaryColor);
    transition: var(--wdtBaseTransition);
    -webkit-transition: var(--wdtBaseTransition);
}

.blog-entry.has-post-thumbnail:hover div.entry-media-group>div.entry-thumb-content>.entry-date,
.blog-entry:not(.format-link, .format-quote, .has-post-thumbnail):hover div.entry-media-group>div.entry-thumb-content>.entry-date {
    background-color: var(--wdt-accent-primary-color);
    color: var(--wdtHeadAltColor);
}

.blog-entry div.entry-content-group>.entry-date,
.blog-entry div.entry-media-group>div.entry-thumb-content>.entry-date {
    padding: 10px 16px;
    background-color: var(--wdtPrimaryColor);
    line-height: var(--wdtLineHeight_H1);
    color: var(--wdtAccentTxtColor);
    flex: 0 0 auto;
    width: 65px;
    text-align: center;
    font-family: var(--wdtFontTypo_Alt);
    font-size: var(--wdtFontSize_H6);
}

.blog-entry div.entry-content-group>.entry-date>i.wdticon-calendar,
.blog-entry div.entry-media-group>div.entry-thumb-content>.entry-date>i.wdticon-calendar {
    display: none;
    visibility: hidden;
}

/** Custom Styles */
.blog-entry.has-post-thumbnail div.entry-media-group>div.entry-thumb-content>.entry-date i {
    display: none;
    visibility: hidden;
}


/**
    1.2 - Blog Type Styles
*/

/** Styles */


.blog-entry:not(.format-link, .format-quote, .has-post-thumbnail)>div:not(:last-child) {
    margin: 0;
}

.blog-entry:not(.format-link, .format-quote).has-post-thumbnail div.entry-media-group,
.blog-entry:not(.format-link, .format-quote, .has-post-thumbnail) div.entry-media-group {
    display: grid;
    overflow: hidden;
    align-items: start;
}

.blog-entry:not(.format-link, .format-quote).has-post-thumbnail div.entry-media-group>div,
.blog-entry:not(.format-link, .format-quote, .has-post-thumbnail) div.entry-media-group>div {
    grid-area: 1/-1;
}

.blog-entry div.entry-media-group>div.entry-thumb {
    display: flex;
    padding: 20px;
    padding-bottom: 0;
}

.blog-entry div.entry-media-group>div.entry-thumb a {
    border-radius: var(--wdtRadius_3X);
    -webkit-border-radius: var(--wdtRadius_3X);
}

.blog-entry div.entry-media-group>div.entry-thumb img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-entry:not(.format-link, .format-quote) div.entry-media-group>div.entry-thumb-content {
    position: relative;
    padding: 30px;
    pointer-events: none;
}

.blog-entry:not(.has-post-thumbnail) div.entry-media-group>div.entry-thumb-content {
    padding: 25px 25px 0;
}

.blog-entry div.entry-media-group>div.entry-thumb-content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.blog-entry div.entry-content-group {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
}

.blog-entry div.entry-content-group .entry-sub-content-group {
    padding: 25px;
}

/* Button */
.blog-entry div.entry-content-group>div.entry-read-more-group {
    padding: 10px 0 0 10px;
    background-color: var(--wdtBodyBGColor);
    border-top-left-radius: var(--wdtRadius_4X);
    position: relative;
    margin-top: auto;
    margin-left: -10px;
}

.blog-entry div.entry-content-group>div.entry-read-more-group::before,
.blog-entry div.entry-content-group>div.entry-read-more-group::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    rotate: 0deg;
    z-index: 10;
    background-color: inherit;
    clip-path: path("M60,30v30H30c8.3,0,15.8-3.4,21.2-8.8C56.6,45.8,60,38.3,60,30z");
    backface-visibility: hidden;
    isolation: isolate;
    will-change: transform;
}

.blog-entry div.entry-content-group>div.entry-read-more-group::before {
    left: -60px;
    bottom: 0;
}

.blog-entry div.entry-content-group>div.entry-read-more-group::after {
    top: -60px;
    right: 0;
}

.blog-entry div.entry-content-group>div,
.blog-entry div.entry-media-group>div.entry-thumb-content>div {
    flex: 1 1 100%;
}

.blog-entry div.entry-content-group>div:empty {
    display: none;
}

.blog-entry div.entry-media-group>div.entry-thumb-content>div:not(:last-child),
.blog-entry div.entry-content-group>div:not(:last-child) {
    margin-top: 0px;
    margin-bottom: 0px;
}

.blog-entry div.entry-content-group>div.entry-sub-content-group>div:not(:last-child) {
    margin-bottom: 15px;
}

.blog-entry div.entry-media-group>div.entry-thumb-content>div.entry-body>p,
.blog-entry div.entry-content-group>div.entry-body>p {
    margin: 0px;
}


/** Grid Layout */

.wdt-post-entry.entry-grid-layout .blog-entry .entry-thumb .mejs-container {
    min-height: 100px;
}

.wdt-post-entry.entry-grid-layout .blog-entry .entry-thumb .mejs-container .mejs-controls {
    bottom: 0;
    float: left;
    margin: 0;
    position: absolute;
    top: auto;
    width: 100%;
}

.wdt-post-entry .blog-entry div.entry-categories a,
.wdt-post-entry .blog-entry div.entry-tags a {
    position: relative;
    white-space: nowrap;
}

.wdt-post-entry .blog-entry div.entry-categories a:last-child:after,
.wdt-post-entry .blog-entry div.entry-tags a:last-child:after,
.wdt-post-entry .blog-entry div.entry-categories a:only-child:after,
.wdt-post-entry .blog-entry div.entry-tags a:only-child:after {
    display: none;
}


/** List Layout */

.wdt-post-entry.entry-list-layout .blog-entry {
    padding: 0;
}

.wdt-post-entry.entry-list-layout .blog-entry {
    padding: 0;
}

.wdt-post-entry.entry-list-layout .blog-entry {
    display: grid;
    grid-template-columns: .5fr 1fr;
    overflow: hidden;
    gap: 30px;
    position: relative;
}

.wdt-post-entry.entry-list-layout .blog-entry::before {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 40px;
    height: 40px;
    border-radius: var(--wdtRadius_2X);
    z-index: 0;
    transform: scale3d(1, 1, 1);
    transform-style: preserve-3d;
    transition: var(--wdt-Ad-Transition);
    background: linear-gradient(90deg, transparent 0%, var(--wdtPrimaryColor) 100%);
    will-change: transform;
    background-size: 800%;
    background-position: top left;
    transition-property: transform, background-position;
    transition-duration: .8s;
    right: -40px;
    bottom: -40px;
}

.wdt-post-entry.entry-list-layout .blog-entry:hover::before {
    transform: scale3d(45, 45, 1);
    background-position: top right;
    transition-delay: 0s, .1s;
}

.wdt-post-entry.entry-list-layout .blog-entry div.entry-media-group {
    flex: 1 1 calc(100px - calc(30px / 2));
}

.wdt-post-entry.entry-list-layout .blog-entry div.entry-content-group {
    flex: 1 1 calc(260px - calc(30px / 2));
}

.wdt-post-entry.entry-list-layout .blog-entry div.entry-content-group {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    z-index: 1;
}

.wdt-post-entry.entry-list-layout .blog-entry div.entry-content-group>div:not(:last-child) {
    margin-bottom: 0px;
}

.wdt-post-entry.entry-list-layout .blog-entry div.entry-content-group .entry-sub-content-group {
    padding: 40px 0;
}

.wdt-post-entry.entry-list-layout .blog-entry div.entry-content-group .entry-sub-content-group>*:not(:last-child) {
    margin-bottom: 15px;
}

.wdt-post-entry.entry-list-layout .blog-entry div.entry-content-group .entry-sub-content-group>a:first-child {
    line-height: var(--wdtLineHeight_Base);
    margin-bottom: 5px;
    display: block;
}

.wdt-post-entry.entry-list-layout .blog-entry div.entry-content-group .entry-read-more-group {
    margin-top: auto;
    padding: 10px 0 0 10px;
    background-color: var(--wdtBodyBGColor);
    border-top-left-radius: var(--wdtRadius_4X);
    position: relative;
    margin-left: -10px;
    transition: var(--wdtBaseTransition);
    -webkit-transition: var(--wdtBaseTransition);
}

.wdt-post-entry.entry-list-layout .blog-entry div.entry-content-group .entry-read-more-group::before,
.wdt-post-entry.entry-list-layout .blog-entry div.entry-content-group .entry-read-more-group::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    rotate: 0deg;
    z-index: 10;
    background-color: inherit;
    clip-path: path("M60,30v30H30c8.3,0,15.8-3.4,21.2-8.8C56.6,45.8,60,38.3,60,30z");
    backface-visibility: hidden;
    isolation: isolate;
    will-change: transform;
}

.wdt-post-entry.entry-list-layout .blog-entry div.entry-content-group .entry-read-more-group::before {
    left: -60px;
    bottom: 0;
}

.wdt-post-entry.entry-list-layout .blog-entry div.entry-content-group .entry-read-more-group::after {
    top: -60px;
    right: 0;
}

.wdt-post-entry.entry-list-layout .blog-entry div i {
    font-size: var(--wdtFontSize_H6);
}

.wdt-post-entry.entry-list-layout .blog-entry div.entry-author {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5px;
}

.wdt-post-entry.entry-list-layout .blog-entry div.entry-author p {
    margin: 0;
}


.wdt-post-entry.entry-list-layout .blog-entry:not(.has-post-thumbnail) {
    gap: 0px;
}

.wdt-post-entry.entry-list-layout .blog-entry.has-post-thumbnail div.entry-media-group {
    margin: 0px;
}

.wdt-post-entry.entry-list-layout .blog-entry:not(.has-post-thumbnail) div.entry-media-group,
.wdt-post-entry.entry-list-layout .blog-entry:not(.has-post-thumbnail) div.entry-content-group {
    flex: 1 1 100%;
}

.wdt-post-entry.entry-list-layout .blog-entry div.entry-media-group>div.entry-thumb a {
    border-radius: var(--wdtRadius_Zero);
    -webkit-border-radius: var(--wdtRadius_Zero);
}


.wdt-post-entry.entry-list-layout.entry-right-thumb .blog-entry {
    text-align: right;
}

.wdt-post-entry.entry-list-layout.entry-right-thumb .blog-entry div.entry-content-group {
    order: -1;
}

.wdt-post-entry.entry-list-layout .blog-entry div.entry-content-group .entry-title {
    margin-bottom: 10px;
}

.wdt-post-entry.entry-list-layout .blog-entry .entry-title h4 {
    font-size: var(--wdtFontSize_H5);
}

.wdt-post-entry.entry-list-layout .blog-entry .entry-thumb .blog-image>a,
.wdt-post-entry.entry-list-layout .blog-entry .entry-thumb .blog-image .bx-wrapper .entry-gallery-post-slider li {
    background-position: center center !important;
    background-size: cover !important;
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


.wdt-post-entry.entry-list-layout .blog-entry .entry-thumb {
    height: 100%;
}

.wdt-post-entry.entry-list-layout .blog-entry:not(.format-link, .format-quote) div.entry-media-group>div.entry-thumb-content {
    padding: 10px;
}

.wdt-post-entry.entry-list-layout .blog-entry div.entry-content-group>.entry-date,
.wdt-post-entry.entry-list-layout .blog-entry div.entry-media-group>div.entry-thumb-content>.entry-date {
    padding: 5px 10px;
    font-size: var(--wdtFontSize_Base);
    width: 50px;
}

/** Image Overlay Styles */

.wdt-post-entry .format-audio.blog-entry.has-post-media .entry-thumb:after,
.wdt-post-entry .format-video.blog-entry.has-post-media .entry-thumb:after {
    display: none;
}

.wdt-fixed-overlay .blog-entry .entry-thumb:after {
    background-color: rgba(0, 0, 0, .3);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border: none !important;
}

.wdt-fixed-overlay:hover .blog-entry .entry-thumb:after {
    opacity: 1;
}

.wdt-tb-overlay .blog-entry .entry-thumb:after,
.wdt-bt-overlay .blog-entry .entry-thumb:after,
.wdt-lr-overlay .blog-entry .entry-thumb:after,
.wdt-rl-overlay .blog-entry .entry-thumb:after,
.wdt-middle-overlay .blog-entry .entry-thumb:after {
    background-color: rgba(0, 0, 0, .3);
    content: '';
    display: block;
    height: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    border: none !important;
}

.wdt-bt-overlay .blog-entry .entry-thumb:after {
    bottom: 0;
    top: auto;
}

.wdt-tb-overlay:hover .blog-entry .entry-thumb:after,
.wdt-bt-overlay:hover .blog-entry .entry-thumb:after {
    height: 100%;
}

.wdt-lr-overlay .blog-entry .entry-thumb:after,
.wdt-rl-overlay .blog-entry .entry-thumb:after,
.wdt-middle-overlay .blog-entry .entry-thumb:after {
    height: 100%;
    top: 0;
    width: 0;
    border: none !important;
}

.wdt-lr-overlay .blog-entry .entry-thumb:after {
    left: 0;
    right: auto;
}

.wdt-rl-overlay .blog-entry .entry-thumb:after {
    left: auto;
    right: 0;
}

.wdt-middle-overlay .blog-entry .entry-thumb:after {
    left: 0;
    right: 0;
}

.wdt-lr-overlay:hover .blog-entry .entry-thumb:after,
.wdt-rl-overlay:hover .blog-entry .entry-thumb:after,
.wdt-middle-overlay:hover .blog-entry .entry-thumb:after {
    width: 100%;
    border: none !important;
}

.wdt-middle-radial-overlay .blog-entry .entry-thumb:after {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 50%;
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(.1);
    -moz-transform: scale(.1);
    -ms-transform: scale(.1);
    -webkit-transform: scale(.1);
    width: 100%;
    border: none !important;
}

.wdt-middle-radial-overlay:hover .blog-entry .entry-thumb:after {
    opacity: 1;
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

.wdt-flash-overlay .blog-entry .entry-thumb,
.wdt-circle-overlay .blog-entry .entry-thumb,
.wdt-middle-radial-overlay .blog-entry .entry-thumb {
    overflow: hidden;
}

.wdt-circle-overlay .blog-entry .entry-thumb:after,
.wdt-flash-overlay .blog-entry .entry-thumb:after {
    content: '';
    display: block;
    position: absolute;
    border: none !important;
}

.wdt-flash-overlay .blog-entry .entry-thumb:after {
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    height: 100%;
    left: -100%;
    top: 0;
    transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    width: 50%;
    z-index: 2;
}

.wdt-flash-overlay:hover .blog-entry .entry-thumb:after {
    animation: shine 1s;
    -webkit-animation: shine 1s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

.wdt-circle-overlay .blog-entry .entry-thumb:after {
    background: rgba(255, 255, 255, .3);
    border-radius: 100%;
    height: 0;
    left: 50%;
    opacity: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 0;
    z-index: 2;
    border: none !important;
}

.wdt-circle-overlay:hover .blog-entry .entry-thumb:after {
    animation: circle .75s;
    -webkit-animation: circle .75s;
}

@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        height: 200%;
        opacity: 0;
        width: 200%;
    }
}

@keyframes circle {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        height: 200%;
        opacity: 0;
        width: 200%;
    }
}

.wdt-tb-gradient-overlay .blog-entry .entry-thumb:after,
.wdt-bt-gradient-overlay .blog-entry .entry-thumb:after,
.wdt-rl-gradient-overlay .blog-entry .entry-thumb:after,
.wdt-lr-gradient-overlay .blog-entry .entry-thumb:after,
.wdt-radial-gradient-overlay .blog-entry .entry-thumb:after {
    content: '';
    display: block;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border: none !important;
}

.wdt-tb-gradient-overlay .blog-entry .entry-thumb:after,
.wdt-bt-gradient-overlay .blog-entry .entry-thumb:after {
    left: 0;
    margin: 0 auto;
    right: 0;
}

.wdt-rl-gradient-overlay .blog-entry .entry-thumb:after {
    left: 0;
}

.wdt-lr-gradient-overlay .blog-entry .entry-thumb:after {
    right: 0;
}

.wdt-tb-gradient-overlay .blog-entry .entry-thumb:after {
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, .7)));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000', endColorstr='#b3000000', GradientType=0);
    top: 0;
}

.wdt-bt-gradient-overlay .blog-entry .entry-thumb:after {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, .7)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000', endColorstr='#b3000000', GradientType=0);
    top: auto;
}

.wdt-rl-gradient-overlay .blog-entry .entry-thumb:after {
    background: -moz-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    background: -webkit-gradient(linear, top left, top right, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, .7)));
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    background: -o-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    background: -ms-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000', endColorstr='#b3000000', GradientType=0);
    right: 0;
}

.wdt-lr-gradient-overlay .blog-entry .entry-thumb:after {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    background: -webkit-gradient(linear, top right, top left, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, .7)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000', endColorstr='#b3000000', GradientType=0);
    left: 0;
}

.wdt-radial-gradient-overlay .blog-entry .entry-thumb:after {
    background: rgba(0, 0, 0, .75);
    /* For older browsers that may not support gradients */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .75) 100%);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .75) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .75) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .75) 100%);
    background: radial-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .75) 100%);
}

.wdt-tb-gradient-overlay:hover .blog-entry .entry-thumb:after,
.wdt-bt-gradient-overlay:hover .blog-entry .entry-thumb:after,
.wdt-rl-gradient-overlay:hover .blog-entry .entry-thumb:after,
.wdt-lr-gradient-overlay:hover .blog-entry .entry-thumb:after,
.wdt-radial-gradient-overlay:hover .blog-entry .entry-thumb:after {
    opacity: 1;
}

.wdt-hm-elastic-overlay .blog-entry .entry-thumb:after {
    backface-visibility: hidden;
    background: rgba(0, 0, 0, .75);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
    transition-property: transform;
    -webkit-transition-property: transform;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    border: none !important;
}

.wdt-hm-elastic-overlay:hover .blog-entry .entry-thumb:after {
    transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
    -ms-transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
    -webkit-transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
}

.wdt-vm-elastic-overlay .blog-entry .entry-thumb:after {
    backface-visibility: hidden;
    background: rgba(0, 0, 0, .75);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
    transition-property: transform;
    -webkit-transition-property: transform;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    border: none !important;
}

.wdt-vm-elastic-overlay:hover .blog-entry .entry-thumb:after {
    transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
    -ms-transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
    -webkit-transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
}


/** Hover Image Styles */

div[class*="wdt-fadein"] .blog-entry .entry-thumb,
div[class*="wdt-scale"] .blog-entry .entry-thumb,
div[class*="rotate"] .blog-entry .entry-thumb {
    overflow: hidden;
}

div[class*="wdt-fadein"].wdt-overlap-style.wdt-post-entry.entry-list-layout .blog-entry .entry-thumb .entry-format,
div[class*="wdt-scale"].wdt-overlap-style.wdt-post-entry.entry-list-layout .blog-entry .entry-thumb .entry-format,
div[class*="rotate"].wdt-overlap-style.wdt-post-entry.entry-list-layout .blog-entry .entry-thumb .entry-format,
.wdt-flash-overlay.wdt-overlap-style.wdt-post-entry.entry-list-layout .blog-entry .entry-thumb .entry-format,
.wdt-circle-overlay.wdt-overlap-style.wdt-post-entry.entry-list-layout .blog-entry .entry-thumb .entry-format,
.wdt-middle-radial-overlay.wdt-overlap-style.wdt-post-entry.entry-list-layout .blog-entry .entry-thumb .entry-format {
    right: -6px;
}

div[class*="wdt-fadein"].wdt-overlap-style.wdt-post-entry.entry-list-layout.entry-right-thumb .blog-entry .entry-thumb .entry-format,
div[class*="wdt-scale"].wdt-overlap-style.wdt-post-entry.entry-list-layout.entry-right-thumb .blog-entry .entry-thumb .entry-format,
div[class*="rotate"].wdt-overlap-style.wdt-post-entry.entry-list-layout.entry-right-thumb .blog-entry .entry-thumb .entry-format,
.wdt-flash-overlay.wdt-overlap-style.wdt-post-entry.entry-list-layout.entry-right-thumb .blog-entry .entry-thumb .entry-format,
.wdt-circle-overlay.wdt-overlap-style.wdt-post-entry.entry-list-layout.entry-right-thumb .blog-entry .entry-thumb .entry-format,
.wdt-middle-radial-overlay.wdt-overlap-style.wdt-post-entry.entry-list-layout.entry-right-thumb .blog-entry .entry-thumb .entry-format {
    left: -6px;
    right: auto;
}

div[class*="wdt-fadein"].wdt-overlap-style.wdt-post-entry.entry-grid-layout .blog-entry .entry-thumb .entry-format,
div[class*="wdt-scale"].wdt-overlap-style.wdt-post-entry.entry-grid-layout .blog-entry .entry-thumb .entry-format,
div[class*="rotate"].wdt-overlap-style.wdt-post-entry.entry-grid-layout .blog-entry .entry-thumb .entry-format,
.wdt-flash-overlay.wdt-overlap-style.wdt-post-entry.entry-grid-layout .blog-entry .entry-thumb .entry-format,
.wdt-circle-overlay.wdt-overlap-style.wdt-post-entry.entry-grid-layout .blog-entry .entry-thumb .entry-format,
.wdt-middle-radial-overlay.wdt-overlap-style.wdt-post-entry.entry-grid-layout .blog-entry .entry-thumb .entry-format {
    bottom: -5px;
}

div[class*="wdt-scale"] .blog-entry .entry-thumb>a img {
    transition: opacity .35s, transform .45s;
}

div[class*="wdt-fadein"] .blog-entry .entry-thumb>a img,
div[class*="wdt-fadein"] .blog-entry .entry-thumb .blog-image>a {
    max-width: 100%;
    transition: opacity .35s, transform .45s;
}

.wdt-fadeinleft-hover .blog-entry .entry-thumb>a img,
.wdt-fadeinleft-hover.wdt-post-entry.entry-list-layout .blog-entry .entry-thumb .blog-image>a {
    transform: none;
    -webkit-transform: none;
    width: calc(100% + 10%);
}

.wdt-fadeinleft-hover .blog-entry:hover .entry-thumb>a img,
.wdt-fadeinleft-hover.wdt-post-entry.entry-list-layout .blog-entry:hover .entry-thumb .blog-image>a {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.wdt-fadeinright-hover .blog-entry .entry-thumb>a img,
.wdt-fadeinright-hover.wdt-post-entry.entry-list-layout .blog-entry .entry-thumb .blog-image>a {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    width: calc(100% + 10%);
}

.wdt-fadeinright-hover .blog-entry:hover .entry-thumb>a img,
.wdt-fadeinright-hover.wdt-post-entry.entry-list-layout .blog-entry:hover .entry-thumb .blog-image>a {
    transform: translate3d(-6.66%, 0, 0);
    -webkit-transform: translate3d(-6.66%, 0, 0);
}

.wdt-scalein-hover .blog-entry .entry-thumb>a img,
.wdt-scalein-hover.wdt-post-entry.entry-list-layout .blog-entry .entry-thumb .blog-image>a,
.wdt-scalein-hover.wdt-post-entry .blog-entry .entry-thumb .blog-image>a,
.wdt-scaleout-hover.wdt-post-entry.entry-list-layout:hover .blog-entry .entry-thumb .blog-image>a,
.wdt-scaleout-hover .blog-entry:hover .entry-thumb>a img,
.wdt-scaleout-hover.wdt-post-entry:hover .blog-entry .entry-thumb .blog-image>a {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    width: 100%;
}

.wdt-scalein-hover:hover .blog-entry .entry-thumb>a img,
.wdt-scalein-hover.wdt-post-entry.entry-list-layout:hover .blog-entry .entry-thumb .blog-image>a,
.wdt-scalein-hover.wdt-post-entry:hover .blog-entry .entry-thumb .blog-image>a,
.wdt-scaleout-hover.wdt-post-entry.entry-list-layout .blog-entry .entry-thumb .blog-image>a,
.wdt-scaleout-hover .blog-entry .entry-thumb>a img,
.wdt-scaleout-hover.wdt-post-entry .blog-entry .entry-thumb .blog-image>a {
    transform: scale(1);
    -webkit-transform: scale(1);
    width: 100%;
}

.wdt-rotate-hover .blog-entry:hover .entry-thumb>a img,
.wdt-rotate-hover.wdt-post-entry.entry-list-layout .blog-entry:hover .entry-thumb .blog-image>a,
.wdt-rotate-hover.wdt-post-entry .blog-entry:hover .entry-thumb .blog-image>a {
    transform: scale(1.5) rotate(-10deg);
    -moz-transform: scale(1.5) rotate(-10deg);
    -ms-transform: scale(1.5) rotate(-10deg);
    -webkit-transform: scale(1.5) rotate(-10deg);
}

.wdt-rotate-alt-hover .blog-entry:hover .entry-thumb>a img,
.wdt-rotate-alt-hover.wdt-post-entry.entry-list-layout .blog-entry:hover .entry-thumb .blog-image>a,
.wdt-rotate-alt-hover.wdt-post-entry .blog-entry:hover .entry-thumb .blog-image>a {
    transform: scale(1.5) rotate(10deg);
    -moz-transform: scale(1.5) rotate(10deg);
    -ms-transform: scale(1.5) rotate(10deg);
    -webkit-transform: scale(1.5) rotate(10deg);
}


/**
   1.4 Colors
*/

.wdt-post-entry .blog-entry .entry-format a.ico-format:hover,
.blog-entry .entry-thumb .bx-controls a {
    background: var(--wdtBodyBGColor);
}

.wdt-post-entry.entry-grid-layout .blog-entry>div.entry-meta-group,
.wdt-post-entry.entry-list-layout .blog-entry>div.entry-meta-group,

.wdt-post-entry .blog-entry>div.entry-meta-group:not(:last-child) {
    border-color: var(--wdtBorderColor);
}


.blog-entry .entry-format a {
    -webkit-box-shadow: inset 0 0 0 2px var(--wdtBodyBGColor);
    box-shadow: inset 0 0 0 2px var(--wdtBodyBGColor);
}



/** Dark */

.wdt-post-entry .blog-entry .entry-title h4 a,
.wdt-post-entry .blog-entry a:not(.wdt-button) {
    color: var(--wdtHeadAltColor);
    transition: var(--wdtBaseTransition);
    -webkit-transition: var(--wdtBaseTransition);
}

.wdt-post-entry .blog-entry:hover .entry-title h4 a,
.wdt-post-entry .blog-entry:hover .entry-body,
.wdt-post-entry .blog-entry:hover .entry-author,
.wdt-post-entry .blog-entry:hover a:not(.wdt-button) {
    color: var(--wdtAccentTxtColor);
}


.wdt-post-entry .blog-entry div.entry-categories a:after,
.wdt-post-entry .blog-entry div.entry-tags a:after {
    color: var(--wdtBodyTxtColor);
}


/** Light */

.blog-entry .entry-social-share .share>i,
.blog-entry .entry-title h4 span.sticky-post,
.blog-entry .entry-title h4 span.sticky-post i[class*="fa"],
.blog-entry .entry-title h4 span.sticky-post i.pe,
.wdt-post-entry .blog-entry .entry-format a,
.wdt-post-entry .blog-entry .entry-button a.wdt-button {
    color: var(--wdtAccentTxtColor);
}


/**
    Accents
*/

/* Primary */

.wdt-post-entry .blog-entry a,
.wdt-post-entry .blog-entry .entry-title h4 a:hover,
.wdt-post-entry .blog-entry a:not(.wdt-button):hover,
.wdt-post-entry .blog-entry .entry-format a.ico-format:hover,
.blog-entry .entry-thumb .bx-controls a.bx-prev:before,
.entry-thumb .bx-controls a.bx-next:before {
    color: var(--wdtPrimaryColor);
}

.wdt-post-entry .blog-entry:hover a,
.wdt-post-entry .blog-entry:hover .entry-format a.ico-format:hover,
.blog-entry:hover .entry-thumb .bx-controls a.bx-prev:before,
.entry-thumb .bx-controls a.bx-next:before {
    color: var(--wdtSecondaryColor);
}

.wdt-post-entry .blog-entry .entry-title h4 a:hover,
.wdt-post-entry .blog-entry a:not(.wdt-button):hover {
    color: rgba(var(--wdtAccentTxtColorRgb), 0.9);
}

.blog-entry .entry-title h4 span.sticky-post,
.blog-entry .entry-social-share .share>i,
.wdt-post-entry .blog-entry .entry-button a.wdt-button,
.wdt-post-entry .blog-entry .entry-format a {
    background-color: var(--wdtPrimaryColor);
}

.blog-entry:hover .entry-title h4 span.sticky-post,
.blog-entry:hover .entry-social-share .share>i,
.wdt-post-entry .blog-entry:hover .entry-button a.wdt-button,
.wdt-post-entry .blog-entry:hover .entry-format a {
    background-color: var(--wdtSecondaryColor);
}


.blog-entry .entry-social-share .share {
    border-color: var(--wdtPrimaryColor);
}


/* Secondary */

.wdt-post-entry .blog-entry .entry-button a.wdt-button:hover {
    background-color: var(--wdtSecondaryColor);
}



/** Responsive - AT Media Queries
    -------------------------------- */

/** 
    Laptop 
*/

@media only screen and (min-width:1281px) and (max-width:1540px) {

    .page-with-sidebar .tpl-blog-holder .wdt-one-half {
        width: 48.8%;
    }

}

/** 
    iPad - Landscape 
*/

@media only screen and (min-width:1025px) {}


/** 
    Tablet (Landscape) 
*/


@media only screen and (min-width:1025px) and (max-width:1280px) {

    .tpl-blog-holder .wdt-one-third {
        width: 33.33%;
    }

    .tpl-blog-holder .wdt-one-half,
    .page-with-sidebar .tpl-blog-holder .wdt-one-third,
    .page-with-sidebar .tpl-blog-holder .wdt-one-half {
        width: 50%;
    }

    .page-with-sidebar .tpl-blog-holder .wdt-one-third.column.first,
    .page-with-sidebar .tpl-blog-holder .wdt-one-third.column {
        clear: none;
    }

    .wdt-post-entry .blog-entry.format-gallery>div.entry-thumb .bx-viewport {
        margin-bottom: -9px;
    }

}

@media only screen and (min-width:768px) and (max-width:1024px) {

    .page-with-sidebar .tpl-blog-holder .wdt-one-third,
    .page-with-sidebar .tpl-blog-holder .wdt-one-half {
        width: 100%;
    }

    .tpl-blog-holder .wdt-one-third {
        width: 50%;
    }

    .tpl-blog-holder .wdt-one-third.column.first,
    .tpl-blog-holder .wdt-one-third.column {
        clear: none;
    }

}


@media only screen and (max-width:1024px) {
    .wdt-post-entry.entry-list-layout .blog-entry {
        grid-template-columns: 1fr;
    }

    .wdt-post-entry.entry-list-layout .blog-entry div.entry-content-group .entry-sub-content-group {
        padding: 0;
        padding-left: 25px;
        padding-bottom: 25px;
    }
}


/** 
    Mobile (Landscape) 
*/

@media only screen and (max-width: 767px) {

    .page-with-sidebar .tpl-blog-holder .wdt-one-half,
    .page-with-sidebar .tpl-blog-holder .wdt-one-third {
        width: 100%;
    }

    .tpl-blog-holder .column {
        margin-bottom: 0 !important;
    }

    .tpl-blog-holder .wdt-one-half,
    .tpl-blog-holder .wdt-one-third {
        width: 100%;
    }


}


/** 
    Mobile - Portrait 
*/

@media only screen and (max-width: 479px) {}

/** 
    Product Hides
*/

.wdt-post-entry .blog-entry.product.type-product .entry-date,
.wdt-post-entry .blog-entry.product.type-product .entry-button,
.wdt-post-entry .blog-entry.product.type-product .entry-body {
    display: none !important;
}