
/* Columns */
.wdt-column-holder .wdt-column-wrapper { width: auto; }
.wdt-column-wrapper { display: flex; flex-wrap: wrap; }
.wdt-column-wrapper .wdt-column { margin: 0; }

.wdt-column-wrapper.wdt-column-gap-default { margin: 0 -10px; }
.wdt-column-wrapper.wdt-column-gap-narrow { margin: 0 -5px; }
.wdt-column-wrapper.wdt-column-gap-extended { margin: 0 -15px; }
.wdt-column-wrapper.wdt-column-gap-wide { margin: 0 -20px; }
.wdt-column-wrapper.wdt-column-gap-wider { margin: 0 -30px; }

.wdt-column-wrapper.wdt-column-gap-default .wdt-column { padding: 10px; }
.wdt-column-wrapper.wdt-column-gap-no .wdt-column { padding: 0; }
.wdt-column-wrapper.wdt-column-gap-narrow .wdt-column { padding: 5px; }
.wdt-column-wrapper.wdt-column-gap-extended .wdt-column { padding: 15px; }
.wdt-column-wrapper.wdt-column-gap-wide .wdt-column { padding: 20px; }
.wdt-column-wrapper.wdt-column-gap-wider .wdt-column { padding: 30px; }

/*==== Scroll Snap Style ====*/

.wdt-column-wrapper.wdt-snap-scroll-enabled:not(.wdt-snap-scroll) { flex-wrap: wrap; }

.wdt-column-wrapper.wdt-snap-scroll-enabled.wdt-snap-scroll { overflow: auto; display: flex; flex-wrap: nowrap; 
  scroll-snap-type: X mandatory; scroll-padding-left: 0px; -webkit-overflow-scrolling: touch; }
.wdt-column-wrapper.wdt-snap-scroll-enabled.wdt-snap-scroll div.wdt-column { scroll-snap-align: start; width: auto !important; }

/*==== Scroll Snap - Pagination Style ====*/
.wdt-column-wrapper.wdt-snap-scroll-enabled:not(.wdt-snap-scroll) ~ .wdt-snap-scroll-pagination { display: none; }
.wdt-column-wrapper.wdt-snap-scroll-enabled ~ .wdt-snap-scroll-pagination { text-align: center; margin-top: 20px; }

.wdt-column-wrapper.wdt-snap-scroll-enabled~.wdt-snap-scroll-pagination>button { padding: 0; width: 50px; height: 50px; font-size: 0; position: relative; background-color: var(--wdtPrimaryColor); border-radius: var(--wdtRadius_Full); margin: 5px; }
.wdt-column-wrapper.wdt-snap-scroll-enabled~.wdt-snap-scroll-pagination>button:not(.disabled):hover { background-color: var(--wdtSecondaryColor); }
.wdt-column-wrapper.wdt-snap-scroll-enabled~.wdt-snap-scroll-pagination>button:before { content: ''; position: relative; display: block; width: 1em; height: 1em; font-size: var(--wdtFontSize_H5); top: 0; bottom: 0; left: 0; right: 0; margin: auto; background: var(--wdtAccentTxtColor); -webkit-transition: var(--wdt-Ad-Transition); transition: var(--wdt-Ad-Transition); }
.wdt-column-wrapper.wdt-snap-scroll-enabled~.wdt-snap-scroll-pagination>.wdt-pagination-prev:before{
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M98.6,45.6c-15.5-5.9-35-4.5-51.5-4.4c-3.2,0-6.4,0-9.6,0.1c4.5-2.6,10.9-5.2,9.8-10.9c-0.7-3.9-4.9-5.9-9.2-5.3 c-3.8,0.6-8.1,3.6-11.4,5.3c-4.2,2.1-8.4,4.2-12.5,6.6c-3.2,1.8-6.5,3.5-8.8,6c-1.2,0.6-2.5,1.4-3.8,2.6c-1.7,1.5-2.4,4.5-0.4,6.1 c0.7,0.5,1.3,1,1.9,1.4c1,2.8,3.4,5.1,6.3,7.1C17,65.3,25.1,70,33.3,74.3c5.9,3,13.4-3.8,8.1-8.4c-3-2.6-5.9-5.3-9.1-7.7 c-0.9-0.7-2.1-1.7-3.3-2.7c6.5-0.1,13-0.3,19.6-0.4c16.2-0.4,35.3,0.3,50.3-5.9C100.6,48.3,100.2,46.2,98.6,45.6z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M98.6,45.6c-15.5-5.9-35-4.5-51.5-4.4c-3.2,0-6.4,0-9.6,0.1c4.5-2.6,10.9-5.2,9.8-10.9c-0.7-3.9-4.9-5.9-9.2-5.3 c-3.8,0.6-8.1,3.6-11.4,5.3c-4.2,2.1-8.4,4.2-12.5,6.6c-3.2,1.8-6.5,3.5-8.8,6c-1.2,0.6-2.5,1.4-3.8,2.6c-1.7,1.5-2.4,4.5-0.4,6.1 c0.7,0.5,1.3,1,1.9,1.4c1,2.8,3.4,5.1,6.3,7.1C17,65.3,25.1,70,33.3,74.3c5.9,3,13.4-3.8,8.1-8.4c-3-2.6-5.9-5.3-9.1-7.7 c-0.9-0.7-2.1-1.7-3.3-2.7c6.5-0.1,13-0.3,19.6-0.4c16.2-0.4,35.3,0.3,50.3-5.9C100.6,48.3,100.2,46.2,98.6,45.6z'/%3E%3C/svg%3E");  
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.wdt-column-wrapper.wdt-snap-scroll-enabled~.wdt-snap-scroll-pagination>.wdt-pagination-next:before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M1.4,45.6c15.5-5.9,35-4.5,51.5-4.4c3.2,0,6.4,0,9.6,0.1c-4.5-2.6-10.9-5.2-9.8-10.9c0.7-3.9,4.9-5.9,9.2-5.3 c3.8,0.6,8.1,3.6,11.4,5.3c4.2,2.1,8.4,4.2,12.5,6.6c3.2,1.8,6.5,3.5,8.8,6c1.2,0.6,2.5,1.4,3.8,2.6c1.7,1.5,2.4,4.5,0.4,6.1 c-0.7,0.5-1.3,1-1.9,1.4c-1,2.8-3.4,5.1-6.3,7.1C83,65.3,74.9,70,66.7,74.3c-5.9,3-13.4-3.8-8.1-8.4c3-2.6,5.9-5.3,9.1-7.7 c0.9-0.7,2.1-1.7,3.3-2.7c-6.5-0.2-13-0.3-19.6-0.4C35.2,54.5,16.1,55.2,1.1,49C-0.6,48.2-0.2,46.2,1.4,45.6z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M1.4,45.6c15.5-5.9,35-4.5,51.5-4.4c3.2,0,6.4,0,9.6,0.1c-4.5-2.6-10.9-5.2-9.8-10.9c0.7-3.9,4.9-5.9,9.2-5.3 c3.8,0.6,8.1,3.6,11.4,5.3c4.2,2.1,8.4,4.2,12.5,6.6c3.2,1.8,6.5,3.5,8.8,6c1.2,0.6,2.5,1.4,3.8,2.6c1.7,1.5,2.4,4.5,0.4,6.1 c-0.7,0.5-1.3,1-1.9,1.4c-1,2.8-3.4,5.1-6.3,7.1C83,65.3,74.9,70,66.7,74.3c-5.9,3-13.4-3.8-8.1-8.4c3-2.6,5.9-5.3,9.1-7.7 c0.9-0.7,2.1-1.7,3.3-2.7c-6.5-0.2-13-0.3-19.6-0.4C35.2,54.5,16.1,55.2,1.1,49C-0.6,48.2-0.2,46.2,1.4,45.6z'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

/* ===== Scroll Snap - Scrollbar CSS ===== */

  /* Firefox */
  .wdt-column-wrapper.wdt-snap-scroll-enabled.wdt-snap-scroll { scrollbar-width: none; scrollbar-color: var(--wdtPrimaryColor) transparent; }
  /* Chrome, Edge, and Safari */
  .wdt-column-wrapper.wdt-snap-scroll-enabled.wdt-snap-scroll::-webkit-scrollbar { width: 0px; display: none; }
  .wdt-column-wrapper.wdt-snap-scroll-enabled.wdt-snap-scroll::-webkit-scrollbar-track { background: transparent; }
  .wdt-column-wrapper.wdt-snap-scroll-enabled.wdt-snap-scroll::-webkit-scrollbar-thumb { background-color: var(--wdtPrimaryColor); border-radius: 0px; }


/* Responsive */

@media only screen and (max-width: 767px) {

    .wdt-column-holder .wdt-column-wrapper { width: auto !important; }

}