/*--------------------------------------------------------------
    Footer
--------------------------------------------------------------*/

    #footer { width: 100%; float: left; clear: both; margin: 0; position: relative; z-index: 0; }

    #footer .container { z-index: 9; }

    .footer-widgets { clear: both; float: left; margin: 0; padding: 75px 0 35px; width: 100%; }

    .footer-copyright { clear: both; float: left; margin: 0; padding: 30px 0; width: 100%; }

    .footer-copyright .alignright img { float: right; }

    .wdt-no-footer-builder-content.footer-copyright { position: relative; }

    .wdt-no-footer-builder-content.footer-copyright:before {
        content: ""; height: 100%; position: absolute; bottom: 0; left: 50%; top: 0; width: 9999px; z-index: -1; 
        -webkit-transform: translateX(-50%); transform: translateX(-50%); }

    .wdt-no-footer-builder-content.footer-copyright>* { vertical-align: middle; }

    #footer a:not(:focus), .footer-widgets a:not(:focus) { text-decoration: none; }


/*--- Colors ---*/

    .wdt-no-footer-builder-content.footer-copyright:before { background-color: rgba(var(--wdtSecondaryColorRgb),0.075); }

    #footer a:not(.button):not(.elementor-button), .footer-widgets a:not(.button):not(.elementor-button) { color: var(--wdtBodyTxtColor); }

    #footer a:not(.button):not(.elementor-button):hover, .footer-widgets a:not(.button):not(.elementor-button):hover { color: var(--wdtLinkHoverColor); }


/* =================================== */
  /* Footer Specification Menu Style */
/* =================================== */

#footer .wdt-specifications-holder .wdt-content-item .wdt-content-detail-group > div:not(:last-child) { margin-bottom: 20px; }
#footer .wdt-content-spec-group.item-block > div:not(:last-child) { margin: 0 0 20px; }

/* ================================== */
/* Footer Accordion Menu Style */
/* ================================== */

#footer .wdt-dark-bg .wdt-accordion-toggle-holder .elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-icon svg, 
#footer .wdt-dark-bg .wdt-accordion-toggle-holder .elementor-widget-icon-list .elementor-icon-list-item a > .elementor-icon-list-icon svg {
    fill: var(--wdtAccentTxtColor); }
#footer .wdt-accordion-toggle-holder .elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-icon svg, 
#footer .wdt-accordion-toggle-holder .elementor-widget-icon-list .elementor-icon-list-item a > .elementor-icon-list-icon svg { fill: var(--wdtBodyTxtColor); }

#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-wrapper:not(:last-child) { 
    margin: 0 0 clamp(1.125rem, 0.9519rem + 0.7692vw, 1.875rem); /* Min-18 & Max-30 */ }

#footer .elementor-widget-heading .elementor-heading-title,
#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder,
#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-hover, 
#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active{ 
    background: none; margin: 0 0 20px; color: var(--wdtHeadAltColor); }
#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title,
#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-hover .wdt-accordion-toggle-title, 
#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active .wdt-accordion-toggle-title { 
    font-size: clamp(1.5rem, 1.4013rem + 0.3947vw, 1.875rem); /* Min-24 & Max-30 */ font-weight: var(--wdtFontWeight_H5); 
    font-family: var(--wdtFontTypo_H5); text-transform: capitalize; }

#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-wrapper { background: transparent; border: none; padding: 0; margin: 0; }
#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-description > * {
  opacity: 1;
  transition: var(--wdtBaseTransition);
  visibility: visible;
  transition-property: all, opacity;
}

/* Dark BG */

#footer .wdt-dark-bg .elementor-widget-heading .elementor-heading-title,
#footer .wdt-dark-bg .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder,
#footer .wdt-dark-bg .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-hover, 
#footer .wdt-dark-bg .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active { color: var(--wdtAccentTxtColor); }

/* Footer Accordion Menu - Description Style */

#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-description { 
    border-width: 0px !important; background: none !important; overflow: clip; }
#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-description p,
#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-description .elementor-icon-list-items .elementor-icon-list-item { 
    line-height: var(--wdtLineHeight_Base); padding: 0; margin: 0; }
#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-description .elementor-icon-list-items .elementor-icon-list-item:not( .elementor-inline-item) {
    margin: 0; }

#footer .wdt-footer-style-a .wdt-accordion-toggle-holder .wdt-accordion-toggle-description p,
#footer .wdt-footer-style-a .wdt-accordion-toggle-holder .wdt-accordion-toggle-description .elementor-icon-list-items .elementor-icon-list-item { 
    padding: 7px 0; }

#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-description:has(> p + p) a:not(:only-child),
#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-description p:has(> a + a) a:not(:only-child) { margin: 5px; }
#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-description:has(> p + p),
#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-description p:has(> a + a) { display: flex; flex-flow: row wrap; gap: 20px; }
#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-description p:has(> a + a) { gap: 10px 20px; }
#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-description p a { color: var(--wdtBodyTxtColor); }
#footer .wdt-dark-bg .wdt-accordion-toggle-holder .wdt-accordion-toggle-description p a { color: var(--wdtAccentTxtColor); }
#footer .wdt-dark-bg .wdt-accordion-toggle-holder .wdt-accordion-toggle-description p a:hover { color: var(--wdtPrimaryColor); }
#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-description:has(> p + p) { display: grid; flex-flow: column wrap;}
#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-description .elementor-widget .elementor-icon-list-items { display: grid; gap: 20px; }

@media (min-width: 768px) {     
    #footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder { pointer-events: none; }

    #footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder,
    #footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-hover, 
    #footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active { border: none; padding: 0; }

    #footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon { display: none; }
    #footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-description { padding: 0; display: flex !important; }
}

@media (max-width: 767px) {  

    #footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-wrapper {     
        position: relative; overflow: hidden; border-bottom: 1px solid var(--wdtPrimaryColor); -webkit-border-radius: var(--wdtRadius_Zero); 
        border-radius: var(--wdtRadius_Zero); }
    #footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder,
    #footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-hover, 
    #footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active{
        background: transparent; color: var(--wdtHeadAltColor); border: none; padding: 30px 20px; margin: 0;
    }
    #footer .wdt-dark-bg .wdt-accordion-toggle-holder .wdt-accordion-toggle-wrapper { border-color: var(--wdtBorderColor); }
    #footer .wdt-dark-bg .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder,
    #footer .wdt-dark-bg .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-hover, 
    #footer .wdt-dark-bg .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active { 
        color: var(--wdtAccentTxtColor); }

    #footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-description { padding: 0px 20px 30px; }

/* Bordered Style*/

    #footer .wdt-accordion-toggle-holder[class*="-template-bordered"] .wdt-accordion-toggle-wrapper:not(:last-child) { margin: 0px; }

    #footer .wdt-accordion-toggle-holder[class*="-template-bordered"] .wdt-accordion-toggle-title-holder,
    #footer .wdt-accordion-toggle-holder[class*="-template-bordered"] .wdt-accordion-toggle-title-holder.ui-state-hover, 
    #footer .wdt-accordion-toggle-holder[class*="-template-bordered"] .wdt-accordion-toggle-title-holder.ui-state-active {
        background: transparent; border: 1px solid var(--wdtBorderColor); margin: 0; }
    #footer .wdt-accordion-toggle-holder[class*="-template-bordered"] .wdt-accordion-toggle-wrapper:not(:first-child) .wdt-accordion-toggle-title-holder,
    #footer .wdt-accordion-toggle-holder[class*="-template-bordered"] .wdt-accordion-toggle-wrapper:not(:first-child) .wdt-accordion-toggle-title-holder.ui-state-hover, 
    #footer .wdt-accordion-toggle-holder[class*="-template-bordered"] .wdt-accordion-toggle-wrapper:not(:first-child) .wdt-accordion-toggle-title-holder.ui-state-active { 
        border-top: none;}

    #footer .wdt-accordion-toggle-holder[class*="-template-bordered"] .wdt-accordion-toggle-description { border-style: solid;
        border-width: 0px 1px 1px 2px !important; border-color: var(--wdtBorderColor); border-left-color: var(--wdtPrimaryColor); }

/* Simple Style */

    #footer .wdt-accordion-toggle-holder[class*="-template-simple"] .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon { 
        width: 40px; height: 40px; }

    #footer .wdt-accordion-toggle-holder[class*="-template-simple"] .wdt-accordion-toggle-title-holder,
    #footer .wdt-accordion-toggle-holder[class*="-template-simple"] .wdt-accordion-toggle-title-holder.ui-state-hover, 
    #footer .wdt-accordion-toggle-holder[class*="-template-simple"] .wdt-accordion-toggle-title-holder.ui-state-active {
        background: transparent; border-bottom: 1px solid var(--wdtBorderColor); padding: 14px 46px 14px 0px; }

    #footer .wdt-accordion-toggle-holder[class*="-template-simple"] .wdt-accordion-toggle-description { padding: 14px 0 0; }

/* Classic Style */

    #footer .wdt-accordion-toggle-holder[class*='-template-classic'] .wdt-accordion-toggle-description { 
        background: rgb(var(--wdt-elementor-color-primary-rgb), 0.1) !important; }

}
