.breadcrumb a[href="javascript:void(0);"],
.breadcrumb a:last-child {
  pointer-events: none;
}

/* link text style */

.wdt-cus-link-text.elementor-widget.elementor-widget-text-editor {
  font-size: clamp(1.25rem, 1.1842rem + 0.2632vw, 1.5rem);
  /* Min-20 & Max-24 */
  font-weight: var(--wdtFontWeight_Ext);
  line-height: var(-wdtLineHeight_Alt);
  text-transform: capitalize;
}

.wdt-cus-link-text.elementor-widget.elementor-widget-text-editor p>a {
  color: var(--wdtPrimaryColor);
  position: relative;
  text-wrap: nowrap;
}

.wdt-cus-link-text.elementor-widget.elementor-widget-text-editor p>a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--wdtPrimaryColor);
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: right;
  transform-origin: right;
  transition: var(--wdtBaseTransition);
  transition-property: transform;
  pointer-events: none;
}

.wdt-cus-link-text.elementor-widget.elementor-widget-text-editor p>a:hover:after {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  transform-origin: left;
}


.wdt-cus-shap-divider-color .elementor-shape .elementor-shape-fill {
  fill: var(--wdtBodyBGColor);
}

/* -----------------------------
 ===== Home2-filler-style =====
-------------------------------- */

/* filler-icon */
.wdt-cus-filler-icon.elementor-widget-icon .elementor-icon {
  position: relative;
  padding: 0 10px 10px 0;
  border-radius: var(--wdtRadius_Full);
}

.wdt-cus-filler-icon.elementor-widget-icon .elementor-icon:before,
.wdt-cus-filler-icon.elementor-widget-icon .elementor-icon:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  rotate: 180deg;
  z-index: 10;
  background-color: var(--wdtBodyBGColor);
  clip-path: path("M60,30v30H30c8.3,0,15.8-3.4,21.2-8.8C56.6,45.8,60,38.3,60,30z");
  backface-visibility: hidden;
  will-change: transform;
  isolation: isolate;
}

.wdt-cus-filler-icon.elementor-widget-icon .elementor-icon:before {
  right: 0;
  top: 0;
  transform-origin: right;
}

.wdt-cus-filler-icon.elementor-widget-icon .elementor-icon:after {
  left: 0;
  bottom: 0;
  transform-origin: bottom;
}

.wdt-cus-filler-icon.elementor-widget-icon .elementor-icon svg .wdt-cus-batch-svg {
  -webkit-animation: rotate-animation 6s linear infinite;
  animation: rotate-animation 6s linear infinite;
  transform-origin: center;
}

@-webkit-keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* popup-box */

.wdt-cus-popup-box .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon i {
  font-size: clamp(1.75rem, 1.5526rem + 0.7895vw, 2.5rem);
  /* Min-28 & Max-40 */
  width: clamp(4.375rem, 4rem + 1.875vw, 6.25rem);
  /* Min-70 & Max-100 */
  height: clamp(4.375rem, 4rem + 1.875vw, 6.25rem);
  /* Min-70 & Max-100 */
  background-color: var(--wdtPrimaryColor);
  color: var(--wdtAccentTxtColor);
  border: 2px solid var(--wdtAccentTxtColor);
  -webkit-border-radius: var(--wdtRadius_Full);
  border-radius: var(--wdtRadius_Full);
  -webkit-transition: var(--wdtAltTransition);
  transition: var(--wdtAltTransition);
}

.wdt-cus-popup-box .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon i:hover {
  background-color: var(--wdtSecondaryColor);
}

.wdt-cus-popup-box .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon {
  background-color: var(--wdtBodyBGColor);
  border-top-left-radius: var(--wdtRadius_Full);
  padding: 10px 0px 0px 10px;
  position: relative;
}

.wdt-cus-popup-box .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon:before,
.wdt-cus-popup-box .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  rotate: 0deg;
  z-index: 10;
  background-color: var(--wdtBodyBGColor);
  clip-path: path("M60,30v30H30c8.3,0,15.8-3.4,21.2-8.8C56.6,45.8,60,38.3,60,30z");
  backface-visibility: hidden;
  will-change: transform;
  isolation: isolate;
}

.wdt-cus-popup-box .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon:before {
  right: 0px;
  top: -60px;
  transform-origin: top right;
}

.wdt-cus-popup-box .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon:after {
  left: -60px;
  bottom: 0;
  transform-origin: bottom left;
}

.wdt-cus-popup-box .wdt-click-element-image-n-icon .wdt-popup-box-trigger-element {
  align-items: flex-end;
  justify-items: end;
}

.wdt-cus-popup-box .wdt-click-element-image-n-icon .wdt-popup-box-trigger-element img {
  border-radius: var(--wdtRadius_3X);
}

/* spacer-style-top */
.wdt-cus-popup-spacer-style.top-shape.elementor-widget-spacer .elementor-widget-container .elementor-spacer:before {
  right: 0px;
  top: 60px;
  transform: rotate(-180deg);
  transform-origin: top right;
}

.wdt-cus-popup-spacer-style.top-shape.elementor-widget-spacer .elementor-widget-container .elementor-spacer:after {
  left: 60px;
  bottom: 0;
  transform: rotate(-180deg);
  transform-origin: bottom left;
}

/* spacer-style-bottom */
.wdt-cus-popup-spacer-style.elementor-widget-spacer .elementor-widget-container {
  background-color: var(--wdtBodyBGColor);
}

.wdt-cus-popup-spacer-style.elementor-widget-spacer .elementor-widget-container .elementor-spacer:before,
.wdt-cus-popup-spacer-style.elementor-widget-spacer .elementor-widget-container .elementor-spacer:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  rotate: 0deg;
  z-index: 10;
  background-color: var(--wdtBodyBGColor);
  clip-path: path("M60,30v30H30c8.3,0,15.8-3.4,21.2-8.8C56.6,45.8,60,38.3,60,30z");
  backface-visibility: hidden;
  will-change: transform;
  isolation: isolate;
}

.wdt-cus-popup-spacer-style.elementor-widget-spacer .elementor-widget-container .elementor-spacer:before {
  right: 0px;
  top: -60px;
  transform-origin: top right;
}

.wdt-cus-popup-spacer-style.elementor-widget-spacer .elementor-widget-container .elementor-spacer:after {
  left: -60px;
  bottom: 0;
  transform-origin: bottom left;
}


/* icon-box */
.wdt-cus-signature-icon .wdt-image-box-holder.wdt-rc-template-default .wdt-content-item {
  display: block;
}

.wdt-cus-signature-icon .wdt-image-box-holder.wdt-rc-template-default .wdt-content-item .wdt-content-media-group .wdt-content-icon-wrapper .wdt-content-icon span {
  background-color: transparent;
  color: var(--wdtHeadAltColor);
  font-size: inherit;
  height: auto;
  width: 150px;
  -webkit-border-radius: var(--wdtRadius_Zero);
  border-radius: var(--wdtRadius_Zero);
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  padding: 0;
}

.wdt-cus-signature-icon .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span svg {
  width: inherit;
  height: inherit;
}

.wdt-cus-signature-icon .wdt-content-item .wdt-content-media-group {
  display: flex;
}

.wdt-cus-signature-icon .wdt-image-box-holder.wdt-rc-template-default .wdt-content-item>div:not(:last-child) {
  margin-bottom: 5px;
}

.wdt-cus-signature-icon .wdt-content-item .wdt-content-detail-group {
  display: flex;
  align-items: baseline;
}

.wdt-cus-signature-icon .wdt-content-item>div[class*="group"]>.wdt-content-title,
.wdt-cus-signature-icon .wdt-content-item>div[class*="group"]>.wdt-content-subtitle {
  width: fit-content;
}

.wdt-cus-signature-icon .wdt-content-item>div[class*="group"] .wdt-content-title+.wdt-content-subtitle {
  margin-top: 0;
}

.wdt-cus-signature-icon .wdt-content-item .wdt-content-detail-group>div.wdt-content-title:not(:last-child) {
  margin-bottom: 0;
  margin-right: 10px;
}

.wdt-cus-signature-icon .wdt-image-box-holder.wdt-rc-template-default .wdt-content-item:hover .wdt-content-media-group .wdt-content-icon-wrapper .wdt-content-icon span {
  background-color: transparent;
  color: var(--wdtHeadAltColor);
}

.wdt-cus-signature-icon .wdt-image-box-holder.wdt-rc-template-default .wdt-content-item .wdt-content-title h5,
.wdt-cus-signature-icon .wdt-image-box-holder.wdt-rc-template-default .wdt-content-item .wdt-content-title h5 a {
  color: var(--wdtSecondaryColor);
}

.wdt-cus-signature-icon .wdt-content-item .wdt-content-subtitle {
  color: var(--wdtPrimaryColor);
  font-size: var(--wdtFontSize_Ext);
  letter-spacing: 0;
  line-height: 1;
}



/* -----------------------------
 === Appstore section style ===
-------------------------------- */

.wdt-cus-img-mask-style.elementor-widget-image .elementor-widget-container {
  position: relative;
}

.wdt-cus-img-mask-style.elementor-widget-image .elementor-widget-container:before,
.wdt-cus-img-mask-style.elementor-widget-image .elementor-widget-container:after {
  content: "";
  position: absolute;
  width: 170px;
  height: 200px;
  background-color: var(--wdtAccentTxtColor);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 85%;
  mask-size: 85%;
  -webkit-mask-position: center;
  mask-position: center;
}

.wdt-cus-img-mask-style.elementor-widget-image .elementor-widget-container:before {
  left: -25px;
  top: -25px;
  -webkit-mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 169 203'%3E%3Cpath d='M1,203C-3,149.9,24.8,35.1,168.9,0C118.7,14.2,15,74.7,1,203z'/%3E%3C/svg%3E%0A");
  mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 169 203'%3E%3Cpath d='M1,203C-3,149.9,24.8,35.1,168.9,0C118.7,14.2,15,74.7,1,203z'/%3E%3C/svg%3E%0A");
}

.wdt-cus-img-mask-style.elementor-widget-image .elementor-widget-container:after {
  right: -25px;
  bottom: -25px;
  -webkit-mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 170 203'%3E%3Cpath d='M168.8,0C172.9,53.1,145,167.9,1,203C51.1,188.8,154.8,128.3,168.8,0z'/%3E%3C/svg%3E%0A");
  mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 170 203'%3E%3Cpath d='M168.8,0C172.9,53.1,145,167.9,1,203C51.1,188.8,154.8,128.3,168.8,0z'/%3E%3C/svg%3E%0A");
}

.wdt-cus-img-mask-style.elementor-widget-image .elementor-widget-container img {
  width: clamp(12.5rem, 10rem + 12.5vw, 25rem);
  height: auto;
}


/* circle animation style */
.wdt-cus-circle-animation.elementor-widget .elementor-icon-wrapper .elementor-icon {
  position: relative;
}

.wdt-cus-circle-animation.elementor-widget .elementor-icon-wrapper .elementor-icon:before,
.wdt-cus-circle-animation.elementor-widget .elementor-icon-wrapper .elementor-icon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--wdtAccentTxtColor);
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 0px 20px rgba(var(--wdtAccentTxtColorRgb), 0.3);
  box-shadow: 0px 0px 0px 20px rgba(var(--wdtAccentTxtColorRgb), 0.3);
  -webkit-border-radius: var(--wdtRadius_Full);
  border-radius: var(--wdtRadius_Full);
  -webkit-transition: var(--wdtBaseTransition);
  transition: var(--wdtBaseTransition);
}

.wdt-cus-circle-animation.elementor-widget .elementor-icon-wrapper .elementor-icon:before {
  animation: circle-pulse-animation 3s infinite;
}

.wdt-cus-circle-animation.elementor-widget .elementor-icon-wrapper .elementor-icon:after {
  animation: circle-pulse-animation-2 3s infinite;
}

@-webkit-keyframes circle-pulse-animation {
  0% {
    box-shadow: 0px 0px 0px 20px rgba(var(--wdtAccentTxtColorRgb), 0.3);
  }

  50% {
    box-shadow: 0px 0px 0px 60px rgba(var(--wdtAccentTxtColorRgb), 0.2);
  }

  100% {
    box-shadow: 0px 0px 0px 20px rgba(var(--wdtAccentTxtColorRgb), 0.3);
  }
}

@keyframes circle-pulse-animation {
  0% {
    box-shadow: 0px 0px 0px 20px rgba(var(--wdtAccentTxtColorRgb), 0.3);
  }

  50% {
    box-shadow: 0px 0px 0px 60px rgba(var(--wdtAccentTxtColorRgb), 0.2);
  }

  100% {
    box-shadow: 0px 0px 0px 20px rgba(var(--wdtAccentTxtColorRgb), 0.3);
  }
}

@-webkit-keyframes circle-pulse-animation-2 {
  0% {
    box-shadow: 0px 0px 0px 60px rgba(var(--wdtAccentTxtColorRgb), 0.2);
  }

  50% {
    box-shadow: 0px 0px 0px 20px rgba(var(--wdtAccentTxtColorRgb), 0.3);
  }

  100% {
    box-shadow: 0px 0px 0px 60px rgba(var(--wdtAccentTxtColorRgb), 0.2);
  }
}

@keyframes circle-pulse-animation-2 {
  0% {
    box-shadow: 0px 0px 0px 60px rgba(var(--wdtAccentTxtColorRgb), 0.2);
  }

  50% {
    box-shadow: 0px 0px 0px 20px rgba(var(--wdtAccentTxtColorRgb), 0.3);
  }

  100% {
    box-shadow: 0px 0px 0px 60px rgba(var(--wdtAccentTxtColorRgb), 0.2);
  }
}

@media (max-width: 1540px) {
  .wdt-cus-img-mask-style.elementor-widget-image .elementor-widget-container:before {
    left: -30px;
    top: -30px;
  }

  .wdt-cus-img-mask-style.elementor-widget-image .elementor-widget-container:after {
    right: -30px;
    bottom: -30px;
  }
}


/* -------------------------
 === Contact Form Style ===
---------------------------- */

/* Form */
.wdt-contact-form div>p input[type="text"],
.wdt-contact-form div>p input[type="email"],
.wdt-contact-form div>p input[type="tel"] {
  border-color: transparent;
  background-color: var(--wdtAccentTxtColor);
  color: var(--wdtSecondaryColor);
  -webkit-transition: var(--wdtBaseTransition);
  transition: var(--wdtBaseTransition);
}

.wdt-contact-form div>p {
  margin-bottom: 15px;
  position: relative;
}

.wdt-contact-form div>p input[type="text"]:focus,
.wdt-contact-form div>p input[type="email"]:focus,
.wdt-contact-form div>p input[type="tel"]:focus,
.wdt-contact-form div>p textarea:focus {
  border-color: var(--wdtPrimaryColor);
}

.wdt-contact-form div>p i.wdt-user-icon,
.wdt-contact-form div>p i.wdt-envelop-icon,
.wdt-contact-form div>p i.wdt-phone-icon,
.wdt-contact-form div>p i.wdt-textarea-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  font-size: var(--wdtFontSize_H5);
  top: 0;
  bottom: 0;
  margin: auto;
  right: clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem)
    /* Min-20 & Max-30 */
  ;
  transition: var(--wdtBaseTransition);
  -webkit-transition: var(--wdtBaseTransition);
}

.wdt-contact-form div>p i.wdt-user-icon:before,
.wdt-contact-form div>p i.wdt-envelop-icon:before,
.wdt-contact-form div>p i.wdt-phone-icon:before,
.wdt-contact-form div>p i.wdt-textarea-icon:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "sweetheart-form-icon";
  font-style: normal;
}

.wdt-contact-form div>p i.wdt-user-icon:before {
  content: '\e803';
}

.wdt-contact-form div>p i.wdt-envelop-icon:before {
  content: '\e802';
}

.wdt-contact-form div>p i.wdt-phone-icon:before {
  content: '\e804';
}

.wdt-contact-form div>p i.wdt-textarea-icon:before {
  content: '\e801';
}

.wdt-contact-form div>p i.wdt-textarea-icon {
  top: 18px;
  bottom: auto;
}

.wdt-contact-form div>p textarea {
  height: 170px;
  margin: 0;
  -webkit-border-radius: var(--wdtRadius_3X);
  border-radius: var(--wdtRadius_3X);
  background-color: var(--wdtAccentTxtColor);
  color: var(--wdtSecondaryColor);
  border-color: transparent;
}

.wdt-contact-form p .wpcf7-list-item-label {
  color: var(--wdtSecondaryColor);
}

.wdt-contact-form p .wpcf7-list-item-label>a {
  color: var(--wdtSecondaryColor);
  text-decoration: underline;
}

.wdt-contact-form p .wpcf7-list-item-label>a:hover {
  color: var(--wdtLinkHoverColor);
}

.wdt-contact-form p .wpcf7-list-item label>input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  margin-right: 5px;
  margin-top: -3px;
  position: relative;
  border-radius: var(--wdtRadius_1X);
  -webkit-border-radius: var(--wdtRadius_1X);
  overflow: hidden;
  cursor: pointer;
  background-color: var(--wdtAccentTxtColor);
}

.wdt-contact-form p .wpcf7-list-item label>input[type="checkbox"]:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  border-left: 2px solid var(--wdtPrimaryColor);
  border-bottom: 2px solid var(--wdtPrimaryColor);
  top: -2px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(0px) rotate(-45deg) scale(1.5);
  -webkit-transform: translateY(0px) rotate(-45deg) scale(1.5);
  opacity: 0;
  transition: var(--wdtAltTransition);
  -webkit-transition: var(--wdtAltTransition);
}

.wdt-contact-form p .wpcf7-list-item label>input[type="checkbox"]:checked:before {
  opacity: 1;
  transform: translateY(0px) rotate(-45deg);
  -webkit-transform: translateY(0px) rotate(-45deg);
}

.wdt-contact-form p .wpcf7-list-item {
  margin: 0;
}

.wdt-contact-form>div.wdt-submit-btn {
  margin-top: 40px;
}

.wdt-contact-form input[type="submit"] {
  font-size: clamp(1.125rem, 1.0921rem + 0.1316vw, 1.25rem);
  padding: var(--wdtPadding_Btn);
  font-family: var(--wdtFontTypo_Alt);
  font-weight: var(--wdtFontWeight_Alt);
  line-height: 1;
  color: var(--wdtAccentTxtColor);
}

.wdt-contact-form .wpcf7-not-valid-tip {
  font-size: calc(var(--wdtFontSize_Ext) - 2px); font-weight: normal; display: block; position: absolute;
  bottom: 13px; right: 70px; transform: translateY(50%); opacity: 1; }

  .wdt-contact-form input:focus + .wpcf7-not-valid-tip,
  .wdt-contact-form textarea:focus + .wpcf7-not-valid-tip {
    opacity: .2;
  } 
.wdt-contact-form .wdt-submit-btn p .wpcf7-spinner {
  position: absolute;
}
.wdt-contact-form div>p i { color: var(--wdtSecondaryColor); } 
.wdt-contact-form div>p:has(span input.wpcf7-not-valid) i { color: #dc3232; } 


/* -------------------------
 === support icon style ===
---------------------------- */
.wdt-cus-support-icon-style .wdt-image-box-holder.wdt-rc-template-default .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span {
  color: var(--wdtSecondaryColor);
  height: 50px;
  width: 50px;
}

.wdt-cus-support-icon-style .wdt-image-box-holder.wdt-rc-template-default .wdt-content-item .wdt-content-title h5 {
  font-size: var(--wdtFontSize_Base);
}

.wdt-cus-support-icon-style .wdt-image-box-holder.wdt-rc-template-default .wdt-content-item .wdt-content-title h5,
.wdt-cus-support-icon-style .wdt-image-box-holder.wdt-rc-template-default .wdt-content-item .wdt-content-title h5 a {
  color: var(--wdtHeadAltColor);
}

.wdt-cus-support-icon-style .wdt-image-box-holder.wdt-rc-template-default .wdt-content-item>div:not(:last-child) {
  margin-bottom: 0;
  margin-right: 12px;
}

.wdt-cus-support-icon-style .wdt-image-box-holder.wdt-rc-template-default .wdt-content-item .wdt-content-description>p {
  margin-bottom: 0;
}

.wdt-cus-support-icon-style .wdt-image-box-holder.wdt-rc-template-default .wdt-content-item .wdt-content-description>p a {
  font-size: var(--wdtFontSize_Base);
  color: var(--wdtHeadAltColor);
}

.wdt-cus-support-icon-style .wdt-image-box-holder.wdt-rc-template-default .wdt-content-item .wdt-content-description>p a:hover {
  color: var(--wdtLinkHoverColor);
}

.wdt-cus-support-icon-style .wdt-content-item .wdt-content-detail-group>div.wdt-content-title:not(:last-child) {
  margin-bottom: 5px;
}


/* ---------------------------
 === Image with popup-box ===
------------------------------ */
.wdt-cus-image-popup-box .wdt-click-element-image-n-icon .wdt-popup-box-trigger-element {
  justify-items: center;
  -webkit-border-radius: var(--wdtRadius_4X);
  border-radius: var(--wdtRadius_4X);
  overflow: hidden;
}

.wdt-cus-image-popup-box .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon {
  font-size: clamp(1.5rem, 1.4013rem + 0.3947vw, 1.875rem);
  /* Min-24 & Max-30 */
  width: clamp(4.375rem, 4rem + 1.875vw, 6.25rem);
  /* Min-70 & Max-100 */
  height: clamp(4.375rem, 4rem + 1.875vw, 6.25rem);
  /* Min-70 & Max-100 */
  background-color: var(--wdtPrimaryColor);
  color: var(--wdtAccentTxtColor);
  -webkit-border-radius: var(--wdtRadius_Full);
  border-radius: var(--wdtRadius_Full);
}

.wdt-cus-image-popup-box .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon:hover {
  color: var(--wdtSecondaryColor);
  background-color: var(--wdtAccentTxtColor);
}

.wdt-cus-image-popup-box .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon:after,
.wdt-cus-image-popup-box .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 0 1px var(--wdtPrimaryColor);
  border-radius: var(--wdtRadius_Full);
  opacity: 1;
  pointer-events: none;
  -webkit-transition: var(--wdtAltTransition);
  transition: var(--wdtAltTransition);
}

.wdt-cus-image-popup-box .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon:before {
  animation: ripple-effect 2s linear infinite;
}

.wdt-cus-image-popup-box .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon:after {
  animation: ripple-effect 2s linear infinite;
  animation-delay: 1s;
}

.wdt-cus-image-popup-box .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon:hover:after,
.wdt-cus-image-popup-box .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon:hover:before {
  animation: none;
  opacity: 0;
}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

/* ------------------
 === style ===
--------------------- */
.secondary-sidebar .wdt-sidebar-wrapper .woocommerce .star-rating {
  font-size: var(--wdtFontSize_Ext);
}