/*--------------------------------------------------------------
    Pagination
--------------------------------------------------------------*/

.pagination {
    float: none;
    display: inline-block;
    margin-top: 35px;
    text-align: center;
    width: 100%;
}

.pagination .column {
    float: right;
    width: 100%;
}

.pagination .column,
.pagination ul {
    margin: 0;
}

.pagination ul,
.entry-body>.page-link,
.woocommerce .product-loop-sorting nav.woocommerce-pagination ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.pagination ul li,
.woocommerce nav.woocommerce-pagination ul li {
    display: inline-block;
    float: none;
    padding-bottom: 0;
    display: contents;
}

.page-link {
    clear: both;
    float: left;
    width: 100%;
}

.page-link a,
.pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li a,
.page-link>span,
.pagination ul li span,
.woocommerce nav.woocommerce-pagination ul li span {
    background: none;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--wdtFontSize_Base);
    height: clamp(2rem, 1.7404rem + 1.1538vw, 3.125rem);
    letter-spacing: 0px;
    line-height: clamp(1.875rem, 1.6154rem + 1.1538vw, 3rem);
    margin: clamp(0.1875rem, 0.1442rem + 0.1923vw, 0.375rem);
    padding: 0px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: clamp(2rem, 1.7404rem + 1.1538vw, 3.125rem);
    -webkit-border-radius: var(--wdtRadius_Full);
    border-radius: var(--wdtRadius_Full);
    background-color: var(--wdtPrimaryColor);
}

.page-link a:not(:focus),
.pagination ul li a:not(:focus),
.woocommerce nav.woocommerce-pagination ul li a:not(:focus) {
    text-decoration: none;
}

.woocommerce nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul li {
    border-width: 0;
}

.pagination ul li a.next,
.pagination ul li a.prev,
.woocommerce nav.woocommerce-pagination ul li a.prev,
.woocommerce nav.woocommerce-pagination ul li a.next {
    font-size: var(--wdtFontSize_H5);
}

.pagination ul li a.next,
.pagination ul li a.prev,
.woocommerce nav.woocommerce-pagination ul li a.prev,
.woocommerce nav.woocommerce-pagination ul li a.prev:focus,
.woocommerce nav.woocommerce-pagination ul li a.prev:hover,
.woocommerce nav.woocommerce-pagination ul li a.next,
.woocommerce nav.woocommerce-pagination ul li a.next:focus,
.woocommerce nav.woocommerce-pagination ul li a.next:hover,
.pagination ul li a.next:hover,
.pagination ul li a.next:focus,
.pagination ul li a.prev:hover,
.pagination ul li a.prev:focus {
    /* background: transparent;
    border-color: transparent; */
}

.woocommerce nav.woocommerce-pagination ul li a.prev:focus,
.woocommerce nav.woocommerce-pagination ul li a.prev:hover,
.woocommerce nav.woocommerce-pagination ul li a.next:focus,
.woocommerce nav.woocommerce-pagination ul li a.next:hover,
.pagination ul li a.next:hover,
.pagination ul li a.next:focus,
.pagination ul li a.prev:hover,
.pagination ul li a.prev:focus {
    color: var(--wdtAccentTxtColor);
}

@media all and (-ms-high-contrast:none) {

    .pagination ul li a.next {
        margin-right: 0;
    }

    .pagination ul li a.next,
    .pagination ul li a.prev {
        top: -24px;
    }

    /* IE10 */
    *::-ms-backdrop,
    .pagination ul li a.next,
    .pagination ul li a.prev {
        top: -24px;
    }

    /* IE11 */

}

.pagination ul li a.next i,
.pagination ul li a.prev i,
.woocommerce nav.woocommerce-pagination ul li a.prev i,
.woocommerce nav.woocommerce-pagination ul li a.next i {
    font-size: inherit;
    height: 1em;
    line-height: 1;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    text-decoration: inherit;
    width: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination ul li a.next i::before,
.pagination ul li a.prev i::before,
.woocommerce nav.woocommerce-pagination ul li a.prev i::before,
.woocommerce nav.woocommerce-pagination ul li a.next i::before {
    margin: 0;
    font-family: "sweetheart-icon";
    font-style: normal;
}

.pagination ul li a.prev i::before,
.woocommerce nav.woocommerce-pagination ul li a.prev i::before {
    content: '\e800';
}

.pagination ul li a.next i::before,
.woocommerce nav.woocommerce-pagination ul li a.next i::before {
    content: '\e801';
}

.pagination div[class*="-posts"] {
    display: inline-block;
    float: none;
    position: relative;
    text-align: center;
    width: auto;
    z-index: 9;
}

.pagination div[class*="-posts"] a {
    display: inline-block;
    float: none;
    margin: 2px;
    min-width: 150px;
    -webkit-border-radius: var(--wdtRadius_3X);
    border-radius: var(--wdtRadius_3X);
}

.pagination:empty {
    display: none;
}

.archive .pagination.blog-pagination:empty {
    display: inline-block;
}

.pagination .newer-posts a {
    margin-bottom: -1px;
    padding: var(--wdtPadding_Btn);
}

.pagination .older-posts a {
    margin-bottom: -1px;
    padding: var(--wdtPadding_Btn);
}

.pagination .older-posts i,
.pagination .newer-posts i {
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: auto;
}

.pagination .older-posts i {
    margin-left: 5px;
}

.pagination .newer-posts i {
    margin-right: 5px;
}

.pagination .older-posts i:before,
.pagination .newer-posts i:before {
    margin: 0;
    width: auto;
}

.pagination div[class*="-posts"]:only-child a {
    margin: 0;
}

.pagination a.loadmore-btn {
    display: inline-block;
    /*height: 35px; line-height: 35px; padding: 0 20px;*/
    position: relative;
    width: auto;
    margin-top: 10px;
}

.pagination a.loadmore-btn:not(.more-items) {
    cursor: not-allowed;
}

/* .pagination a.loadmore-btn:before { border: 1px solid; bottom: -5px; content: ''; display: block; left: -5px; margin: auto; position: absolute; right: -5px; top: -5px; } */

.tpl-blog-holder.loading+.pagination a.loadmore-btn:after {
    animation: animateCircle 2s linear infinite;
    border: 3px solid transparent;
    border-radius: 50%;
    border-right: 3px solid #fff;
    border-top: 3px solid #fff;
    bottom: 0;
    content: '';
    display: block;
    height: 25px;
    left: 0;
    margin: auto;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
}

@keyframes animateCircle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}

.pagination .newer-posts a:not(:focus),
.pagination .older-posts a:not(:focus),
.pagination ul li a:not(:focus),
.pagination a.loadmore-btn:not(:focus) {
    text-decoration: none;
}

.pagination .newer-posts a:focus,
.pagination .older-posts a:focus,
.pagination ul li a:focus,
.pagination a.loadmore-btn:focus {
    text-decoration: none !important;
}


/*--------------------------------------------------------------
    Default Colors
--------------------------------------------------------------*/

.page-link a,
.pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li a,
.page-link>span,
.pagination ul li span,
.woocommerce nav.woocommerce-pagination ul li span {
    color: var(--wdtAccentTxtColor);
}

.pagination .newer-posts a,
.pagination .older-posts a,
.pagination a.loadmore-btn,
.page-link>a:hover,
.page-link>a:focus,
.page-link>span,
.pagination ul li a:hover,
.pagination ul li a:focus,
.pagination ul li span:not(.dots),
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    color: var(--wdtAccentTxtColor);
}

.pagination .newer-posts,
.pagination .older-posts {
    background: var(--wdtBodyBGColor);
}

.page-link a,
.pagination ul li a,
.page-link>span,
.pagination ul li span,
.pagination a.loadmore-btn:before,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
    border-color: var(--wdtBorderColor);
}

.tpl-blog-holder.loading+.pagination a.loadmore-btn:after {
    border-top-color: var(--wdtBodyBGColor);
    border-right-color: var(--wdtBodyBGColor);
}



/*--------------------------------------------------------------
    Accents
--------------------------------------------------------------*/

/* Primary Color */
.tpl-blog-holder.loading+.pagination a.loadmore-btn {
    color: var(--wdtPrimaryColor);
}

.pagination .newer-posts a,
.pagination .older-posts a,
.pagination a.loadmore-btn,
.page-link>a:hover,
.page-link>a:focus,
.page-link>span,
.pagination ul li a:hover,
.pagination ul li a:focus,
.pagination ul li span:not(.dots),
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background-color: var(--wdtSecondaryColor);
}

.page-link>a:hover,
.page-link>a:focus,
.page-link>span,
.pagination ul li a:hover,
.pagination ul li a:focus,
.pagination ul li span:not(.dots),
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    border-color: transparent;
}

.pagination .newer-posts a:hover,
.pagination .older-posts a:hover,
.pagination a.loadmore-btn:hover,
.pagination a.loadmore-btn:not(.more-items) {
    background: var(--wdtSecondaryColor);
}

.tpl-blog-holder.loading+.pagination a.loadmore-btn:hover {
    color: var(--wdtSecondaryColor);
}


/*--------------------------------------------------------------
    Responsive
--------------------------------------------------------------*/

/*----*****---- << Tablet (Portrait) >> ----*****----*/

/* Note: Design for a width of 768px */
@media only screen and (min-width:768px) and (max-width:1024px) {}

/*----*****---- << Mobile (Landscape) >> ----*****----*/

/* Common Styles for the devices below 767px width */
@media only screen and (max-width: 767px) {

    .pagination ul li a,
    .pagination ul li span,
    .page-link a,
    .page-link>span,
    .woocommerce nav.woocommerce-pagination ul li a,
    .woocommerce nav.woocommerce-pagination ul li span {
        font-size: calc(var(--wdtFontSize_Base) - 3px);
        font-weight: 600;
        height: 32px;
        line-height: 30px;
        width: 32px;
    }

    .woocommerce .product-loop-sorting nav.woocommerce-pagination ul li i {
        font-size: var(--wdtFontSize_Base);
    }

}