/* ------------------------------------- */
/* Search Result - Style */
/* ------------------------------------- */
.secondary-sidebar .widget ul.quick_search_data_item li>a:hover {
    color: var(--wdtPrimaryColor);
}

#searchform ul.quick_search_results {
    position: absolute;
    padding: 0;
    background-color: rgba(var(--wdtAccentTxtColorRgb), 1);
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin: 16px 0 0;
    transition: all .4s ease;
    z-index: 99;
    font-size: 0.9rem;
    transform: translateY(10px);
    /* border: 1px solid var(--wdtBorderColor); */
}


#searchform ul.quick_search_results p:only-child {
    margin: 0;
    padding: 10px 20px;
}

#searchform ul.quick_search_results p,
#searchform ul.quick_search_results li:only-child {
    border: none;
}

#searchform ul.quick_search_results li.quick_search_data_item {
    list-style-type: none;
    text-align: inherit;
    line-height: var(--wdtLineHeight_Base);
    padding: 10px 0;
    width: auto;
    margin: 0px;
}

#searchform ul.quick_search_results li.quick_search_data_item a {
    width: 100%;
    font-size: var(--wdtFontSize_Base);
    display: grid;
    gap: 15px;
    grid-template-columns: 60px 1fr;
    place-items: center;
    justify-items: start;
    line-height: var(--wdtLineHeight_Alt);
    font-weight: var(--wdtFontWeight_Base);
    font-family: var(--wdtFontTypo_Alt);
    color: rgba(var(--wdtHeadAltColorRgb),1);
}

#searchform ul.quick_search_results li.quick_search_data_item a>img {
    -webkit-border-radius: var(--wdtRadius_2X);
    border-radius: var(--wdtRadius_2X);
}

#searchform ul.quick_search_results:not(.active):before,
#searchform ul.quick_search_results:not(.active) {
    font-size: inherit;
    opacity: 0;
    transform: translateY(10px);
    transition: all .4s ease;
}

#searchform ul.quick_search_results.active {
    opacity: 1;
    transform: translateY(0);
    padding: 15px;
    -webkit-box-shadow: 0 0px 0px 1px var(--wdtBorderColor);
    box-shadow: 0 0px 0px 1px var(--wdtBorderColor);
}

#searchform input.text_input~ul.quick_search_results {
    opacity: 0;
    transform: translateY(10px);
    transition: all .4s ease;
    visibility: hidden;
    -webkit-border-radius: var(--wdtRadius_2X);
    border-radius: var(--wdtRadius_2X);
}

#searchform input.text_input:focus~ul.quick_search_results {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

#searchform ul.quick_search_results.active:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: inherit;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -8px;
    left: 40px;
    border: solid var(--wdtBorderColor);
    border-width: 1px 0 0 1px;
    z-index: -2;
}
#searchform ul.quick_search_results.active:after { content: ""; position: absolute; top: 0; right: 0; left: 0; 
    bottom: 0; background: rgba(var(--wdtTertiaryColorRgb), .4); z-index: -1; pointer-events: none; }

#searchform ul.quick_search_results li.quick_search_data_item a:hover { color: rgba(var(--wdtHeadAltColorRgb),.7);}