/** 
  @ Service Page Styles
  -------------------------------
*/

.wdt-service-archive-wrapper {
  display: flex;
  flex-wrap: wrap;
  --ser-gap: 30px;
  gap: var(--ser-gap);
}

.wdt-service-archive-wrapper.wdt-columns-5>.wdt-service-item {
  flex: 0 0 calc(20% - calc(var(--ser-gap) / 1.25));
}

.wdt-service-archive-wrapper.wdt-columns-4>.wdt-service-item {
  flex: 0 0 calc(25% - calc(var(--ser-gap) / 1.333));
}

.wdt-service-archive-wrapper.wdt-columns-3>.wdt-service-item {
  flex: 0 0 calc(33.3333% - calc(var(--ser-gap) / 1.5));
}

.wdt-service-archive-wrapper.wdt-columns-2>.wdt-service-item {
  flex: 0 0 calc(50% - calc(var(--ser-gap) / 2));
}

.wdt-service-archive-wrapper.wdt-columns-1>.wdt-service-item {
  flex: 0 0 100%;
}

/* ---------------------
 === Service Single ===
------------------------ */

.wdt_services_single-wrapper {
  display: flex;
  flex-wrap: wrap;
  --ser-gap: clamp(2.5rem, -0.3631rem + 4.4693vw, 5rem);
  gap: var(--ser-gap);
}

.wdt_services_single-wrapper>.primary-wrap {
  flex: 1 1 calc(70% - calc(var(--ser-gap) / 2));
}

.wdt_services_single-wrapper>.secondary-wrap {
  flex: 1 1 calc(30% - calc(var(--ser-gap) / 2));
  order: -1;
}

.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap {
  position: sticky;
  top: 50px;
  background-color: transparent;
  padding: 30px 20px;
  -webkit-border-radius: var(--wdtRadius_4X);
  border-radius: var(--wdtRadius_4X);
}

.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap h3{
  font-size: var(--wdtFontSize_H6);
    margin: 0px 0 20px 0;
    float: none;
    width: 100%;
    padding: 15px 30px;
    background-color: rgba(var(--wdtQuaternaryColorRgb), 0.1);
    border-radius: var(--wdtRadius_Part);
    -webkit-border-radius: var(--wdtRadius_Part);
}

.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap h3:has( + .social-icons){ 
  margin-top: 30px;
}

.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap nav .service-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap nav .service-list li {
  margin-bottom: 10px;
}

.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap nav .service-list li a:hover,
.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap nav .service-list li.active a {
  background: var(--wdtSecondaryColor);
}

.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap nav .service-list li a:before {
  content: '\e80d';
  font-family: "sweetheart-icon";
  font-style: normal;
  position: relative;
  width: auto;
  height: auto;
  font-size: inherit;
  display: inline-block;
  margin-right: 15px;
  color: currentColor;
}

.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap .wdt-service-contact-info { padding: 20px; border-radius: var(--wdtRadius_3X); background-color: rgba(var(--wdtTertiaryColorRgb), .4); }
.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap .wdt-service-contact-info p a{ color: inherit; }
.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap .wdt-service-contact-info p strong{ color: var(--wdtSecondaryColor); margin-right: .2em; }
.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap .wdt-service-contact-info p a:hover{ color: var(--wdtPrimaryColor); }
.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap .service-list-navigation:not(:last-child),
.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap .service-list-navigation:not(:only-child) { margin-bottom: 30px; }
.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap nav .service-list li a:hover,
.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap nav .service-list li.active a { color: var(--wdtAccentTxtColor); }

.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap nav .service-list li a {
  font-size: var(--wdtFontSize_Base); border: none; margin: 0; padding: 15px 30px; padding-right: 60px; background: rgba(var(--wdtTertiaryColorRgb), .4); 
  border-radius: var(--wdtRadius_Part); -webkit-border-radius: var(--wdtRadius_Part); display: flex ; align-items: flex-start; color: var(--wdtHeadAltColor);
  line-height: var(--wdtLineHeight_Alt); -webkit-transition: var(--wdtAltTransition); transition: var(--wdtAltTransition); }

.wdt_services_single-wrapper>.secondary-wrap .wdt-service-meta-wrap .service-contact>p {
  color: var(--wdtSecondaryColor);
}

.wdt_services_single-wrapper>.secondary-wrap .wdt-service-meta-wrap .service-contact .social-icons {
  display: flex; gap: 8px; padding: 20px; background-color: rgba(var(--wdtTertiaryColorRgb), .4); border-radius: var(--wdtRadius_3X); }

.wdt_services_single-wrapper>.secondary-wrap .wdt-service-meta-wrap .service-contact .social-icons a .wdt-social-type-icon {
  display: flex;
}

.wdt_services_single-wrapper>.secondary-wrap .wdt-service-meta-wrap .service-contact .social-icons a {
  padding: 10px;
  border-radius: var(--wdtRadius_2X);
  line-height: 1;
  background-color: var(--wdtSecondaryColor);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.wdt_services_single-wrapper>.secondary-wrap .wdt-service-meta-wrap .service-contact .social-icons a:hover {
  background-color: var(--wdtPrimaryColor);
  border-color: var(--wdtPrimaryColor);
  color: var(--wdtAccentTxtColor);
}

.wdt_services_single-wrapper>.secondary-wrap .wdt-service-meta-wrap .service-contact .social-icons a img {
  width: 16px;
  height: 16px;
}

.wdt_services_single-wrapper>.primary-wrap>div.featured_image_wrap {
  position: relative;
}

.wdt_services_single-wrapper>.primary-wrap>div .services-featured-image {
  -webkit-border-radius: var(--wdtRadius_4X);
  border-radius: var(--wdtRadius_4X);
  overflow: hidden;
  margin-bottom: 40px;
}

.wdt_services_single-wrapper>.primary-wrap>div .wdt-service-meta-wrap {
  position: absolute;
  bottom: 0;
  padding: 15px;
  background-color: var(--wdtAccentTxtColor);
  border-top-right-radius: var(--wdtRadius_4X);
}

.wdt_services_single-wrapper>.primary-wrap .featured_image_wrap .wdt-service-meta-wrap:before,
.wdt_services_single-wrapper>.primary-wrap .featured_image_wrap .wdt-service-meta-wrap:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  rotate: 90deg;
  z-index: 10;
  background-color: inherit;
  clip-path: path("M60,30v30H30c8.3,0,15.8-3.4,21.2-8.8C56.6,45.8,60,38.3,60,30z");
  backface-visibility: hidden;
  will-change: transform;
  isolation: isolate;
}

.wdt_services_single-wrapper>.primary-wrap .featured_image_wrap .wdt-service-meta-wrap:before {
  left: 0;
  top: -60px;
}

.wdt_services_single-wrapper>.primary-wrap .featured_image_wrap .wdt-service-meta-wrap:after {
  right: -60px;
  bottom: 0;
}

.wdt_services_single-wrapper>.primary-wrap>div .wdt-service-meta-wrap .wdt-service-type-price-group {
  display: flex;
  align-items: center;
  font-size: var(--wdtFontSize_H6);
  font-family: var(--wdtFontTypo_Alt);
  color: var(--wdtSecondaryColor);
}

.wdt_services_single-wrapper>.primary-wrap>div .wdt-service-meta-wrap .wdt-service-type-price-group .wdt-service-type-offerprice {
  margin-left: 24px;
  position: relative;
}

.wdt_services_single-wrapper>.primary-wrap>div .wdt-service-meta-wrap .wdt-service-type-price-group .wdt-service-type-offerprice:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: var(--wdtSecondaryColor);
  left: -15px;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: var(--wdtAltTransition);
  transition: var(--wdtAltTransition);
}


.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap .service-contact>p a {
  color: var(--wdtHeadAltColor);
}

.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap .service-contact>p a:hover {
  color: var(--wdtLinkHoverColor);
}

.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap .service-contact>.social-icons a {
  color: var(--wdtAccentTxtColor);
}


.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap .service-contact .service-enquiry-form .wpcf7-form-control-wrap {
  margin-top: 10px;
}

.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap .service-contact .service-enquiry-form p.with-spinner input[type="submit"] {
  color: var(--wdtAccentTxtColor);
}

.wdt_services_single-wrapper>.secondary-wrap .sidebar-inner-wrap .service-contact .service-enquiry-form>p {
  margin-bottom: 15px;
}


@media (max-width: 1024px) {
  .wdt_services_single-wrapper>.primary-wrap {
    flex: 1 1 100%;
  }

  .wdt_services_single-wrapper>.secondary-wrap {
    flex: 1 1 100%;
    order: 0;
  }
}


/* ---------------------------
 ===== service-archive  =====
------------------------------ */
.wdt-service-archive-wrapper .wdt-service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  background-color: var(--wdt-elementor-color-custom-2);
  -webkit-border-radius: var(--wdtRadius_4X);
  border-radius: var(--wdtRadius_4X);
  border-bottom-right-radius: var(--wdtRadius_Zero);
  -webkit-transition: var(--wdtAltTransition);
  transition: var(--wdtAltTransition);
  position: relative;
  overflow: hidden;
}

.wdt-service-archive-wrapper .wdt-service-item .wdt-service-media-group,
.wdt-service-archive-wrapper .wdt-service-item .wdt-service-media-group .wdt-service-image,
.wdt-service-archive-wrapper .wdt-service-item .wdt-service-media-group .wdt-service-image a {
  -webkit-border-radius: var(--wdtRadius_3X);
  border-radius: var(--wdtRadius_3X);
  overflow: hidden;
}

.wdt-service-archive-wrapper .wdt-service-item .wdt-service-media-group .wdt-service-image a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: var(--wdtAltTransition);
  -webkit-transition: var(--wdtAltTransition);
}

.wdt-service-archive-wrapper .wdt-service-item .wdt-service-media-group {
  padding: 15px;
  padding-bottom: 0;
}

.wdt-service-archive-wrapper .wdt-service-item .wdt-service-detail-group {
  padding: 0 clamp(0.9375rem, 0.875rem + 0.3125vw, 1.25rem)
    /* Min-15 & Max-20 */
    40px;
  z-index: 1;
}

.wdt-service-archive-wrapper .wdt-service-item .wdt-service-type-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--wdtAccentTxtColor);
  width: clamp(5rem, 4.625rem + 1.875vw, 6.875rem);
  /* Min-80 & Max-110 */
  height: clamp(5rem, 4.625rem + 1.875vw, 6.875rem);
  /* Min-60 & Max-110 */
  -webkit-border-radius: var(--wdtRadius_Full);
  border-radius: var(--wdtRadius_Full);
}

.wdt-service-archive-wrapper .wdt-service-item .wdt-service-type-icon img {
  width: clamp(3.125rem, 2.875rem + 1.25vw, 4.375rem);
  /* Min-50 & Max-70 */
  height: clamp(3.125rem, 2.875rem + 1.25vw, 4.375rem);
  /* Min-50 & Max-70 */
}

.wdt-service-archive-wrapper .wdt-service-item .wdt-service-title h5 {
  margin-bottom: 15px;
  font-size: clamp(1.5rem, 1.4013rem + 0.3947vw, 1.875rem);
  /* Min-24 & Max-30 */
  text-transform: capitalize;
}

.wdt-service-archive-wrapper .wdt-service-item .wdt-service-title h5,
.wdt-service-archive-wrapper .wdt-service-item .wdt-service-title h5 a {
  color: var(--wdtHeadAltColor);
  -webkit-transition: var(--wdtAltTransition);
  transition: var(--wdtAltTransition);
}

.wdt-service-archive-wrapper .wdt-service-item .wdt-service-excerpt {
  padding-right: clamp(1.25rem, 0.625rem + 2.0833vw, 3.125rem)
    /* Min-20 & Max-50 */
  ;
  -webkit-transition: var(--wdtAltTransition);
  transition: var(--wdtAltTransition);
}

.wdt-service-archive-wrapper .wdt-service-item .wdt-service-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--wdtAccentTxtColor);
  padding: 10px 0px 0px 10px;
  border-top-left-radius: var(--wdtRadius_Full);
  transition: var(--wdtAltTransition);
}

.wdt-service-archive-wrapper .wdt-service-item .wdt-service-button:before,
.wdt-service-archive-wrapper .wdt-service-item .wdt-service-button:after {
  backface-visibility: hidden;
  isolation: isolate;
  will-change: transform;
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: 10;
  background-color: var(--wdtAccentTxtColor);
  clip-path: path("M60,30v30H30c8.3,0,15.8-3.4,21.2-8.8C56.6,45.8,60,38.3,60,30z");
  -webkit-transition: var(--wdtAltTransition);
  transition: var(--wdtAltTransition);
}

.wdt-service-archive-wrapper .wdt-service-item .wdt-service-button:before {
  right: 0;
  top: -60px;
  transform-origin: right;
}

.wdt-service-archive-wrapper .wdt-service-item .wdt-service-button:after {
  left: -60px;
  bottom: 0;
  transform-origin: bottom;
}

.wdt-service-archive-wrapper .wdt-service-item .wdt-service-button>a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(3.125rem, 3.0138rem + 0.6135vw, 3.75rem);
  height: clamp(3.125rem, 3.0138rem + 0.6135vw, 3.75rem);
  background: var(--wdtPrimaryColor);
  color: var(--wdtAccentTxtColor);
  font-size: 0px;
  -webkit-transition: var(--wdtAltTransition);
  transition: var(--wdtAltTransition);
  -webkit-border-radius: var(--wdtRadius_Full);
  border-radius: var(--wdtRadius_Full);
  position: relative;
}

.wdt-service-archive-wrapper .wdt-service-item .wdt-service-button>a:before {
  content: "";
  font-family: "sweetheart-icon";
  font-style: normal;
  position: absolute;
  width: clamp(1.5rem, 1.425rem + 0.375vw, 1.875rem);
  /* Min-24 & Max-30 */
  height: clamp(1.5rem, 1.425rem + 0.375vw, 1.875rem);
  /* Min-24 & Max-30 */
  background-color: var(--wdtAccentTxtColor);
  -webkit-mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' %3E%3Cpath d='M1.4,45.6c15.5-5.9,35-4.5,51.5-4.4c3.2,0,6.4,0,9.6,0.1c-4.5-2.6-10.9-5.2-9.8-10.9c0.7-3.9,4.9-5.9,9.2-5.3 c3.8,0.6,8.1,3.6,11.4,5.3c4.2,2.1,8.4,4.2,12.5,6.6c3.2,1.8,6.5,3.5,8.8,6c1.2,0.6,2.5,1.4,3.8,2.6c1.7,1.5,2.4,4.5,0.4,6.1 c-0.7,0.5-1.3,1-1.9,1.4c-1,2.8-3.4,5.1-6.3,7.1C83,65.3,74.9,70,66.7,74.3c-5.9,3-13.4-3.8-8.1-8.4c3-2.6,5.9-5.3,9.1-7.7 c0.9-0.7,2.1-1.7,3.3-2.7c-6.5-0.2-13-0.3-19.6-0.4C35.2,54.5,16.1,55.2,1.1,49C-0.6,48.2-0.2,46.2,1.4,45.6z'/%3E%3C/svg%3E%0A");
  mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' %3E%3Cpath d='M1.4,45.6c15.5-5.9,35-4.5,51.5-4.4c3.2,0,6.4,0,9.6,0.1c-4.5-2.6-10.9-5.2-9.8-10.9c0.7-3.9,4.9-5.9,9.2-5.3 c3.8,0.6,8.1,3.6,11.4,5.3c4.2,2.1,8.4,4.2,12.5,6.6c3.2,1.8,6.5,3.5,8.8,6c1.2,0.6,2.5,1.4,3.8,2.6c1.7,1.5,2.4,4.5,0.4,6.1 c-0.7,0.5-1.3,1-1.9,1.4c-1,2.8-3.4,5.1-6.3,7.1C83,65.3,74.9,70,66.7,74.3c-5.9,3-13.4-3.8-8.1-8.4c3-2.6,5.9-5.3,9.1-7.7 c0.9-0.7,2.1-1.7,3.3-2.7c-6.5-0.2-13-0.3-19.6-0.4C35.2,54.5,16.1,55.2,1.1,49C-0.6,48.2-0.2,46.2,1.4,45.6z'/%3E%3C/svg%3E%0A");
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
  -webkit-transition: var(--wdtAltTransition);
  transition: var(--wdtAltTransition);
  z-index: 1;
}

.wdt-service-archive-wrapper .wdt-service-item:hover .wdt-service-title h5,
.wdt-service-archive-wrapper .wdt-service-item:hover .wdt-service-title h5 a {
  color: var(--wdtAccentTxtColor);
}

.wdt-service-archive-wrapper .wdt-service-item:hover .wdt-service-title h5 a:hover {
  color: rgba(var(--wdtAccentTxtColorRgb), 0.9);
}

.wdt-service-archive-wrapper .wdt-service-item:hover .wdt-service-excerpt {
  color: var(--wdtAccentTxtColor);
}

.wdt-service-archive-wrapper .wdt-service-item:hover .wdt-service-button>a {
  background-color: var(--wdtSecondaryColor);
}

.wdt-service-archive-wrapper .wdt-service-item:hover .wdt-service-button>a:before {
  background-color: var(--wdtAccentTxtColor);
}

.wdt-service-archive-wrapper .wdt-service-item .wdt-service-button>a:hover:before {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.wdt-service-archive-wrapper .wdt-service-item:hover .wdt-service-media-group .wdt-service-image a img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* ===== Service pricing style ===== */
.wdt-service-archive-wrapper .wdt-service-item .wdt-service-detail-group .wdt-service-price-group {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: var(--wdtFontSize_H6);
  font-family: var(--wdtFontTypo_Alt);
  color: var(--wdtSecondaryColor);
  margin-bottom: 15px;
  -webkit-transition: var(--wdtAltTransition);
  transition: var(--wdtAltTransition);
}

.wdt-service-archive-wrapper .wdt-service-item:hover .wdt-service-detail-group .wdt-service-price-group {
  color: var(--wdtAccentTxtColor);
}

.wdt-service-archive-wrapper .wdt-service-item .wdt-service-detail-group .wdt-service-price-group .wdt-service-offerprice {
  position: relative;
}

.wdt-service-archive-wrapper .wdt-service-item .wdt-service-detail-group .wdt-service-price-group .wdt-service-offerprice:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: var(--wdtSecondaryColor);
  left: -18px;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: var(--wdtAltTransition);
  transition: var(--wdtAltTransition);
}

.wdt-service-archive-wrapper .wdt-service-item:hover .wdt-service-detail-group .wdt-service-price-group .wdt-service-offerprice:after {
  background-color: var(--wdtAccentTxtColor);
}

.wdt-service-archive-wrapper .wdt-service-item:after {
  content: "";
  position: absolute;
  pointer-events: none;
  pointer-events: none;
  width: 40px;
  height: 40px;
  border-radius: var(--wdtRadius_2X);
  z-index: 0;
  transform: scale3d(1, 1, 1);
  transform-style: preserve-3d;
  -webkit-transition: var(--wdtAltTransition);
  transition: var(--wdtAltTransition);
  background: linear-gradient(90deg, transparent 0%, var(--wdtPrimaryColor) 100%);
  will-change: transform;
  background-size: 800%;
  background-position: top left;
  transition-property: transform, background-position;
  transition-duration: .8s;
  right: -40px;
  bottom: -40px;
}

.wdt-service-archive-wrapper .wdt-service-item:hover:after {
  transform: scale3d(45, 45, 1);
  background-position: top right;
  transition-delay: 0s, .1s;
}

.wdt-service-archive-wrapper .wdt-service-item>div,
.wdt-service-archive-wrapper .wdt-service-item .wdt-service-detail-group>div,
.wdt-service-archive-wrapper .wdt-service-item .wdt-service-media-group>div {
  z-index: 1;
}

@media (max-width: 1540px) {
  .wdt-service-archive-wrapper.wdt-columns-5>.wdt-service-item {
    flex: 0 0 calc(25% - calc(var(--ser-gap) / 1.25));
  }

}


@media (max-width: 1280px) {
  .wdt-service-archive-wrapper.wdt-columns-5>.wdt-service-item {
    flex: 0 0 calc(33.333% - calc(var(--ser-gap) / 1.25));
  }

  .wdt-service-archive-wrapper.wdt-columns-4>.wdt-service-item {
    flex: 0 0 calc(33.333% - calc(var(--ser-gap) / 1.333));
  }

}


@media (max-width: 1024px) {
  .wdt-service-archive-wrapper.wdt-columns-5>.wdt-service-item {
    flex: 0 0 calc(50% - calc(var(--ser-gap) / 1.25));
  }

  .wdt-service-archive-wrapper.wdt-columns-4>.wdt-service-item {
    flex: 0 0 calc(50% - calc(var(--ser-gap) / 1.333));
  }

  .wdt-service-archive-wrapper.wdt-columns-3>.wdt-service-item {
    flex: 0 0 calc(50% - calc(var(--ser-gap) / 1.5));
  }

}

@media (max-width: 767px) {
  .wdt-service-archive-wrapper.wdt-columns-5>.wdt-service-item {
    flex: 0 0 calc(100% - calc(var(--ser-gap) / 1.25));
  }

  .wdt-service-archive-wrapper.wdt-columns-4>.wdt-service-item {
    flex: 0 0 calc(100% - calc(var(--ser-gap) / 1.333));
  }

  .wdt-service-archive-wrapper.wdt-columns-3>.wdt-service-item {
    flex: 0 0 calc(100% - calc(var(--ser-gap) / 1.5));
  }

  .wdt-service-archive-wrapper.wdt-columns-2>.wdt-service-item {
    flex: 0 0 calc(100% - calc(var(--ser-gap) / 2));
  }
}