

/*--------------------------------------------------------------
	Sidebar Widget Area
--------------------------------------------------------------*/

    #secondary.secondary-sidebar { margin-bottom: 120px; }
    .secondary-sidebar .widget:last-child { margin-bottom: 0px; }

    .secondary-sidebar .widgettitle { display: inline-block; float: none; margin-top: 0; width: 100%;
  padding: 15px 30px; background-color: rgba(var(--wdtQuaternaryColorRgb), 0.1); border-radius: var(--wdtRadius_Part); -webkit-border-radius: var(--wdtRadius_Part); }

    .secondary-sidebar .widgettitle:before, .secondary-sidebar .widgettitle:after { content:""; }
    .secondary-sidebar .widgettitle:empty { display:none; }
    .secondary-sidebar .widgettitle > a { color: currentColor; }

    .secondary-sidebar > div[class^="type"] { overflow:hidden; }


/*--------------------------------------------------------------
	Search Bar Input Style
--------------------------------------------------------------*/

.secondary-sidebar .widget_product_search .search-field + button[type="submit"] {
    position: absolute; top: 0px; right: 1px; margin: 0; border-radius: var(--wdtRadius_Full); font-size: 0; padding: 10px; width: 57px; height: 57px; 
    line-height: 0; cursor: pointer;
    color: var(--wdtAccentTxtColor); background: var(--wdtPrimaryColor); aspect-ratio: 1; }

.secondary-sidebar .widget_product_search .search-field + button[type="submit"]:hover { background: var(--wdtSecondaryColor); }

.secondary-sidebar .widget_product_search .search-field + button[type="submit"]:before { line-height: 1; color: currentColor;
    position: relative; content: '\e80b'; font-family: "sweetheart-icon"; font-style: normal; font-weight: normal; font-size: var(--wdtFontSize_H5); }

/*--------------------------------------------------------------
	Colors
--------------------------------------------------------------*/

    .secondary-sidebar .widgettitle,
    .secondary-sidebar .widget ul li > a, .secondary-sidebar .tagcloud a { color: var(--wdtHeadAltColor); }
    .secondary-sidebar .widgettitle a { color: inherit; }

    .secondary-sidebar .tagcloud a:hover { color:var(--wdtAccentTxtColor); }


/*--------------------------------------------------------------
    Accents
--------------------------------------------------------------*/

    /* Primary Color */
    .secondary-sidebar .widget ul li > a:hover { color: var(--wdtHeadAltColor); }


/*--------------------------------------------------------------
	Responsive
--------------------------------------------------------------*/

    @media only screen and (min-width:1281px) and (max-width:1540px) {

        .secondary-sidebar .widget #wp-calendar th { font-size: 14px; }
        .secondary-sidebar .widget #wp-calendar td { font-size: 14px; }

    }


    @media only screen and (min-width:1025px) and (max-width:1280px) {

        .secondary-sidebar aside.widget { font-size: 14px; }

        .secondary-sidebar .widget #wp-calendar td { font-size: 12px; }
        .secondary-sidebar .widget #wp-calendar th { font-size: 12px; }

        .secondary-sidebar .widget_tag_cloud .tagcloud a, .secondary-sidebar .widget .tagcloud a { font-size: calc(var(--wdtFontSize_Ext)- 0.1316vw) !important; padding: 5px 12px; }

        #select2-archives-dropdown--1-results, #select2-cat-results { font-size: 13px; }

    }


	@media only screen and (max-width: 767px) {

		.secondary-sidebar .widget #wp-calendar th, .secondary-sidebar .widget #wp-calendar td { font-size: 14px; }

	}

    /*--------------------------------------------------------------
        Sidebar - Default-Value
    --------------------------------------------------------------*/

        @media only screen and (min-width:1281px) and (max-width:1540px) { #secondary.secondary-sidebar { margin-bottom: 100px; } }
        @media only screen and (min-width:1025px) and (max-width:1280px) { #secondary.secondary-sidebar { margin-bottom: 80px; } }
        @media only screen and (min-width:768px) and (max-width:1024px) { #secondary.secondary-sidebar { margin-bottom: 70px; } }
        @media only screen and (min-width:480px) and (max-width:767px) { #secondary.secondary-sidebar { margin-bottom: 60px; } }
        @media only screen and (max-width: 479px) { #secondary.secondary-sidebar { margin-bottom: 50px; } }