.wdt-button-holder { display: inline-flex; position: relative; -webkit-transition: var(--wdt-Ad-Transition); transition: var(--wdt-Ad-Transition); }
.wdt-button { border: 1px solid transparent; display: inline-flex; align-items: stretch; font-size: 1em; letter-spacing: 0; line-height: normal; margin: 0; overflow: visible; position: relative; z-index: 0; text-decoration: none; text-transform: none; -webkit-transition: var(--wdt-Ad-Transition); transition: var(--wdt-Ad-Transition); }

.wdt-button, .wdt-button-holder .wdt-button { 
    background-color: var(--wdtPrimaryColor); color: var(--wdtAccentTxtColor); justify-content: center; text-align: center; }

.wdt-button:focus, .wdt-button-holder .wdt-button:focus,
.wdt-button:hover, .wdt-button-holder .wdt-button:hover { 
    background-color: var(--wdtSecondaryColor); color: var(--wdtAccentTxtColor);
    -webkit-box-shadow: 0px 0px 30px rgba(var(--wdtBodyBGColorRgb),0.2); box-shadow: 0px 0px 30px rgba(var(--wdtBodyBGColorRgb),0.2); }


.wdt-dark-bg .wdt-button, .wdt-dark-bg .wdt-button-holder .wdt-button {
    background-color: var(--wdtAccentTxtColor); color: var(--wdtSecondaryColor);
 }
.wdt-dark-bg .wdt-button:focus, .wdt-dark-bg .wdt-button-holder .wdt-button:focus,
.wdt-dark-bg .wdt-button:hover, .wdt-dark-bg .wdt-button-holder .wdt-button:hover { 
    background-color: var(--wdtSecondaryColor); color: var(--wdtAccentTxtColor); }

.wdt-button .wdt-button-text, 
.wdt-button .wdt-button-icon { vertical-align: top; }

.wdt-button .wdt-button-text { display: inline-grid; align-content: center; text-align: left; gap: 10px; height: 100%; }
.wdt-button .wdt-button-icon { display: inline-flex; line-height: 0; transition: var(--wdt-Ad-Transition) }
.wdt-button .wdt-button-icon span { display: inherit; align-items: center; position: relative; }
/* .wdt-button .wdt-button-icon span, .wdt-button .wdt-button-icon span i { -webkit-transition: inherit; transition: inherit; } */

.wdt-button .wdt-button-text .wdt-button-subtext { display: block; font-size: 0.75em; margin-top: -2px; }

.wdt-button-holder.wdt-button-size-sm .wdt-button { font-size: clamp(1.125rem, 1.0921rem + 0.1316vw, 1.25rem); /* Min-18 & Max-20 */ padding: var(--wdtPadding_MiniBtn); 
        font-family: var(--wdtFontTypo_Alt); font-weight: var(--wdtFontWeight_Alt); line-height: 1; }

.wdt-button-holder.wdt-button-size-nm .wdt-button { font-size: clamp(1.125rem, 1.0921rem + 0.1316vw, 1.25rem); /* Min-18 & Max-20 */ padding: var(--wdtPadding_Btn); 
    font-family: var(--wdtFontTypo_Alt); font-weight: var(--wdtFontWeight_Alt); line-height: 1; }
    
.wdt-button-holder.wdt-button-size-lg .wdt-button { font-size: clamp(1.125rem, 1.0921rem + 0.1316vw, 1.25rem); /* Min-18 & Max-20 */ padding: var(--wdtPadding_MaxiBtn); 
    font-family: var(--wdtFontTypo_Alt); font-weight: var(--wdtFontWeight_Alt); line-height: 1; }
            
.elementor-align-justify .wdt-button-holder, .elementor-align-justify .wdt-button-holder .wdt-button { width: 100%; }
            
.wdt-button-holder.wdt-button-icon-before .wdt-button .wdt-button-icon { margin-right: 8px; }
.wdt-button-holder.wdt-button-icon-after .wdt-button .wdt-button-icon { margin-left: 8px; }

/*---***---- Filled Style new ----**---*/
.wdt-button, .wdt-button-holder.wdt-template-filled .wdt-button {
mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 50" style="enable-background:new 0 0 140 50;" xml:space="preserve"><path d="M135.4,3.4c-6.8-4.1-125-5.1-130.8,0.9c-5.8,6-6.2,35.7-0.6,41.3c0.6,0.6,2.7,1.2,5.9,1.7c0,0,20.8,2.7,27.6,2.8c6.9,0.1,92-0.3,96.9-5.4C141.2,37.7,142.2,7.5,135.4,3.4z"/></svg>');
-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 50" style="enable-background:new 0 0 140 50;" xml:space="preserve"><path d="M135.4,3.4c-6.8-4.1-125-5.1-130.8,0.9c-5.8,6-6.2,35.7-0.6,41.3c0.6,0.6,2.7,1.2,5.9,1.7c0,0,20.8,2.7,27.6,2.8c6.9,0.1,92-0.3,96.9-5.4C141.2,37.7,142.2,7.5,135.4,3.4z"/></svg>');
mask-position: center; mask-repeat: no-repeat; mask-size: 100%; border-radius: var(--wdtRadius_2X); transition: var(--wdtBaseTransition); -webkit-transition: var(--wdtBaseTransition); }
        
.wdt-button-holder.wdt-template-filled .wdt-button::before,
.wdt-button-holder.wdt-template-filled .wdt-button::after { content: ''; position: absolute; width: 30px; height: 20px; mask-position: center; mask-repeat: no-repeat; 
    mask-size: 100% 100%; background-color: currentColor; transition: var(--wdtBaseTransition); -webkit-transition: var(--wdtBaseTransition); }

.wdt-button-holder.wdt-template-filled .wdt-button::before{ mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 19" style="enable-background:new 0 0 29 19;" xml:space="preserve"><path d="M3.2,4c-1.4,1.4-2.6,7.5-3,10.4c-0.2,1.1-0.1,3.5,0,4.6c0.5-4.1,2.6-9.4,3.6-11.5c1.9-4.6,6.7-5.8,8.9-5.8L28.1,0C23.4,0,13,0.1,9.7,0.6C5.5,1.2,5,2.3,3.2,4z"/></svg>');
-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 19" style="enable-background:new 0 0 29 19;" xml:space="preserve"><path d="M3.2,4c-1.4,1.4-2.6,7.5-3,10.4c-0.2,1.1-0.1,3.5,0,4.6c0.5-4.1,2.6-9.4,3.6-11.5c1.9-4.6,6.7-5.8,8.9-5.8L28.1,0C23.4,0,13,0.1,9.7,0.6C5.5,1.2,5,2.3,3.2,4z"/></svg>'); 
left: 6px; top: 6px; }
.wdt-button-holder .wdt-button::after { mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 17" style="enable-background:new 0 0 24 17;" xml:space="preserve"><path d="M21.2,13.1c1.2-1.2,2.2-6.7,2.5-9.3c0.1-1,0.1-3.2,0-4.1c-0.4,3.7-2.2,8.4-3.1,10.3c-1.6,4.1-5.8,5.2-7.6,5.2l-13.2,1.5c4.1,0,12.9-0.1,15.8-0.5C19.1,15.7,19.6,14.7,21.2,13.1z"/></svg>');
-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 17" style="enable-background:new 0 0 24 17;" xml:space="preserve"><path d="M21.2,13.1c1.2-1.2,2.2-6.7,2.5-9.3c0.1-1,0.1-3.2,0-4.1c-0.4,3.7-2.2,8.4-3.1,10.3c-1.6,4.1-5.8,5.2-7.6,5.2l-13.2,1.5c4.1,0,12.9-0.1,15.8-0.5C19.1,15.7,19.6,14.7,21.2,13.1z"/></svg>');
right: 6px; bottom: 6px; }

.wdt-button-holder.wdt-button-icon-outer .wdt-button-icon{ transform: translate(-25%, -25%); color: var(--wdtPrimaryColor); pointer-events: none; }
.wdt-button-holder.wdt-button-icon-outer:has(.wdt-button:hover) .wdt-button-icon{ transform: translate(-25%, -25%); color: var(--wdtSecondaryColor); }
.wdt-dark-bg .wdt-button-holder.wdt-button-icon-outer:has(.wdt-button:hover) .wdt-button-icon,
.wdt-dark-bg .wdt-button-holder.wdt-button-icon-outer .wdt-button-icon{ transform: translate(-25%, -25%); color: var(--wdtAccentTxtColor); }

.wdt-button-holder.wdt-button-icon-outer:has(> .wdt-button:hover) .wdt-button-icon svg path{ animation: storm1265 0.3s ease-in-out both; animation-delay: 0s; }
.wdt-button-holder.wdt-button-icon-outer:has(> .wdt-button:hover) .wdt-button-icon svg path:first-child + path { animation-delay: .25s; }
.wdt-button-holder.wdt-button-icon-outer:has(> .wdt-button:hover) .wdt-button-icon svg path:last-child { animation-delay: .15s; }

/* .wdt-button-holder:not(.wdt-template-textual) .wdt-button:hover span{ animation: jumpeffect 0.7s ease-in-out both; animation-delay: 0.06s; } */
.wdt-button-holder.wdt-template-filled::before { content: ''; position: absolute; width: calc(100% / 2); height: 5px; bottom: -15px; left: 45%; 
    border-radius: 100%; background: rgba(var(--wdtSecondaryColorRgb), .1); filter: blur(2px); opacity: 1; pointer-events: none; transform: translateX(-50%); }
.wdt-button-holder.wdt-template-filled .wdt-button:hover { animation: jumpeffect 0.7s ease-in-out both; }
.wdt-button-holder.wdt-template-filled .wdt-button .wdt-button-text::before,
.wdt-button-holder.wdt-template-filled .wdt-button .wdt-button-text::after { content: ''; left: -75px; transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);
    position: absolute; width: 50px; height: 200px; background: linear-gradient(90deg, var(--wdtTertiaryColor), transparent); opacity: .1; top: -90px; 
    transform: rotate(35deg); pointer-events: none; transition: var(--wdtAltTransition); -webkit-transition: var(--wdtAltTransition); }
.wdt-button-holder.wdt-template-filled .wdt-button .wdt-button-text.wdt-button-text after:has(> .wdt-button:hover) { animation: expand-effect 0.7s ease-in-out both; }
.wdt-button-holder.wdt-template-filled .wdt-button:hover .wdt-button-text::before { left: 130%; }
.wdt-button-holder.wdt-template-filled .wdt-button:hover .wdt-button-text::after { left: 120%; transition-delay: 200ms; }
.wdt-button-holder.wdt-template-filled .wdt-button:hover .wdt-button-text::after { left: 120%; transition-delay: 200ms; }

@keyframes jumpeffect {
  0% { transform: scaleY(1); transform-origin: bottom center; }
  25% { transform: scaleY(1.05) translateY(-3px); }
  50% { transform: scaleY(1); transform-origin: bottom center; }
  75% { transform: scaleY(0.95) translateY(3px); }
  100% { transform: scaleY(1); transform-origin: top center; }
}
@keyframes expand-effect {
  0% { transform: scaleX(1) translateX(-50%);  }
  25% { transform: scaleX(1.2) }
  50% { transform: scaleX(1) translateX(-50%); }
  75% { transform: scaleX(0.75) }
  100% { transform: translateX(-50%) scaleX(1); }
}

/* Styles */
.wdt-button-holder.wdt-button-style-underline:before, 
.wdt-button-holder.wdt-button-style-overline:before,
.wdt-button-holder.wdt-button-style-line-through .wdt-button .wdt-button-text > span:before { 
    content: ""; display: inline !important; height: 1px; pointer-events: none; position: absolute; bottom: 0; left: 0; right: 0; top: 0; 
    width: auto; -webkit-transition: inherit; transition: inherit; }

.wdt-button-holder.wdt-button-style-underline .wdt-button { margin-bottom: 3px; }
.wdt-button-holder.wdt-button-style-underline:before { bottom: 0; top: auto; }

.wdt-button-holder.wdt-button-style-overline .wdt-button { margin-top: 3px; }
.wdt-button-holder.wdt-button-style-overline:before { bottom: auto; top: 0; }

.wdt-button-holder.wdt-button-style-underline:before, 
.wdt-button-holder.wdt-button-style-overline:before { color: var(--wdt-elementor-color-accent); background-color: currentColor; background-image: inherit; }

.wdt-button-holder.wdt-button-style-underline:focus:before,
.wdt-button-holder.wdt-button-style-underline:hover:before, 
.wdt-button-holder.wdt-button-style-overline:focus:before,
.wdt-button-holder.wdt-button-style-overline:hover:before { color: var(--wdt-elementor-color-primary); background-color: currentColor; background-image: inherit; }

.wdt-button-holder.wdt-button-style-line-through .wdt-button .wdt-button-text > span { position: relative; }
.wdt-button-holder.wdt-button-style-line-through .wdt-button .wdt-button-text > span:before { background-color: currentColor; margin: auto; -webkit-transform: translateY(100%); transform: translateY(100%); }


/* Template - Bordered */
.wdt-button-holder.wdt-template-bordered .wdt-button { background: none !important; border-color: currentColor; border-width: 1px; }

.wdt-button-holder.wdt-template-bordered .wdt-button:not(:focus), 
.wdt-button-holder.wdt-template-bordered .wdt-button:not(:hover) { color: var(--wdt-elementor-color-accent); }

.wdt-button-holder.wdt-template-bordered .wdt-button:focus, 
.wdt-button-holder.wdt-template-bordered .wdt-button:hover { color: var(--wdt-elementor-color-primary); }


/* Template - Textual */
.wdt-button-holder.wdt-template-textual .wdt-button { border-width: 0; padding: 0; border-radius: 0; }
.wdt-button-holder.wdt-template-textual .wdt-button .wdt-button-text { background: linear-gradient(90deg, currentcolor 0%, currentColor 100%);
    background-position: bottom left; background-repeat: no-repeat; background-size: 100% 1px; transition: inherit; 
    transition-property: background-size; -webkit-transition-property: background-size; mask-image: none; }
.wdt-button-holder.wdt-template-textual .wdt-button:focus .wdt-button-text, 
.wdt-button-holder.wdt-template-textual .wdt-button:hover .wdt-button-text { background-position: bottom right; background-size: 0% 1px; }

.wdt-button-holder.wdt-template-textual .wdt-button:not(:focus), 
.wdt-button-holder.wdt-template-textual .wdt-button:not(:hover) { background: none !important; border-width: 0; color: var(--wdtPrimaryColor); mask-image: none; }

.wdt-button-holder.wdt-template-textual .wdt-button:focus, 
.wdt-button-holder.wdt-template-textual .wdt-button:hover { background: none; border-width: 0; color: var(--wdtSecondaryColor);
    -webkit-box-shadow: none; box-shadow: none; }

