/* Default Template */
.wdt-image-box-holder.wdt-rc-template-default .wdt-content-item {
  display: flex;
  align-items: center;
}

.wdt-image-box-holder.wdt-rc-template-default .wdt-content-item .wdt-content-media-group {
  display: flex;
}

.wdt-image-box-holder.wdt-rc-template-default .wdt-content-item .wdt-content-image>span,
.wdt-image-box-holder.wdt-rc-template-default .wdt-content-item .wdt-content-image>a {
  -webkit-border-radius: 1em;
  border-radius: 1em;
}

.wdt-image-box-holder.wdt-rc-template-default .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper {
  margin-bottom: 0;
}

.wdt-image-box-holder.wdt-rc-template-default .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper+.wdt-content-icon-wrapper {
  display: block;
  font-size: 60px;
  line-height: 0;
  margin-top: -8px;
  margin-bottom: -0.4em;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.wdt-rc-template-default .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span:not(:empty) {
  color: var(--wdtAccentTxtColor);
  padding: 0;
  font-size: inherit;
  height: 35px;
  width: 35px;
}

.wdt-image-box-holder.wdt-rc-template-default .wdt-content-item .wdt-content-media-group .wdt-content-icon-wrapper .wdt-content-icon span svg {
  width: inherit;
  height: inherit;
}

.wdt-image-box-holder.wdt-rc-template-default .wdt-content-item .wdt-content-title h5 {
  font-size: var(--wdtFontSize_H6);
}

.wdt-image-box-holder.wdt-rc-template-default .wdt-content-item .wdt-content-title h5,
.wdt-image-box-holder.wdt-rc-template-default .wdt-content-item .wdt-content-title h5 a {
  color: var(--wdtAccentTxtColor);
}

.wdt-image-box-holder.wdt-rc-template-default .wdt-content-item>div:not(:last-child) {
  margin-bottom: 0;
  margin-right: 20px;
}

.wdt-content-item .wdt-content-description p {
  margin-bottom: 0;
}


/* Standard Template */
.wdt-image-box-holder.wdt-rc-template-standard .wdt-content-item {
  text-align: center;
  -webkit-box-shadow: 0 0 1px 1px rgba(var(--wdt-elementor-color-secondary-rgb), 0.15) inset;
  box-shadow: 0 0 1px 1px rgba(var(--wdt-elementor-color-secondary-rgb), 0.15) inset;
}

.wdt-image-box-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-media-group {
  background-color: #f5f5f5;
  margin-bottom: 0;
}

.wdt-image-box-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-media-group,
.wdt-image-box-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-detail-group {
  padding: 20px;
}

.wdt-image-box-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper,
.wdt-image-box-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper .wdt-content-image,
.wdt-image-box-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper .wdt-content-image>a,
.wdt-image-box-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper .wdt-content-image>span {
  min-width: 100px;
}

.wdt-image-box-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper .wdt-content-image>a,
.wdt-image-box-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper .wdt-content-image>span {
  height: 100px;
  padding: 0;
  width: 100px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 2px rgba(var(--wdt-elementor-color-secondary-rgb), 0.25);
  box-shadow: 0 0 2px rgba(var(--wdt-elementor-color-secondary-rgb), 0.25);
}

.wdt-image-box-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper .wdt-content-image>a img,
.wdt-image-box-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper .wdt-content-image>span img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.wdt-image-box-holder.wdt-rc-template-standard .wdt-content-item:hover .wdt-content-media-group {
  background-color: var(--wdt-elementor-color-accent);
}

.wdt-image-box-holder.wdt-rc-template-standard .wdt-content-item:hover .wdt-content-media-group .wdt-content-title h5,
.wdt-image-box-holder.wdt-rc-template-standard .wdt-content-item:hover .wdt-content-media-group .wdt-content-title h5>a {
  color: var(--wdt-elementor-color-white);
}

.wdt-image-box-holder.wdt-rc-template-standard .wdt-content-item:hover .wdt-content-media-group .wdt-content-title h5>a:hover {
  color: var(--wdt-elementor-color-black);
}

/* Instagram */

.wdt-rc-template-instagram .wdt-content-item .wdt-content-media-group {
  display: grid;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}

.wdt-rc-template-instagram .wdt-content-item .wdt-content-media-group>div:not(:last-child) {
  margin-bottom: 0;
}

.wdt-rc-template-instagram .wdt-content-item .wdt-content-media-group>div {
  position: relative;
  grid-area: 1/-1;
}

/* Image-style */
.wdt-rc-template-instagram .wdt-content-item .wdt-content-image>span,
.wdt-rc-template-instagram .wdt-content-item .wdt-content-image>a {
  -webkit-border-radius: var(--wdtRadius_3X);
  border-radius: var(--wdtRadius_3X);
  /* overflow: hidden; position: relative; 
    display: flex; align-items: center; justify-content: center; margin-bottom: 0;  */
}

/* Icon-style */
.wdt-rc-template-instagram .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span {
  display: flex;
  padding: 0;
  -webkit-border-radius: var(--wdtRadius_Full);
  font-size: clamp(1.5rem, 1.4013rem + 0.3947vw, 1.875rem);
  /* Min-24 & Max-30 */
  line-height: 1;
  border-radius: var(--wdtRadius_Full);
  background-color: var(--wdtAccentTxtColor);
  width: clamp(2.8125rem, 2.625rem + 0.9375vw, 3.75rem);
  height: clamp(2.8125rem, 2.625rem + 0.9375vw, 3.75rem);
  /* Min-45 & Max-60 */
  color: var(--wdtHeadAltColor) !important;
  transition: var(--wdtBaseTransition);
  -webkit-transition: var(--wdtBaseTransition);
  /* position: relative;  */
  /* z-index: 1;  */
}

/* Icon & Img Effects */
.wdt-rc-template-instagram .wdt-content-item .wdt-content-icon-wrapper {
  pointer-events: none;
  transition: var(--wdtBaseTransition);
  -webkit-transition: var(--wdtBaseTransition);
  -webkit-transform: translate(-200px, -200px) skew(80deg, 10deg);
  transform: translate(-200px, -200px) skew(80deg, 10deg);
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-filter: blur(40px);
  filter: blur(40px);
  opacity: 0;
}

.wdt-rc-template-instagram .wdt-content-item:hover .wdt-content-icon-wrapper {
  -webkit-transform: translate(0, 0) skew(0deg, 0deg);
  transform: translate(0, 0) skew(0deg, 0deg);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-filter: blur(0);
  filter: blur(0);
  opacity: 1;
}


/* description Template */

.wdt-image-box-holder.wdt-rc-template-with-description .wdt-content-item {
  padding: clamp(1.25rem, 0.9713rem + 1.2739vw, 2.5rem) clamp(1.5625rem, 1.2142rem + 1.5924vw, 3.125rem);
  /* Min-20 & Max-40 */
  /* Min-25 & Max-50 */
  border-radius: var(--wdtRadius_3X);
  -webkit-border-radius: var(--wdtRadius_3X);
  background: var(--wdtTertiaryColor);
}

.wdt-image-box-holder.wdt-rc-template-with-description .wdt-content-item>div:not(:last-child),
.wdt-image-box-holder.wdt-rc-template-with-description .wdt-content-item .wdt-content-detail-group>div:not(:last-child) {
  margin-bottom: clamp(0.625rem, 0.5553rem + 0.3185vw, 0.9375rem);
}

.wdt-image-box-holder.wdt-rc-template-with-description .wdt-content-item .wdt-content-title h5 {
  font-size: clamp(1.5rem, 1.4013rem + 0.3947vw, 1.875rem);
  /* Min-24 & Max-30 */
  /* Min-10 & Max-15 */
}

.wdt-image-box-holder.wdt-rc-template-with-description .wdt-content-item .wdt-content-title h5,
.wdt-image-box-holder.wdt-rc-template-with-description .wdt-content-item .wdt-content-title h5 a {
  color: var(--wdtHeadAltColor);
}

.wdt-image-box-holder.wdt-rc-template-with-description .wdt-content-item .wdt-content-description p {
  margin: 0;
}

.wdt-image-box-holder.wdt-rc-template-with-description .wdt-content-media-group .wdt-content-icon-wrapper .wdt-content-icon span {
  padding: 0;
  font-size: clamp(3.75rem, 3.541rem + 0.9554vw, 4.6875rem);
  /* Min-60 & Max-75 */
  color: var(--wdtHeadAltColor);

}

/* template-with-icon */

.wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background-color: var(--wdt-elementor-color-custom-2);
  border-radius: var(--wdtRadius_Part);
  border-bottom-right-radius: var(--wdtRadius_1X);
  border-top-right-radius: var(--wdtRadius_1X);
  padding: 20px clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem);
  /* Min-20 & Max-30 */
  padding-right: 50px;
  margin-right: 0px;
}

.wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item>div:not(:last-child) {
  margin-bottom: 0;
  margin-right: 0;
}

.wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item .wdt-content-detail-group {
  display: flex;
  align-items: center;
}

.wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item>div[class*="group"]>.wdt-content-title,
.wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item>div[class*="group"]>.wdt-content-description {
  width: fit-content;
  margin-right: 15px;
  margin-bottom: 0;
}

.wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item .wdt-content-media-group .wdt-content-icon span {
  color: var(--wdtAccentTxtColor);
  padding: 0;
  width: 65px;
  height: 65px;
  font-size: clamp(1.25rem, 1.1842rem + 0.2632vw, 1.5rem);
  /* Min-20 & Max-24 */
  background-color: var(--wdtPrimaryColor);
  border-radius: var(--wdtRadius_Full);
  border: 8px solid var(--wdtAccentTxtColor);
}

.wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item .wdt-content-title h5 {
  font-size: clamp(1.5rem, 1.475rem + 0.125vw, 1.625rem);
  /* Min-24 & Max-26 */
  text-wrap: nowrap;
}

.wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item .wdt-content-title h5,
.wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item .wdt-content-title h5 a {
  color: var(--wdtSecondaryColor);
}

.wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item .wdt-content-media-group {
  position: absolute; right: 0; top: -4px; background: var(--wdtBodyBGColor); border-radius: var(--wdtRadius_Full); border-top-right-radius: 0; }

.wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item .wdt-content-media-group .wdt-content-icon-wrapper .wdt-content-icon::before,
.wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item .wdt-content-media-group .wdt-content-icon-wrapper .wdt-content-icon::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: var(--wdtRadius_3X);
   z-index: -1;
  color: var(--wdtBodyBGColor);
  -webkit-box-shadow: inset 10px 10px 0px 0px currentColor;
  box-shadow: inset 10px 10px 0px 0px currentColor;
}
.wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item .wdt-content-media-group .wdt-content-icon-wrapper .wdt-content-icon::before {
  bottom: 10px; right: -6px; -webkit-transform: rotate(60deg); transform: rotate(60deg); }

.wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item .wdt-content-media-group .wdt-content-icon-wrapper .wdt-content-icon::after {
  top: -5px;
  left: 4px;
  -webkit-transform: rotate(115deg);
  transform: rotate(115deg);
}

.wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item .wdt-content-description {
  color: var(--wdtSecondaryColor);
}

.wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item .wdt-content-description>p {
  margin-bottom: 0;
}

.wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item .wdt-content-media-group .wdt-content-icon span svg {
  width: 1em;
  height: 1em;
}


.wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item .wdt-content-description>p a {
  color: var(--wdtSecondaryColor);
  -webkit-transition: var(--wdtBaseTransition);
  transition: var(--wdtBaseTransition);
}

.wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item .wdt-content-description>p a:hover {
  color: var(--wdtLinkHoverColor);
}



/* image-gallery template */
.wdt-image-box-holder.wdt-rc-template-image .wdt-content-item {
  overflow: hidden;
  -webkit-border-radius: var(--wdtRadius_3X);
  border-radius: var(--wdtRadius_3X);
  /* border: 5px solid var(--wdt-elementor-color-custom-2); */
}

.wdt-image-box-holder.wdt-rc-template-image .wdt-content-item .wdt-content-media-group {
  display: flex;
}

.wdt-image-box-holder.wdt-rc-template-image.wdt-image-lightbox-popup .wdt-content-item .wdt-content-image>span,
.wdt-image-box-holder.wdt-rc-template-image.wdt-image-lightbox-popup .wdt-content-item .wdt-content-image>a { cursor: pointer; }
.wdt-image-box-holder.wdt-rc-template-image .wdt-content-item .wdt-content-image>span>img,
.wdt-image-box-holder.wdt-rc-template-image .wdt-content-item .wdt-content-image>a>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: var(--wdtAltTransition);
  transition: var(--wdtAltTransition);
}

.wdt-image-box-holder.wdt-rc-template-image .wdt-content-item .wdt-content-image-wrapper,
.wdt-image-box-holder.wdt-rc-template-image .wdt-content-item .wdt-content-image-wrapper .wdt-content-image,
.wdt-image-box-holder.wdt-rc-template-image .wdt-content-item .wdt-content-image>span,
.wdt-image-box-holder.wdt-rc-template-image .wdt-content-item .wdt-content-image>a {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.wdt-image-box-holder.wdt-rc-template-image .wdt-content-item .wdt-content-image>span>img:hover,
.wdt-image-box-holder.wdt-rc-template-image .wdt-content-item .wdt-content-image>a>img:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.wdt-image-box-holder.wdt-rc-template-image.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination>div {
  background-color: var(--wdtPrimaryColor) !important;
  color: var(--wdtAccentTxtColor);
  font-size: clamp(1.5rem, 1.4013rem + 0.3947vw, 1.875rem);
  /* Min-24 & Max-30 */
  height: clamp(3.125rem, 3rem + 0.625vw, 3.75rem)
    /* Min-50 & Max-60 */
  ;
  width: clamp(3.125rem, 3rem + 0.625vw, 3.75rem)
    /* Min-50 & Max-60 */
  ;
  -webkit-border-radius: var(--wdtRadius_Full);
  border-radius: var(--wdtRadius_Full);
  margin: 5px;
}

.wdt-image-box-holder.wdt-rc-template-image.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination>div:hover {
  background-color: var(--wdtSecondaryColor) !important;
}

.wdt-image-box-holder.wdt-rc-template-image.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination {
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 93%;
  margin: auto;
}

.wdt-image-box-holder.wdt-rc-template-image.wdt-carousel-holder .swiper.swiper-horizontal+.wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination {
  margin: auto;
}




/* --==Responsive====-- */

@media (max-width: 767px) {
  .wdt-image-box-holder.wdt-rc-template-default .wdt-content-item {
    flex-direction: column;
  }

  .wdt-image-box-holder.wdt-rc-template-default .wdt-content-item>div:not(:last-child) {
    margin-bottom: 15px;
    margin-right: 0;
  }

  .wdt-image-box-holder.wdt-rc-template-image.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination {
    position: relative;
    justify-content: center;
  }

  .wdt-image-box-holder.wdt-rc-template-image.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination>div {
    margin-top: 20px;
  }


}

@media (max-width: 479px) {
  .wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item {
    flex-direction: column;
    margin-right: 0px;
    padding-right: 20px;
    border-radius: var(--wdtRadius_3X);
  }

  .wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item>div:not(:last-child) {
    margin-bottom: 15px;
    margin-right: 0;
  }
  .wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item .wdt-content-media-group .wdt-content-icon span {
    border: none;
  }

  .wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item .wdt-content-media-group .wdt-content-icon-wrapper .wdt-content-icon::before,
.wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item .wdt-content-media-group .wdt-content-icon-wrapper .wdt-content-icon::after {
  background-color: transparent; color: transparent;
}
  .wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item>div[class*="group"]>.wdt-content-title {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item>div[class*="group"]>.wdt-content-description {
    margin-right: 0;
  }

  .wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item .wdt-content-media-group {
    position: relative;
    right: 0;
    background-color: transparent;
  }

  .wdt-image-box-holder.wdt-rc-template-with-icon .wdt-content-item .wdt-content-detail-group {
    flex-direction: column;
  }

}