/***<<--- Pricing Table Transition --->>***/

.wdt-pricing-table-holder,
.wdt-pricing-table-holder > div,
.wdt-pricing-table-holder div[class*='-table-header'] .wdt-content-title h5,
.wdt-pricing-table-holder div[class*='-table-header'] .wdt-content-title h5 a,
.wdt-pricing-table-holder div[class*='-table-header'] .wdt-content-subtitle,
.wdt-pricing-table-holder div[class*='-table-features'] .wdt-pricing-table-features-list li .wdt-pricing-table-features-list-icon,
.wdt-pricing-table-holder div[class*='-table-features'] .wdt-pricing-table-features-list li .wdt-pricing-table-features-list-text,
.wdt-pricing-table-holder div[class*='-table-features'] .wdt-pricing-table-features-list li:not(:last-child):after,
.wdt-pricing-table-holder div[class*='-table-media'] .wdt-content-image span,
.wdt-pricing-table-holder .wdt-content-image a,
.wdt-pricing-table-holder div[class*='-table-media'] .wdt-content-icon-wrapper .wdt-content-icon span,
.wdt-pricing-table-holder div[class*='-table-footer'] .wdt-content-button,
.wdt-pricing-table-holder div[class*='-table-footer'] .wdt-content-button > a,
.wdt-pricing-table-holder div[class*='-table-footer'] .wdt-pricing-table-footer-description,
.wdt-pricing-table-holder[class*='-template-classic'] div[class*='-table-header']:before,
.wdt-pricing-table-holder[class*='-template-list'],
.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-header,
.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-features,
.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-footer
{
    -webkit-transition: var(--wdt-elementor-base-transition);
            transition: var(--wdt-elementor-base-transition);
}

/***<<--- Pricing Table Common --->>***/

.wdt-pricing-table-holder
{
    position: relative;
    z-index: 0;

    border-width: 0;
    border-style: solid;
    border-color: transparent;
}

.wdt-pricing-table-holder > div:not(:last-child)
{
    margin-bottom: 20px;
}

/***<<--- Pricing Table Media - Image & Icon Element --->>***/

.wdt-pricing-table-holder div[class*='-table-media']
{
    position: relative;
}

/* Pricing Table Media - Image Element */

.wdt-pricing-table-holder div[class*='-table-media'] .wdt-content-image-wrapper,
.wdt-pricing-table-holder .wdt-content-image-wrapper .wdt-content-image,
.wdt-pricing-table-holder div[class*='-table-media'] .wdt-content-image > span,
.wdt-pricing-table-holder .wdt-content-image > a
{
    display: inline-flex;
}
.wdt-pricing-table-holder div[class*='-table-media'] .wdt-content-image > span > img,
.wdt-pricing-table-holder div[class*='-table-media'] .wdt-content-image > a > img
{
    -webkit-border-radius: inherit;
            border-radius: inherit;
    width: 100%;
    height: 100%;
}

.wdt-pricing-table-holder div[class*='-table-media'] .wdt-content-image span
{
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    background-position: center;
    background-size: cover;
}

.wdt-pricing-table-holder div[class*='-table-media'] .wdt-content-image span:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: '';
    -webkit-border-radius: inherit;
            border-radius: inherit;
}

/* Pricing Table Media - Icon Element */

.wdt-pricing-table-holder div[class*='-table-media'] .wdt-content-icon-wrapper .wdt-content-icon
{
    display: inline-block;
}

.wdt-pricing-table-holder div[class*='-table-media'] .wdt-content-icon-wrapper .wdt-content-icon span
{
    font-size: 1.125rem;
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
}

.wdt-pricing-table-holder div[class*='-table-media'] .wdt-content-icon-wrapper .wdt-content-icon span i
{
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
    place-content: center;
    place-items: center;
}
.wdt-pricing-table-holder div[class*='-table-media'] .wdt-content-icon-wrapper .wdt-content-icon span svg
{
    width: 1em;
    height: 1em;
    fill: currentColor;
}
.wdt-pricing-table-holder div[class*='-table-media'] .wdt-content-icon-wrapper .wdt-content-icon span
{
    color: var(--wdt-elementor-color-white);
}
.wdt-pricing-table-holder div[class*='-table-media'] .wdt-content-icon-wrapper .wdt-content-icon span:before
{
    background-color: var(--wdt-elementor-color-secondary);
}

/***<<--- Pricing Table Header - Title & Subtitle Element --->>***/

.wdt-pricing-table-holder div[class*='-table-header']
{
    position: relative;
}
.wdt-pricing-table-holder div[class*='-table-header'] > div:not(:last-child)
{
    margin-bottom: 10px;
}
.wdt-pricing-table-holder div[class*='-table-header'] .wdt-content-title h5
{
    font-size: 1.25em;

    margin-top: 0;
    margin-bottom: 0;

    text-transform: none;
}
.wdt-pricing-table-holder div[class*='-table-header'] .wdt-content-title h5 a
{
    -webkit-transition: inherit;
            transition: inherit;
}
.wdt-pricing-table-holder div[class*='-table-header'] .wdt-content-title h5,
.wdt-pricing-table-holder div[class*='-table-header'] .wdt-content-title h5 a
{
    color: var(--wdt-elementor-color-primary);
}
.wdt-pricing-table-holder div[class*='-table-header'] .wdt-content-title h5 a:hover
{
    color: var(--wdt-elementor-color-accent);
}
.wdt-pricing-table-holder div[class*='-table-header'] .wdt-content-subtitle
{
    font-size: 1rem;

    letter-spacing: .05em;

    color: var(--wdt-elementor-color-secondary);
}

/***<<--- Pricing Table Footer - Description & Button Element --->>***/

.wdt-pricing-table-holder div[class*='-table-footer']
{
    position: relative;

    display: inline-block;

    width: 100%;
}
.wdt-pricing-table-holder div[class*='-table-footer'] > div:not(:last-child)
{
    margin-bottom: 20px;
}

/* Pricing Table Footer - Button Element */

.wdt-pricing-table-holder div[class*='-table-footer'] .wdt-content-button
{
    position: relative;
    z-index: 0;
}

.wdt-pricing-table-holder div[class*='-table-footer'] .wdt-content-button > a
{
    font-size: 1em;
    line-height: 1;

    display: inline-block;

    padding: .75em 1.5em;

    text-align: center;

    color: var(--wdt-elementor-color-white);
    border: 1px solid transparent;
    -webkit-border-radius: 0;
            border-radius: 0;
    background-color: var(--wdt-elementor-color-accent);

    fill: var(--wdt-elementor-color-white);
}

.wdt-pricing-table-holder div[class*='-table-footer'] .wdt-content-button.fullwidth
{
    display: inline-flex;

    width: 100%;
}
.wdt-pricing-table-holder div[class*='-table-footer'] .wdt-content-button.fullwidth > a
{
    width: 100%;
}
.wdt-pricing-table-holder div[class*='-table-footer'] .wdt-content-button > a:hover
{
    background-color: var(--wdt-elementor-color-primary);
}

/* Pricing Table Footer - Description Element */

.wdt-pricing-table-holder div[class*='-table-footer'] .wdt-pricing-table-footer-description
{
    position: relative;
    z-index: 0;

    padding: 0 10px;
}

/***<<--- Pricing Table Pricing - Original & Sales Price --->>***/

.wdt-pricing-table-holder .wdt-pricing-table-pricing
{
    font-size: 1em;
    line-height: 1em;

    position: relative;

    margin: 0;
    padding: 0;
}

.wdt-pricing-table-holder .wdt-pricing-table-pricing .wdt-pricing-table-pricing-original
{
    font-size: .8em;
    font-weight: 400;
    line-height: 1;

    display: inline-flex;
    -ms-flex-item-align: center;
    flex-wrap: wrap;

    margin-right: 15px;

    text-decoration: line-through;
}

.wdt-pricing-table-holder .wdt-pricing-table-pricing .wdt-pricing-table-pricing-sale
{
    line-height: 1;

    display: inline-table;
}
.wdt-pricing-table-holder .wdt-pricing-table-pricing .wdt-pricing-table-pricing-sale > span
{
    display: table-cell;
}

.wdt-pricing-table-holder .wdt-pricing-table-pricing .wdt-pricing-table-pricing-suffix.below
{
    display: block;

    width: 100%;
    padding-top: 5px;
}

.wdt-pricing-table-holder .wdt-pricing-table-pricing div[class*='-table-pricing-sale'] .wdt-pricing-table-pricing-sale-fraction
{
    padding-left: 5px;
}
.wdt-pricing-table-holder .wdt-pricing-table-pricing div[class*='-table-pricing-sale'] .wdt-pricing-table-pricing-prefix
{
    padding-right: 5px;
}
.wdt-pricing-table-holder .wdt-pricing-table-pricing div[class*='-table-pricing-sale'] .wdt-pricing-table-pricing-suffix
{
    padding-left: 5px;
}

.wdt-pricing-table-holder .wdt-pricing-table-pricing div[class*='-table-pricing-sale'] .wdt-pricing-table-pricing-prefix:last-child,
.wdt-pricing-table-holder .wdt-pricing-table-pricing div[class*='-table-pricing-sale'] .wdt-pricing-table-pricing-sale-price + .wdt-pricing-table-pricing-prefix,
.wdt-pricing-table-holder .wdt-pricing-table-pricing div[class*='-table-pricing-sale'] .wdt-pricing-table-pricing-sale-fraction + .wdt-pricing-table-pricing-prefix
{
    padding-right: 0;
    padding-left: 5px;
}

.wdt-pricing-table-holder .wdt-pricing-table-pricing div[class*='-table-pricing-sale'] .wdt-pricing-table-pricing-prefix,
.wdt-pricing-table-holder .wdt-pricing-table-pricing div[class*='-table-pricing-sale'] .wdt-pricing-table-pricing-sale-fraction
{
    line-height: 1;
}

.wdt-pricing-table-holder .wdt-pricing-table-pricing
{
    color: var(--wdt-elementor-color-secondary);
}

/***<<--- Pricing Table features - Features --->>***/
.wdt-pricing-table-holder div[class*='-table-features'] .wdt-pricing-table-features-list
{
    margin: 0;
    padding: 0;

    list-style-type: none;
}
.wdt-pricing-table-holder div[class*='-table-features'] .wdt-pricing-table-features-list li
{
    font-size: inherit;
    line-height: 1;

    position: relative;

    margin: 0;
    padding: 0;
}
.wdt-pricing-table-holder div[class*='-table-features'] .wdt-pricing-table-features-list li:not(:last-child):after
{
    display: inline-block;
    clear: both;

    width: 100%;

    content: '';
}
.wdt-pricing-table-holder div[class*='-table-features'] .wdt-pricing-table-features-list li .wdt-pricing-table-features-list-icon
{
    display: inline-block;
}
.wdt-pricing-table-holder div[class*='-table-features'] .wdt-pricing-table-features-list li .wdt-pricing-table-features-list-text
{
    clear: both;
}

.wdt-pricing-table-holder div[class*='-table-features'] .wdt-pricing-table-features-list li .wdt-pricing-table-features-list-text:not(:only-child)
{
    padding-left: 10px;
}

.wdt-pricing-table-holder div[class*='-table-features'] .wdt-pricing-table-features-list li[class*='-feature-excluded']
{
    opacity: .5;
}

.wdt-pricing-table-holder div[class*='-table-features'] .wdt-pricing-table-features-list li .wdt-pricing-table-features-list-icon:empty
{
    display: none;
}

.wdt-pricing-table-holder div[class*='-table-features'] .wdt-pricing-table-features-list li.wdt-pricing-table-feature-included .wdt-pricing-table-features-list-icon
{
    color: #b4d856;
}
.wdt-pricing-table-holder div[class*='-table-features'] .wdt-pricing-table-features-list li.wdt-pricing-table-feature-excluded .wdt-pricing-table-features-list-icon
{
    color: #d85656;
}

.wdt-pricing-table-holder div[class*='-table-features'] .wdt-pricing-table-features-list li .wdt-pricing-table-features-list-text
{
    color: var(--wdt-elementor-color-text);
}

/***<<--- Pricing Table Badges - Badges Types --->>***/

.wdt-pricing-table-holder div[class*='-table-badge']:not(.type4)
{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;

    position: absolute;

    margin: 0;

    color: var(--wdt-elementor-color-white);
    background-color: var(--wdt-elementor-color-secondary);
}

.wdt-pricing-table-holder div[class*='-table-badge'] { z-index: 1; }

.wdt-pricing-table-holder div[class*='-table-badge'].left
{
    right: auto;
    left: 15px;
}

.wdt-pricing-table-holder div[class*='-table-badge'].right
{
    right: 15px;
    left: auto;
}

.wdt-pricing-table-holder div[class*='-table-badge'].type1
{
    top: 15px;

    padding: 8px 15px;
}

.wdt-pricing-table-holder div[class*='-table-badge'].type2
{
    top: 30px;

    padding: 8px 15px;
}

.wdt-pricing-table-holder div[class*='-table-badge'].type2:after
{
    position: absolute;
    z-index: 9;
    top: -15px;

    width: 0;
    height: 0;

    content: '';

    opacity: .9;
    border-bottom: 15px solid var(--wdt-elementor-color-secondary);
}

.wdt-pricing-table-holder div[class*='-table-badge'].type2.left
{
    right: auto;
    left: -15px;
}
.wdt-pricing-table-holder div[class*='-table-badge'].type2.right
{
    right: -15px;
    left: auto;
}

.wdt-pricing-table-holder div[class*='-table-badge'].type2.left:after
{
    right: auto;
    left: 0;

    border-left: 15px solid transparent;
}
.wdt-pricing-table-holder div[class*='-table-badge'].type2.right:after
{
    right: 0;
    left: auto;

    border-right: 15px solid transparent;
}

.wdt-pricing-table-holder div[class*='-table-badge'].type3
{
    font-weight: 500;

    top: -1px;

    width: auto;
    padding: 20px 12px;

    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
            transform: rotate(180deg);
    letter-spacing: 1.5px;
    text-transform: uppercase;

    border-radius: 50px 50px 0 0;

            writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
}

.wdt-pricing-table-holder div[class*='-table-badge'].type4
{
    position: absolute;
    top: 0;

    overflow: hidden;

    width: 100px;
    height: 100px;
    margin: 0;
}

.wdt-pricing-table-holder div[class*='-table-badge'].type4.left
{
    right: auto;
    left: 0;

    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
}

.wdt-pricing-table-holder div[class*='-table-badge'].type4.right
{
    right: 0;
    left: auto;

    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.wdt-pricing-table-holder div[class*='-table-badge'].type4 .wdt-pricing-table-badge-inner
{
    font-size: .6em;
    font-weight: 700;

    display: inline-block;

    width: 150%;
    margin-top: 35px;
    padding: 10px 15px;

    -webkit-transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);
        -ms-transform: rotate(45deg);
            transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: var(--wdt-elementor-color-white);
    background: var(--wdt-elementor-color-secondary);
}

/***<<--- Pricing Table Type - Default Template --->>***/

.wdt-pricing-table-holder[class*='-template-default']
{
    padding: 0;

    text-align: center;

    border: 1px solid;
    border-radius: 5px;
}

.wdt-pricing-table-holder[class*='-template-default'] > div:not(.wdt-pricing-table-badge):first-child,
.wdt-pricing-table-holder[class*='-template-default'] > .wdt-pricing-table-badge + div
{
    padding: 30px 20px 0 20px;
}

.wdt-pricing-table-holder[class*='-template-default'] div[class*='-table-media'] .wdt-content-icon-wrapper .wdt-content-icon span
{
    width: 50px;
    height: 50px;
}

.wdt-pricing-table-holder[class*='-template-default'] div[class*='-table-header'] .wdt-content-title h5
{
    font-size: 25px;

    text-transform: uppercase;
}

.wdt-pricing-table-holder[class*='-template-default'] .wdt-pricing-table-pricing
{
    font-size: 60px;
    font-weight: 700;
}

.wdt-pricing-table-holder[class*='-template-default'] .wdt-pricing-table-pricing + .wdt-pricing-table-features
{
    margin-top: 50px;
    padding: 20px 0 0;

    border-top: 1px solid;
}

.wdt-pricing-table-holder[class*='-template-default'] div[class*='-table-features'] .wdt-pricing-table-features-list li:not(:last-child):after
{
    margin-top: 20px;
    padding-bottom: 20px;
}

.wdt-pricing-table-holder[class*='-template-default'] div[class*='-table-features'] .wdt-pricing-table-features-list li .wdt-pricing-table-features-list-icon
{
    font-size: 14px;
}
.wdt-pricing-table-holder[class*='-template-default'] div[class*='-table-features'] .wdt-pricing-table-features-list li .wdt-pricing-table-features-list-text
{
    font-size: 16px;

    letter-spacing: .5px;
}

.wdt-pricing-table-holder[class*='-template-default'] .wdt-pricing-table-pricing-original,
.wdt-pricing-table-holder[class*='-template-default'] .wdt-pricing-table-pricing div[class*='-table-pricing-sale'] .wdt-pricing-table-pricing-prefix,
.wdt-pricing-table-holder[class*='-template-default'] .wdt-pricing-table-pricing div[class*='-table-pricing-sale'] .wdt-pricing-table-pricing-sale-fraction,
.wdt-pricing-table-holder[class*='-template-default'] .wdt-pricing-table-pricing div[class*='-table-pricing-sale'] .wdt-pricing-table-pricing-suffix
{
    font-size: 25px;
}

.wdt-pricing-table-holder[class*='-template-default'] .wdt-pricing-table-pricing .wdt-pricing-table-pricing-original
{
    vertical-align: top;
}
.wdt-pricing-table-holder[class*='-template-default'] .wdt-pricing-table-pricing .wdt-pricing-table-pricing-sale .wdt-pricing-table-pricing-prefix
{
    vertical-align: top;
}
.wdt-pricing-table-holder[class*='-template-default'] .wdt-pricing-table-pricing .wdt-pricing-table-pricing-sale .wdt-pricing-table-pricing-sale-fraction
{
    vertical-align: baseline;
}

.wdt-pricing-table-holder[class*='-template-default'] .wdt-pricing-table-footer:last-child
{
    margin-top: 10px;
}
.wdt-pricing-table-holder[class*='-template-default'] .wdt-pricing-table-footer:last-child .fullwidth
{
    border-top-width: 1px;
    border-top-style: solid;
}
.wdt-pricing-table-holder[class*='-template-default'] .wdt-pricing-table-footer .wdt-content-button > a
{
    font-size: 20px;
    font-weight: 700;

    padding: 25px 40px;

    color: var(--wdt-elementor-color-secondary);
    background-color: #f9f9f9;
}

.wdt-pricing-table-holder[class*='-template-default']
{
    background-color: var(--wdt-elementor-color-white);
}
.wdt-pricing-table-holder[class*='-template-default'],
.wdt-pricing-table-holder[class*='-template-default'] .wdt-pricing-table-pricing + .wdt-pricing-table-features,
.wdt-pricing-table-holder[class*='-template-default'] .wdt-pricing-table-pricing .wdt-pricing-table-features .wdt-pricing-table-features-list li:after,
.wdt-pricing-table-holder[class*='-template-default'] div[class*='-table-features'] .wdt-pricing-table-features-list li:not(:last-child):after,
.wdt-pricing-table-holder[class*='-template-default'] .wdt-pricing-table-footer:last-child .fullwidth
{
    border-color: #e1e1e1;
}

.wdt-pricing-table-holder[class*='-template-default'] div[class*='-table-header'] .wdt-content-title h5,
.wdt-pricing-table-holder[class*='-template-default'] div[class*='-table-header'] .wdt-content-title h5 a
{
    color: var(--wdt-elementor-color-secondary);
}

.wdt-pricing-table-holder[class*='-template-default']:hover
{
    background-color: #f9f9f9;
}
.wdt-pricing-table-holder[class*='-template-default']:hover .wdt-pricing-table-footer .wdt-content-button > a
{
    color: var(--wdt-elementor-color-white);
    background-color: var(--wdt-elementor-color-secondary);
}

.wdt-pricing-table-holder[class*='-template-default']:hover,
.wdt-pricing-table-holder[class*='-template-default']:hover .wdt-pricing-table-pricing + .wdt-pricing-table-features,
.wdt-pricing-table-holder[class*='-template-default']:hover .wdt-pricing-table-pricing .wdt-pricing-table-features .wdt-pricing-table-features-list li:after,
.wdt-pricing-table-holder[class*='-template-default']:hover div[class*='-table-features'] .wdt-pricing-table-features-list li:not(:last-child):after,
.wdt-pricing-table-holder[class*='-template-default']:hover .wdt-pricing-table-footer:last-child .fullwidth
{
    border-color: var(--wdt-elementor-color-secondary);
}

/***<<--- Pricing Table Type - Classic Template --->>***/

.wdt-pricing-table-holder[class*='-template-classic'] {
    padding: 20px;
    border-radius: var(--wdtRadius_4X);

}
.wdt-pricing-table-holder[class*='-template-classic'] > div{
    margin-bottom: clamp(1.25rem, 1.1107rem + 0.6369vw, 1.875rem); /* Min-20 & Max-30 */
}
.wdt-pricing-table-holder[class*='-template-classic'] .wdt-pricing-table-media {
    background: inherit;
    width: 100%;
}
.wdt-pricing-table-holder[class*='-template-classic'] div[class*='-table-media'] .wdt-content-image{
    display: flex;
}
.wdt-pricing-table-holder[class*='-template-classic'] div[class*='-table-media'] .wdt-content-image a{
    width: 100%;
    height: 100%;
}
.wdt-pricing-table-holder[class*='-template-classic'] div[class*='-table-media'] .wdt-content-image span{
    width: 100%;
    height: clamp(10rem, 9.164rem + 3.8217vw, 13.75rem); /* Min-160 & Max-220 */
    border-radius: var(--wdtRadius_4X);
}
.wdt-pricing-table-holder[class*='-template-classic'] div[class*='-table-media'] .wdt-content-icon-wrapper{
    margin-top:calc(-1 * clamp(2.8125rem, 2.4642rem + 1.5924vw, 4.375rem)); /* Min-45 & Max-70 */
    background: inherit;   
    transition: inherit;
   -webkit-transition: inherit;
}
.wdt-pricing-table-holder[class*='-template-classic'] div[class*='-table-media'] .wdt-content-icon-wrapper .wdt-content-icon{
    padding: clamp(0.625rem, 0.5553rem + 0.3185vw, 0.9375rem); /* Min-10 & Max-15 */
    background: inherit;
    position: relative;
    border-radius: var(--wdtRadius_Full);
    transition: inherit;
   -webkit-transition: inherit;
}
.wdt-pricing-table-holder[class*='-template-classic'] div[class*='-table-media'] .wdt-content-icon-wrapper .wdt-content-icon::before,
.wdt-pricing-table-holder[class*='-template-classic'] div[class*='-table-media'] .wdt-content-icon-wrapper .wdt-content-icon::after{
    content: '';
  position: absolute;
  top:clamp(0rem, -1.25rem + 1.5625vw, 0.625rem);/* Min-10 & Max-10 */
  width: 60px;
  height: 60px;
  rotate: 0deg;
  z-index: 10;
  background-color: inherit;
  clip-path: path("M60,30v30H30c8.3,0,15.8-3.4,21.2-8.8C56.6,45.8,60,38.3,60,30z"); backface-visibility: hidden; isolation: isolate; will-change: transform;
}
.wdt-pricing-table-holder[class*='-template-classic'] div[class*='-table-media'] .wdt-content-icon-wrapper .wdt-content-icon::before{
  left: -54px;
  transform-origin: top right;
}
.wdt-pricing-table-holder[class*='-template-classic'] div[class*='-table-media'] .wdt-content-icon-wrapper .wdt-content-icon::after{
  right: 5px;
  transform-origin: bottom right;
  rotate: 90deg;
}

.wdt-pricing-table-holder[class*='-template-classic'] div[class*='-table-media'] .wdt-content-icon-wrapper .wdt-content-icon span {
   font-size: clamp(2.1875rem, 1.6998rem + 2.2293vw, 4.375rem); /* Min-35 & Max-70 */
   width: clamp(4.0625rem, 3.3798rem + 3.121vw, 7.125rem); /* Min-65 & Max-114 */ 
   height: clamp(4.0625rem, 3.3798rem + 3.121vw, 7.125rem); /* Min-65 & Max-114 */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--wdtRadius_Full);
  box-shadow: 0px 4px 6px rgba(var(--wdtSecondaryColorRgb),.25);
  color: var(--wdtHeadAltColor);
  background: var(--wdtAccentTxtColor);
}
.wdt-pricing-table-holder[class*='-template-classic'] div[class*='-table-header'] .wdt-content-title h5 {
    font-size: clamp(1.75rem, 1.5526rem + 0.7895vw, 2.5rem); /* Min-28 & Max-40 */   
}
.wdt-pricing-table-holder[class*='-template-classic'] div[class*='-table-header'] .wdt-content-title h5,
.wdt-pricing-table-holder[class*='-template-classic'] div[class*='-table-header'] .wdt-content-title h5 a {
    color: var(--wdt-elementor-color-secondary);
}
.wdt-pricing-table-holder[class*='-template-classic'] .wdt-pricing-table-pricing {
    font-size: clamp(2.1875rem, 1.6941rem + 1.9737vw, 4.0625rem); /* Min-35 & Max-65 */
    font-family: var(--wdtFontTypo_Alt);
}

.wdt-pricing-table-holder[class*='-template-classic'] .wdt-pricing-table-pricing div[class*="-table-pricing-sale"] .wdt-pricing-table-pricing-sale-price::after {
  content: "/";
}
.wdt-pricing-table-holder[class*='-template-classic'] .wdt-pricing-table-pricing div[class*="-table-pricing-sale"] .wdt-pricing-table-pricing-suffix{
  font-size: var(--wdtFontSize_Base);
  font-weight: var(--wdtFontWeight_Base);
  font-family: var(--wdtFontTypo_Base);
}
.wdt-pricing-table-holder[class*='-template-classic'] .wdt-pricing-table-features{
    padding: 0 0 clamp(0.625rem, 0.4857rem + 0.6369vw, 1.25rem); /* Min-10 & Max-20 */
}
.wdt-pricing-table-holder[class*='-template-classic'] div[class*="-table-features"] .wdt-pricing-table-features-list {
  max-width: 230px;
  margin: 0 auto;
}
.wdt-pricing-table-holder[class*='-template-classic'] div[class*="-table-features"] .wdt-pricing-table-features-list li .wdt-pricing-table-features-list-icon {
  vertical-align: middle;
  font-size: 6px;
  color: inherit;
}
.wdt-pricing-table-holder[class*='-template-classic'] .wdt-pricing-table-footer .wdt-content-button { display: inline-flex; position: relative; }
.wdt-pricing-table-holder[class*='-template-classic'] .wdt-pricing-table-footer .wdt-content-button::before { 
    content: ''; position: absolute; width: calc(100% / 2); height: 5px; bottom: -15px; left: 45%; border-radius: 100%; 
    background: rgba(var(--wdtSecondaryColorRgb), .1); filter: blur(2px); opacity: 1; pointer-events: none; transform: translateX(-50%); }
.wdt-pricing-table-holder[class*='-template-classic']:hover .wdt-pricing-table-footer .wdt-content-button::before { 
    background: rgba(var(--wdtAccentTxtColorRgb), .3); }


.wdt-pricing-table-holder[class*='-template-classic'] .wdt-pricing-table-footer .wdt-content-button > a {
    padding: var(--wdtPadding_Btn);
    font-size: clamp(1.125rem, 1.0921rem + 0.1316vw, 1.25rem); /* Min-18 & Max-20 */
    font-family: var(--wdtFontTypo_Alt);
    font-weight: var(--wdtFontWeight_Alt);
    line-height: 1;
    color: var(--wdtAccentTxtColor);
    background-color:var(--wdtQuaternaryColor);
    position: relative;
}
.wdt-pricing-table-holder[class*='-template-classic'] .wdt-pricing-table-footer .wdt-content-button > a {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 50" style="enable-background:new 0 0 140 50;" xml:space="preserve"><path d="M135.4,3.4c-6.8-4.1-125-5.1-130.8,0.9c-5.8,6-6.2,35.7-0.6,41.3c0.6,0.6,2.7,1.2,5.9,1.7c0,0,20.8,2.7,27.6,2.8c6.9,0.1,92-0.3,96.9-5.4C141.2,37.7,142.2,7.5,135.4,3.4z"/></svg>');
    -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 50" style="enable-background:new 0 0 140 50;" xml:space="preserve"><path d="M135.4,3.4c-6.8-4.1-125-5.1-130.8,0.9c-5.8,6-6.2,35.7-0.6,41.3c0.6,0.6,2.7,1.2,5.9,1.7c0,0,20.8,2.7,27.6,2.8c6.9,0.1,92-0.3,96.9-5.4C141.2,37.7,142.2,7.5,135.4,3.4z"/></svg>');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100%;
    border-radius: var(--wdtRadius_2X);
    transition: var(--wdtBaseTransition); 
    -webkit-transition: var(--wdtBaseTransition); 
}
.wdt-pricing-table-holder[class*='-template-classic'] .wdt-pricing-table-footer .wdt-content-button > a::before,
.wdt-pricing-table-holder[class*='-template-classic'] .wdt-pricing-table-footer .wdt-content-button > a::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 20px;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    background-color: currentColor;
    transition: var(--wdtBaseTransition);
    -webkit-transition: var(--wdtBaseTransition);
}
.wdt-pricing-table-holder[class*='-template-classic'] .wdt-pricing-table-footer .wdt-content-button > a::before {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 19" style="enable-background:new 0 0 29 19;" xml:space="preserve"><path d="M3.2,4c-1.4,1.4-2.6,7.5-3,10.4c-0.2,1.1-0.1,3.5,0,4.6c0.5-4.1,2.6-9.4,3.6-11.5c1.9-4.6,6.7-5.8,8.9-5.8L28.1,0C23.4,0,13,0.1,9.7,0.6C5.5,1.2,5,2.3,3.2,4z"/></svg>');
    -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 19" style="enable-background:new 0 0 29 19;" xml:space="preserve"><path d="M3.2,4c-1.4,1.4-2.6,7.5-3,10.4c-0.2,1.1-0.1,3.5,0,4.6c0.5-4.1,2.6-9.4,3.6-11.5c1.9-4.6,6.7-5.8,8.9-5.8L28.1,0C23.4,0,13,0.1,9.7,0.6C5.5,1.2,5,2.3,3.2,4z"/></svg>');
    left: 6px;
    top: 6px;
}
.wdt-pricing-table-holder[class*='-template-classic'] .wdt-pricing-table-footer .wdt-content-button > a::after {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 17" style="enable-background:new 0 0 24 17;" xml:space="preserve"><path d="M21.2,13.1c1.2-1.2,2.2-6.7,2.5-9.3c0.1-1,0.1-3.2,0-4.1c-0.4,3.7-2.2,8.4-3.1,10.3c-1.6,4.1-5.8,5.2-7.6,5.2l-13.2,1.5c4.1,0,12.9-0.1,15.8-0.5C19.1,15.7,19.6,14.7,21.2,13.1z"/></svg>');
    -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 17" style="enable-background:new 0 0 24 17;" xml:space="preserve"><path d="M21.2,13.1c1.2-1.2,2.2-6.7,2.5-9.3c0.1-1,0.1-3.2,0-4.1c-0.4,3.7-2.2,8.4-3.1,10.3c-1.6,4.1-5.8,5.2-7.6,5.2l-13.2,1.5c4.1,0,12.9-0.1,15.8-0.5C19.1,15.7,19.6,14.7,21.2,13.1z"/></svg>');
    right: 6px;
    bottom: 6px;
}
.wdt-pricing-table-holder[class*='-template-classic'] .wdt-pricing-table-footer .wdt-content-button > a span{
  display: inline-block;
  
}
.wdt-pricing-table-holder[class*='-template-classic'] .wdt-pricing-table-footer .wdt-content-button > a:hover {
  animation: jumpeffect 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
.wdt-pricing-table-holder[class*='-template-classic'] .wdt-pricing-table-footer .wdt-content-button > .wdt-content-button-inner{
    transform: translate(-25%, -25%);
    color:var(--wdtQuaternaryColor);
    transition: inherit;
   -webkit-transition: inherit;
}

/* <======= Pricing Plan Table Active =======> */

.wdt-pricing-table-holder[class*='-template-classic']:hover div[class*='-table-header'] .wdt-content-title h5 a,
.active .wdt-pricing-table-holder[class*='-template-classic'] div[class*='-table-header'] .wdt-content-title h5 a,
.wdt-pricing-table-holder[class*='-template-classic']:hover div[class*='-table-header'] .wdt-content-subtitle,
.active .wdt-pricing-table-holder[class*='-template-classic'] div[class*='-table-header'] .wdt-content-subtitle { color: var(--wdtAccentTxtColor); }
.wdt-pricing-table-holder[class*='-template-classic']:hover .wdt-pricing-table-pricing,
.active .wdt-pricing-table-holder[class*='-template-classic'] .wdt-pricing-table-pricing { color: var(--wdtAccentTxtColor); }
.active .wdt-pricing-table-holder[class*='-template-classic'] .wdt-pricing-table-features .wdt-pricing-table-feature-included .wdt-pricing-table-features-list-text,
.wdt-pricing-table-holder[class*='-template-classic']:hover .wdt-pricing-table-features .wdt-pricing-table-feature-included .wdt-pricing-table-features-list-text,
.active .wdt-pricing-table-holder[class*='-template-classic'] .wdt-pricing-table-features .wdt-pricing-table-feature-excluded .wdt-pricing-table-features-list-text,
.wdt-pricing-table-holder[class*='-template-classic']:hover .wdt-pricing-table-features .wdt-pricing-table-feature-excluded .wdt-pricing-table-features-list-text,
.active .wdt-pricing-table-holder[class*='-template-classic'] div[class*='-table-features'] .wdt-pricing-table-features-list li.wdt-pricing-table-feature-included .wdt-pricing-table-features-list-icon,
.wdt-pricing-table-holder[class*='-template-classic']:hover div[class*='-table-features'] .wdt-pricing-table-features-list li.wdt-pricing-table-feature-included .wdt-pricing-table-features-list-icon,
.active .wdt-pricing-table-holder[class*='-template-classic'] div[class*='-table-features'] .wdt-pricing-table-features-list li.wdt-pricing-table-feature-excluded .wdt-pricing-table-features-list-icon,
.wdt-pricing-table-holder[class*='-template-classic']:hover div[class*='-table-features'] .wdt-pricing-table-features-list li.wdt-pricing-table-feature-excluded .wdt-pricing-table-features-list-icon { color: var(--wdtAccentTxtColor); }
.wdt-pricing-table-holder[class*='-template-classic']:hover .wdt-pricing-table-footer .wdt-content-button > a,
.active .wdt-pricing-table-holder[class*='-template-classic'] .wdt-pricing-table-footer .wdt-content-button > a{background-color: var(--wdtAccentTxtColor);color: var(--wdtQuaternaryColor);}
.wdt-pricing-table-holder[class*='-template-classic']:hover .wdt-pricing-table-footer .wdt-content-button > .wdt-content-button-inner,
.active .wdt-pricing-table-holder[class*='-template-classic'] .wdt-pricing-table-footer .wdt-content-button > .wdt-content-button-inner{color: var(--wdtAccentTxtColor);}

/***<<--- Pricing Table Type - List Template --->>***/

.wdt-pricing-table-holder[class*='-template-list']
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    padding: 0;

    border: 1px solid;
}

.wdt-pricing-table-holder[class*='-template-list'] > *
{
    padding: 25px;
}

.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-header,
.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-footer
{
    min-width: 20%;
}

.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-header
{
    display: inline-flex;
    align-content: center;
    align-items: center;
    align-self: stretch;
    flex: 0 1 30%;
    flex-wrap: wrap;

    margin-bottom: 0;

    border-right: 1px solid;
}

.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-header > div
{
    width: 100%;
}

.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-features
{
    display: inline-flex;
    align-content: center;
    align-items: center;
    align-self: stretch;
    flex: 0 1 50%;
    flex-wrap: wrap;

    margin-bottom: 0;
}

.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-footer
{
    display: inline-flex;
    align-items: center;
    align-self: stretch;
    flex: 0 1 20%;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.wdt-pricing-table-holder[class*='-template-list']
{
    border-color: var(--wdt-elementor-color-primary);
    background-color: var(--wdt-elementor-color-white);
}
.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-header
{
    border-color: var(--wdt-elementor-color-primary);
    background: rgba(110,193,228,.1);
}
.wdt-pricing-table-holder[class*='-template-list']:hover
{
    background-color: rgba(110,193,228,.1);
}
.wdt-pricing-table-holder[class*='-template-list']:hover .wdt-pricing-table-header
{
    background-color: var(--wdt-elementor-color-white);
}

/***<<--- List Template - Original & Sales Price --->>***/

.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-pricing-inner
{
    font-size: 22px;
    line-height: 1em;

    position: relative;

    margin: 10px 0 0;
    padding: 0;
}

.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-pricing-inner .wdt-pricing-table-pricing-original
{
    font-size: 18px;
    font-weight: 400;
    line-height: 1;

    display: inline-flex;
    -ms-flex-item-align: center;
    flex-wrap: wrap;

    margin-right: 15px;

    text-decoration: line-through;
}

.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-pricing-inner .wdt-pricing-table-pricing-sale
{
    line-height: 1;

    display: inline-table;
}
.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-pricing-inner .wdt-pricing-table-pricing-sale > span
{
    display: table-cell;
}

.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-pricing-inner .wdt-pricing-table-pricing-suffix.below
{
    display: block;

    width: 100%;
    padding-top: 5px;
}

.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-pricing-inner div[class*='-table-pricing-sale'] .wdt-pricing-table-pricing-sale-fraction
{
    padding-left: 5px;
}
.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-pricing-inner div[class*='-table-pricing-sale'] .wdt-pricing-table-pricing-prefix
{
    padding-right: 5px;
}
.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-pricing-inner div[class*='-table-pricing-sale'] .wdt-pricing-table-pricing-suffix
{
    padding-left: 5px;
}

.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-pricing-inner div[class*='-table-pricing-sale'] .wdt-pricing-table-pricing-prefix:last-child,
.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-pricing-inner div[class*='-table-pricing-sale'] .wdt-pricing-table-pricing-sale-price + .wdt-pricing-table-pricing-prefix,
.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-pricing-inner div[class*='-table-pricing-sale'] .wdt-pricing-table-pricing-sale-fraction + .wdt-pricing-table-pricing-prefix
{
    padding-right: 0;
    padding-left: 5px;
}

.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-pricing-inner div[class*='-table-pricing-sale'] .wdt-pricing-table-pricing-prefix,
.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-pricing-inner div[class*='-table-pricing-sale'] .wdt-pricing-table-pricing-sale-fraction
{
    line-height: 1;
}

/***<<--- List Template - Features --->>***/

.wdt-pricing-table-holder[class*='-template-list'] div[class*='-table-features'] .wdt-pricing-table-features-list
{
    display: inline-flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    gap: 20px;
}

.wdt-pricing-table-holder[class*='-template-list'] div[class*='-table-features'] .wdt-pricing-table-features-list li
{
    display: inline-flex;
    flex-wrap: wrap;

    min-width: 30%;
}

.wdt-pricing-table-holder[class*='-template-list'] div[class*='-table-features'] .wdt-pricing-table-features-list li .wdt-pricing-table-features-list-inner
{
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

.wdt-pricing-table-holder[class*='-template-list'] div[class*='-table-features'] .wdt-pricing-table-features-list li .wdt-pricing-table-features-list-icon
{
    font-size: 10px;
    line-height: 25px;

    width: 25px;
    height: 25px;

    text-align: center;

    color: #ffffff;
    border: 1px solid rgba(110,193,228,.1);
}

.wdt-pricing-table-holder[class*='-template-list'] div[class*='-table-features'] .wdt-pricing-table-features-list li.wdt-pricing-table-feature-included .wdt-pricing-table-features-list-icon
{
    background: #b4d856;
}

.wdt-pricing-table-holder[class*='-template-list'] div[class*='-table-features'] .wdt-pricing-table-features-list li.wdt-pricing-table-feature-excluded .wdt-pricing-table-features-list-icon
{
    background: #d85656;
}

/***<<--- List Template - Badges Types --->>***/

.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-header div[class*='-table-badge']:not(.type4)
{
    width: auto;
}

.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-header div[class*='-table-badge'].type1
{
    top: 25px;
}

.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-header div[class*='-table-badge'].left
{
    right: auto;
    left: 25px;
}
.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-header div[class*='-table-badge'].right
{
    right: 25px;
    left: auto;
}

.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-header div[class*='-table-badge'].type2.left
{
    right: auto;
    left: -15px;
}
.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-header div[class*='-table-badge'].type2.right
{
    right: -15px;
    left: auto;
}

.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-header div[class*='-table-badge'].type4
{
    width: 100px;
    height: 100px;
}

.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-header div[class*='-table-badge'].type4.left
{
    right: auto;
    left: 0;
}
.wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-header div[class*='-table-badge'].type4.right
{
    right: 0;
    left: auto;
}

/* Responsive */

@media only screen and (max-width: 1280px){
  .wdt-pricing-table-holder[class*='-template-classic'] div[class*='-table-media'] .wdt-content-icon-wrapper .wdt-content-icon::before,
    .wdt-pricing-table-holder[class*='-template-classic'] div[class*='-table-media'] .wdt-content-icon-wrapper .wdt-content-icon::after {
        top: clamp(-0.875rem, -1.2043rem + 1.5054vw, 0rem); /* Min-14 & Max-0 */
    }
}
@media only screen and (max-width: 1024px){
  .wdt-pricing-table-holder[class*='-template-classic'] div[class*='-table-media'] .wdt-content-image span{
    height: 200px;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1024px)
{
    .wdt-pricing-table-holder[class*='-template-list']
    {
        justify-content: space-between;
    }

    .wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-header
    {
        flex: 0 1 100%;

        border-width: 0 0 1px 0;
        border-style: solid;
    }

    .wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-footer
    {
        flex: 0 1 50%;
    }

    .wdt-pricing-table-holder[class*='-template-list'] div[class*='-table-features'] .wdt-pricing-table-features-list li
    {
        min-width: 100%;
    }
}

@media only screen and (max-width: 767px)
{
    .wdt-pricing-table-holder[class*='-template-list']
    {
        justify-content: space-between;
    }

    .wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-header
    {
        flex: 0 1 100%;

        border-width: 0 0 1px 0;
        border-style: solid;
    }

    .wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-features
    {
        flex: 0 1 100%;
    }

    .wdt-pricing-table-holder[class*='-template-list'] .wdt-pricing-table-footer
    {
        flex: 0 1 100%;
    }

    .wdt-pricing-table-holder[class*='-template-list'] div[class*='-table-features'] .wdt-pricing-table-features-list li
    {
        min-width: 100%;
    }
    .wdt-pricing-table-holder[class*="-template-classic"] div[class*="-table-media"] .wdt-content-image span {
       height: 230px;
}
}
@media only screen and (max-width: 479px){
     .wdt-pricing-table-holder[class*="-template-classic"] div[class*="-table-media"] .wdt-content-image span {
       height: 180px;
    }
}
