/* Registration Form */
.container > .container {
    padding: 0;
}
.wdt-registration-form{ display: grid ; gap: 40px; grid-template-columns: 1fr 1fr; padding: 20px; background-color: rgba(var(--wdtBodyBGColorRgb),1); width: 100%; max-width: 1200px;
border-radius: var(--wdtRadius_3X); margin: 0 auto; margin-bottom: 120px; border: none; background-color: var(--wdtQuaternaryColor); }
.wdt-registration-form > div { flex: 1 1 50%; height: 100%;}
.wdt-registration-form > div > img { width: 100%; height: 100%; object-fit: cover; object-position: center; border-radius: var(--wdtRadius_3X); }
.wdt-registration-form > div.sweetheart-form-content-group { padding: 30px 0; padding-right: 20px; color: var(--wdtAccentTxtColor); }
.wdt-registration-form form{ margin-top: 30px; }
.wdt-registration-form .sweetheart-custom-auth-sc-border-title h2{ text-align: center; color: var(--wdtAccentTxtColor); }
.wdt-registration-form .sweetheart-custom-auth-register-alert.invalid { text-align: center; color: red; margin-bottom: 10px; }
.wdt-registration-form .sweetheart-custom-auth-register-alert.success { text-align: center; color: lightgreen; margin-bottom: 10px; }
.wdt-registration-form p{ text-align: center; font-weight: calc(var(--wdtFontWeight_Base) - 100); margin-bottom: 20px; }
.wdt-registration-form p strong{ font-weight: calc(var(--wdtFontWeight_Base) - 100); }
.wdt-registration-form form p{ text-align: left; color: var(--wdtBodyTxtColor); }
.wdt-registration-form form p input{ background-color: rgba(var(--wdtAccentTxtColorRgb),1); color: var(--wdtBodyTxtColor); }
.wdt-registration-form form p:last-child{ text-align: center; color: var(--wdtAccentTxtColor); margin-bottom: 0; }
.wdt-registration-form form p a.sweetheart-pro-login-link{ color: var(--wdtAccentTxtColor); text-decoration: underline; text-decoration-color: transparent; }
.wdt-registration-form form p a.sweetheart-pro-login-link:hover{ text-decoration-color: currentColor; }
.wdt-registration-form form#loginform{ display: block; }
.sweetheart-pro-login-description {text-align: center;}
.wdt-registration-form input[type="submit"]{
width: 100%;
padding: var(--wdtPadding_Btn);
background-color: var(--wdtSecondaryColor);
color: var(--wdtAccentTxtColor);
font-family: var(--wdtFontTypo_Alt);
font-size: var(--wdtFontSize_H6);
}
.wdt-registration-form input[type="submit"]:hover{
background-color: var(--wdtAccentTxtColor);
color: var(--wdtSecondaryColor);
}
.sweetheart-pro-login-form-holder #loginform p {
margin: 0 0 0 0;
}
.sweetheart-pro-login-form-holder #login-message .error { text-align: center; color: red; }
.sweetheart-pro-login-form-holder #login-message:last-child .error { margin: 0; margin-top: 10px; }
.sweetheart-pro-login-form-holder #login-message:first-child .error { margin: 0; margin-bottom: 10px; }
.sweetheart-pro-login-form-holder #loginform {
display: grid;
grid-template-columns: repeat(1,1fr);
justify-content: space-between;
grid-gap: 20px;
}

/* Login form */

.sweetheart-pro-login-form-container{
display: block;
height: 100% !important;
margin: 0;
padding: 0;
pointer-events: none;
width: 100%;
z-index: 10000;
position: fixed;
bottom: 0;
left: 0;
right: 0;
top: 0;
}
.sweetheart-pro-login-form-overlay{
position: fixed;
bottom: 0;
left: 0;
right: 0;
top: 0;
z-index: 9999;
background:rgba(var(--wdtBodyBGColorRgb),1);
}
.sweetheart-pro-login-form-holder >*:not(:last-child),
.sweetheart-pro-login-form-container .sweetheart-pro-login-form >*:not(:last-child) {margin-bottom: 30px;}
.sweetheart-pro-login-form-container .sweetheart-pro-login-form input { background-color: var(--wdtAccentTxtColor); }
.sweetheart-pro-login-form-container .sweetheart-pro-login-form {display: grid;padding: 0;pointer-events: auto;position: absolute;left: 0;right: 0;/* top: 50%;
transform: translateY(-50%);
-webkit-transform: translateY(-50%); */background-color: rgba(var(--wdtBodyBGColorRgb),1);width: 100%;margin: auto;height: 100%;place-content: center;}
.sweetheart-pro-login-form-container .sweetheart-pro-login-form .sweetheart-pro-login-form-wrapper { background-color: rgba(var(--wdtQuaternaryColorRgb), .15);
    padding: 70px;border-radius: var(--wdtRadius_Zero);border: none;max-width: 820px;height: fit-content;overflow-y: auto;max-height: calc(100vh - 2*1.5em); border-radius: var(--wdtRadius_3X);}
.sweetheart-pro-login-form-container .sweetheart-pro-login-form .sweetheart-pro-title.sweetheart-pro-login-title{
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);  /*----min-20px and max-40px-----*/
}


#loginform .login-username, #loginform .login-password{
width: 100%;
}

#loginform .login-remember{
text-align: left;
}
/* #loginform p.login-remember input[type="checkbox"]{
opacity: 1;
-webkit-appearance: none;
appearance: none;
width: 1em;
height: 1em;
border: 1px solid var(--wdtBorderColor);
transform: translateY(-0.075em);
display: inline-grid;
place-content: center;
background: rgba(var(--wdtTertiaryColorRgb),.0);
border-radius: 2px;
padding: 0 0;
}
#loginform p.login-remember input[type="checkbox"]:after{
content: "";
width: 0.65em;
height: 0.65em;
clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
transform: scale(0);
transform-origin: bottom left;
transition: 120ms transform ease-in-out;
box-shadow: inset 1em 1em var(--wdtPrimaryColor);
}
#loginform p.login-remember input[type="checkbox"]:checked:after {
transform: scale(1);
} */

#loginform input[type="text"]:focus,
#loginform input[type="password"]:focus{
border-color: var(--wdtPrimaryColor);
}
#loginform .login-submit input[type="submit"]{
width: 100%;
background-color: var(--wdtPrimaryColor);
padding-top: 14px;
padding-bottom: 14px;
}
#loginform .login-submit input[type="submit"]:hover{
background-color: var(--wdtSecondaryColor);
color: var(--wdtAccentTxtColor);
}
.sweetheart-pro-social-logins-divider{
text-align: center;
margin: 20px 0;
}
.sweetheart-pro-title.sweetheart-pro-login-title h2{
text-align: center;
margin-top: 0;
}
.sweetheart-pro-login-form-container .sweetheart-pro-login-form .sweetheart-pro-login-form-holder p.tpl-forget-pwd{ margin-bottom: 0px; text-align: center; }
.sweetheart-pro-login-form-container .sweetheart-pro-login-form .sweetheart-pro-login-form-holder p.tpl-forget-pwd a{
color: var(--wdtSecondaryColor);
text-decoration: underline;
text-decoration-color: transparent;
transition: all 0.3s linear;
}
.sweetheart-pro-login-form-container .sweetheart-pro-login-form .sweetheart-pro-login-form-holder p.tpl-forget-pwd a:hover{
text-decoration-color: currentColor; color: var(--wdtPrimaryColor);
}

.sweetheart-pro-login-form-holder #loginform label:has(> #rememberme ) { display: flex; align-items: center; justify-content: center; pointer-events: none; }
.sweetheart-pro-login-form-holder #loginform label > #rememberme[type="checkbox"] { margin-right: 5px; }
.sweetheart-pro-login-form-holder #loginform label > #rememberme[type="checkbox"] { 
    appearance: none; width: 20px; height: 20px; border: 1px solid rgba(var(--wdtHeadAltColorRgb), 0.15); transform: translateY(-0.075em); 
    display: inline-grid ; place-content: center; background: rgba(var(--wdtBodyBGColorRgb), 1); border-radius: 2px; padding: 0 0 !important; 
    margin: 0 11px 0 0 !important; cursor: pointer; pointer-events: all; }
.sweetheart-pro-login-form-holder #loginform label > #rememberme[type="checkbox"]:checked:after { transform: scale(1); }
.sweetheart-pro-login-form-holder #loginform label > #rememberme[type="checkbox"]:after {
    content: ""; width: 0.65em; height: 0.65em; clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%); transform: scale(0); 
    transform-origin: bottom left; transition: 120ms transform ease-in-out; box-shadow: inset 1em 1em var(--wdtLinkHoverColor); }

.sweetheart-pro-login-form-holder #loginform button#wp-submit { color: var(--wdtAccentTxtColor); }
a.sweetheart-pro-social-facebook-connect,
a.sweetheart-pro-social-google-connect{
width: calc(100% - 20px);
padding: var(--wdtPadding_MiniBtn);
display: inline-block;
text-align: center;
/* background: var(--wdtAccentTxtColor); */
color: var(--wdt-elementor-color-black);
border-radius: var(--wdtRadius_3X);
box-shadow: rgba(var(--wdtLinkHoverColorRgb),1) 0 0 0px;
border: 1px solid var(--wdtLinkColor);
margin: 10px;
font-size: var(--wdtFontSize_Ext);
font-weight: var(--wdtFontWeight_Ext);
}

a.sweetheart-pro-social-google-connect:has( + a.sweetheart-pro-social-facebook-connect) {
width: calc(50% - 20px);}

a.sweetheart-pro-social-facebook-connect:hover,
a.sweetheart-pro-social-google-connect:hover {
background-color: var(--wdtSecondaryColor);
color: rgba(var(--wdtAccentTxtColorRgb),1);
border-color: rgba(var(--wdtSecondaryColorRgb),1);
}
a.sweetheart-pro-social-facebook-connect i,
a.sweetheart-pro-social-google-connect i{
margin-right: 10px;
}
.sweetheart-pro-login-form-container{
max-width: 1640px;
margin: auto;
}

@media only screen and (max-width:1540px) {
.sweetheart-pro-title.sweetheart-pro-login-title h2 {font-size: var(--wdtFontSize_H3);}
.sweetheart-pro-login-form #loginform {margin-top: 0;}
.sweetheart-pro-social-logins-divider {margin-top: 20px;margin-bottom: 30px;}
#loginform .login-submit {
margin-bottom: 0;
grid-area: 3/1;
}
}
@media screen and (min-width: 768px) and (max-width: 1540px){
.sweetheart-pro-login-form-holder #loginform {
grid-template-columns: repeat(2,1fr);
}
}
@media screen and (min-width:1281px) and (max-width: 1540px){
.sweetheart-pro-login-form-container{
max-width: 1080px;
margin: auto;
}

.sweetheart-pro-login-form-holder >*:not(:last-child),
.sweetheart-pro-login-form-container .sweetheart-pro-login-form >*:not(:last-child) {
margin-bottom: 20px;
}
}
@media screen and (min-width:1025px) and (max-width: 1280px){
.sweetheart-pro-login-form-container{
max-width: 900px;
margin: auto;
}    
}
@media screen and (min-width:768px) and (max-width: 1024px){
.sweetheart-pro-login-form-container{
max-width: 710px;
margin: auto;
}    
}
@media screen and (max-width: 767px){

.wdt-registration-form { gap: 0; grid-template-columns: none; } 
.wdt-registration-form > div { grid-area: 1/-1; } 
.wdt-registration-form > div.sweetheart-form-featured-image { position: relative; display: none; }
.wdt-registration-form > div.sweetheart-form-featured-image:before { position: absolute; content: ''; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(var(--wdtSecondaryColorRgb),.5);
border-radius: var(--wdtRadius_3X); z-index: 0; }
.wdt-registration-form > div.sweetheart-form-content-group { padding: 0px; padding-right: 0px; z-index: 1; }

#loginform .login-username, 
#loginform .login-password{
margin-bottom: 20px;
}
.sweetheart-pro-login-form-container {overflow: scroll;}
.sweetheart-pro-login-form-container .sweetheart-pro-login-form .sweetheart-pro-login-form-wrapper{
padding: 30px;
max-width: 420px;
margin: 0 20px;
width: calc(100% - 40px);
}
.sweetheart-pro-title.sweetheart-pro-login-title h2{
font-size: var(--wdtFontSize_H4);
}
.wdt-registration-form .sweetheart-custom-auth-sc-border-title h2{
font-size: var(--wdtFontSize_H3);
}
}
@media screen and (min-width:480px) and (max-width: 767px){
.sweetheart-pro-login-form-container{
margin: auto;
}    
}
@media screen and (max-width: 479px){
a.sweetheart-pro-social-facebook-connect, a.sweetheart-pro-social-google-connect {
padding: 10px;
}
.sweetheart-pro-login-form-container{
max-width: 100%;
margin: auto;
}    
.sweetheart-pro-title.sweetheart-pro-login-title h2{
font-size: var(--wdtFontSize_H4);
}
.wdt-registration-form .sweetheart-custom-auth-sc-border-title h2{
font-size: var(--wdtFontSize_H4);
}
}



/* After Registration */
.mu_register{
width: 100%;
margin: 0 auto;
max-width: 600px;
padding: 50px;
background: var(--wdtSecondaryColor);
box-shadow: rgba(0,0,0,.8) 0 0 40px;
border-radius: var(--wdtRadius_3X);
}
.mu_register h2{
font-size: var(--wdtFontSize_H4);
text-align: center;
}
.mu_register form input{
box-shadow: none;
-webkit-box-shadow: none;
border: 1px solid transparent;
}
.mu_register form input:focus{
border-color: var(--wdtPrimaryColor);
}
.mu_register form .wp-signup-username-description,
.mu_register form .wp-signup-email-description{
margin-bottom: 15px;
}
.mu_register p.submit{

margin-top: 20px;
}
.mu_register form p.submit input[type="submit"]{
font-size: var(--wdtFontSize_Base);
}
@media screen and (max-width: 479px){
.sweetheart-pro-login-form-container .sweetheart-pro-login-form .sweetheart-pro-login-form-wrapper {
padding: 20px;
margin: 0 15px;
width: calc(100% - 30px);
}
.mu_register{
padding: 30px;
}
}


@media only screen and (min-width:1281px) and (max-width:1540px) { .wdt-registration-form { margin-bottom: 100px; } }
@media only screen and (min-width:1025px) and (max-width:1280px) { .wdt-registration-form { margin-bottom: 80px; } }
@media only screen and (min-width:768px) and (max-width:1024px) { .wdt-registration-form { margin-bottom: 70px; } }
@media only screen and (min-width:480px) and (max-width:767px) { .wdt-registration-form { margin-bottom: 60px; } }
@media only screen and (max-width: 479px) { .wdt-registration-form { margin-bottom: 60px; } }