/* list */

.wdt-service-list {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr;
    padding: clamp(1.875rem, 1.625rem + 1.25vw, 3.125rem) 0; /*50px - 30px*/
    border-bottom: 1px solid rgb(var(--wdtBorderColorRgb),0.15);
    transition: var(--wdtBaseTransition);
    -webkit-transition: var(--wdtBaseTransition);
}


.wdt-service-list:first-child {
    padding-top: 0;
}


/* content group */

.wdt-service-list .wdt-service-content-group > div:not(:last-child) {
    margin-bottom: 20px;
}

.wdt-service-list .wdt-service-content-group .wdt-service-title h4 {
    margin: 0;
}

.wdt-service-list .wdt-service-content-group .wdt-service-author {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem); /*30px - 20px*/
}

.wdt-service-list .wdt-service-content-group .wdt-service-author .wdt-service-author-img img {
    border-radius: var(--wdtRadius_Full);
    -webkit-border-radius: var(--wdtRadius_Full);
    width: 30px;
    height: 30px;
    border: 1px solid rgb(var(--wdtBorderColorRgb),0.15);
}

.wdt-service-list .wdt-service-content-group .wdt-service-author .wdt-service-author-name-group {
    font-weight: var(--wdtFontWeight_Alt);
    line-height: var(--wdtLineHeight_Ext);
    color: var(--wdtHeadAltColor);
    text-transform: uppercase;
    font-family: var(--wdtFontTypo_Alt);
}

.wdt-service-list .wdt-service-content-group .wdt-service-author .wdt-service-author-name-group > span:first-child {
    margin-right: 6px;
}


/* Media Group */


.wdt-service-list .wdt-service-media-group .wdt-service-image-wrapper img {
    border: 2px solid rgb(var(--wdtBorderColorRgb),0.15);
    transition: var(--wdtBaseTransition);
    -webkit-transition: var(--wdtBaseTransition);
}

.wdt-service-list.active .wdt-service-media-group .wdt-service-image-wrapper img {
    border-color: var(--wdtPrimaryColor);
}

/* Info group */

.wdt-service-list .wdt-service-info-group > div:not(:last-child) {
    margin-bottom: 20px;
}

.wdt-service-list .wdt-service-info-group .wdt-service-detail-title h5 {
    margin: 0;
    font-size: var(--wdtFontSize_H6);
}

.wdt-service-list .wdt-service-info-group .wdt-service-detail-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 14px;
}

.wdt-service-list .wdt-service-info-group .wdt-service-detail-group > div {
    font-size: calc(var(--wdtFontSize_Base) - 2px);
    font-weight: var(--wdtFontWeight_Ext);
    text-transform: capitalize;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
}

.wdt-service-list .wdt-service-info-group .wdt-service-detail-group > div:before {
    content: '\e801';
    font-family: "bigboss-additional-icons";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: var(--wdtPrimaryColor);
    margin-right: 6px;
}

.wdt-service-list .wdt-service-info-group .wdt-service-detail-group label.wdt-service-label {
    color: var(--wdtHeadAltColor);
}




.wdt-service-list .wdt-service-info-group .wdt-service-btn-group a.wdt-button {
    -webkit-box-shadow: inset 0 0 0 2px rgba(var(--wdtAccentTxtColorRgb), 0.3);
    box-shadow: inset 0 0 0 2px rgba(var(--wdtAccentTxtColorRgb), 0.3);
}




/* ------------
popup box Style
--------------- */

.wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner:has( form.service-popup-form ) {
    padding: 30px;
    max-width: 500px;
}

/* popup form */

form.service-popup-form .select2-container { width: 100% !important; }

form.service-popup-form .wdt-cus-form-btn-group p,
form.service-popup-form .wdt-cus-form-btn-group p input[type="submit"] { width: 100%; }

/* ------------
popup box Style
--------------- */


/* ---------------
Image
----------------- */

.wdt-service-list .wdt-service-media-group .wdt-service-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* resposnive */

@media (min-width: 1025px) {
    .wdt-service-list .wdt-service-media-group {
        padding: 0 10%;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .wdt-service-list .wdt-service-media-group .wdt-service-image-wrapper {
        position: relative;
        width: 60%;
        height: 100%;
        display: inline-flex;
        justify-content: center;  
        transition: var(--wdtAltTransition);
        -webkit-transition: var(--wdtAltTransition);
    }

    .wdt-service-list.active .wdt-service-media-group .wdt-service-image-wrapper {
        width: 75%;
    }

    .wdt-service-list .wdt-service-media-group .wdt-service-image-wrapper img {
        position: absolute;
    }
}

@media (max-width: 1024px) {
    .wdt-service-list {
        grid-template-columns: 1fr;
    }
    .wdt-service-list > div.wdt-service-content-group {
        margin-bottom: 30px;
    }
    .wdt-service-list > div.wdt-service-media-group {
        margin-bottom: 20px;
    }
    .wdt-service-list .wdt-service-media-group {
        order: -1;
    }
    .wdt-service-list .wdt-service-content-group > div:not(:last-child) {
        margin-bottom: 10px;
    }
}